<div class="contact-page">
    <div class="title-global-page">Customer Contact</div>
    <div class="contact-header">
        <div class="contact-element contact-id">
            <span>Customer Account No.</span> <span ng-bind="customer_id"></span>
        </div>
        <div class="contact-element contact-company col-md-12">
            <div class="company col-md-6">
                <span>Name</span>: <span ng-bind="CustomerInfo.CustomerName"></span>
            </div>
            <div class="phone col-md-6">
                <span class="key">Telephone</span>
                <input type="text" ng-model="CustomerInfo.Phone" maxlength="20">
            </div>
        </div>
        <div class="contact-element contact-alias col-md-12">
            <div class="alias col-md-6">
                <span class="key">Alias</span>: <span class="value" ng-bind="CustomerInfo.Alias"></span>
            </div>
            <div class="facsimile col-md-6">
                <span class="key">Facsimile</span>
                <input type="text" ng-model="CustomerInfo.Facsimile" maxlength="20">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-body">
        <div class="module module-1 col-md-5">
            <div class="row no-margin">
                <div class="module-hour">
                    <div class="module-title">
                        Opening hours
                    </div>
                    <div class="module-body">
                        <form>
                            <div class="area-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Open</th>
                                            <th>Close</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="day in days">
                                            <td ng-bind="day.name"></td>
                                            <td>
                                                <input type="text" ng-model="CustomerInfo['Day' + day.key + 'Open']" maxlength="4">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="CustomerInfo['Day' + day.key + 'Close']" maxlength="4">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="area-button">
                                <button type="button" class="update-opening-hours" ng-click="updateOpeningHours(CustomerInfo)">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="module-additional">
                    <div class="row">
                        <div class="module-body col-xs-12">
                            <div class="row">
                                <form action="">
                                    <div class="area-table table-additional col-xs-9 float-thead-wrapper">
                                        <table andy-float-thead items="CustomerAdditional">
                                            <thead>
                                                <tr>
                                                    <th>Additional</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in CustomerAdditional" ng-click="selectItem(item, 'selected')">
                                                    <td>
                                                        <span ng-bind="item.Type"></span>
                                                        <span ng-show="item.selected == true" class="pull-right glyphicon glyphicon-ok"></span>
                                                    </td>
                                                    <td ng-bind="item.StartPoint"></td>
                                                    <td ng-bind="item.EndPoint"></td>
                                                </tr>
                                                <tr my-enter="addCustomerAdditional(Additional)">
                                                    <td>
                                                        <select ng-model="Additional.TimeType">
                                                            <option value="1">Shutdown</option>
                                                            <option value="2">Collection</option>
                                                            <option value="3">Other</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="Additional.StartPoint" maxlength="9">
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="Additional.EndPoint" maxlength="9">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="area-button col-xs-3 no-padding">
                                        <button type="button" class="remove-additional" ng-click="rmvAdditional(CustomerAdditional)">Rmv</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module module-2 col-md-7">
            <div class="module-contact">
                <div class="row">
                    <div class="module-title col-xs-2 bold border color-title">Contacts</div>
                </div>
                <div class="row">
                    <div class="module-body col-xs-12">
                        <div class="row">
                            <div class="body-title content-right">
                                'AC' -Acknowledgement contact
                            </div>
                        </div>
                        <div class="row">
                            <div class="area-table col-xs-10 no-padding float-thead-wrapper">
                                <table andy-float-thead items="CustomerContacts">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Ext</th>
                                            <th>Position</th>
                                            <th>Email</th>
                                            <th>Pr</th>
                                            <th>AC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in CustomerContacts" ng-class="{'tr-active': item.selected}">
                                            <td ng-click="selectItem(item, 'selected')">
                                                <input class="pull-left" type="text" ng-model="item.ContactName" maxlength="45">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="item.Phone" maxlength="13">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="item.Extension">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="item.Position" maxlength="25">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="item.Email" maxlength="50">
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="item.PrimaryContact" ng-true-value="1" ng-false-value="0">
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="item.AcknowContact" ng-true-value="1" ng-false-value="0">
                                            </td>
                                        </tr>
                                        <tr my-enter="addContact(CustomerContact)">
                                            <td>
                                                <input class="pull-left" type="text" ng-model="CustomerContact.ContactName" name="ContactName" maxlength="45">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="CustomerContact.Phone" name="Phone" maxlength="13">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="CustomerContact.Extension">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="CustomerContact.Position" name="Position" maxlength="25">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="CustomerContact.Email" name="Email" required maxlength="50">
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="CustomerContact.PrimaryContact">
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="CustomerContact.AcknowContact">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="area-button col-xs-2">
                                <button class="update-contact" type="button" ng-click="updateContact(CustomerContacts)">Update Contact</button>
                                <button class="remove-contact" type="button" ng-click="rmvContact(CustomerContacts)">Rmv Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="module-freeform">
                <span>Freeform Notes</span>
                <div class="clearfix"></div>
                <div class="module-body">
                    <div class="area-button">
                        <button type="button" class="remove-freeform" ng-click="rmvNote(CustomerNotes)">Rmv</button>
                    </div>
                    <div class="area-table">
                        <table>
                            <tr ng-repeat="item in CustomerNotes" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                <td>
                                    <span ng-bind="item.Note"></span>
                                </td>
                            </tr>
                            <tr my-enter="addNote(Note)">
                                <td>
                                    <input type="text" ng-model="Note" maxlength="100">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="col-md-12">
            <button ng-click="redirectBack()">Back</button>
        </div>
    </div>
</div>
