<div class="col-xs-12 notes-tab">
    <div class="row">
        <div class="esl-notes col-xs-12">
            <div class="row">
                <div class="notes-table col-xs-11">
                    <div class="area-table float-thead-wrapper">
                        <table andy-float-thead items="PartTemplateNotes">
                            <thead>
                                <tr>
                                    <th>
                                        ESL internal Notes
                                    </th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in PartTemplateNotes">
                                    <td ng-bind="item.PartNote"></td>
                                    <td ng-bind="item.NoteDate | timeFormat: 'DD/MM/YYYY'"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" maxlength="80" ng-model="Note">
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="notes-add col-xs-1 no-padding">
                    <button ng-click="AddNote(Note)">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="part-remarks col-xs-12">
            <div class="row">
                <div class="remarks-table col-xs-11">
                    <div class="area-table float-thead-wrapper">
                        <table andy-float-thead items="PartTemplateRemarks">
                            <thead>
                                <tr>
                                    <th>
                                        Part Remarks
                                    </th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in PartTemplateRemarks">
                                    <td ng-bind="item.PartRemark"></td>
                                    <td ng-bind="item.RemarkDate | timeFormat: 'DD/MM/YYYY'"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" maxlength="45" ng-model="Remark">
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="remarks-add col-xs-1 no-padding">
                    <button ng-click="AddRemark(Remark)">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
