<div id="rfq" class="tab-pane rfq-tab">
    <div class="tab-title">
        <span>ESL Contact</span>
        <select ng-model="Contact" ng-options="option as option.UName for option in ContactList"></select>
    </div>
    <div class="tab-body">
        <div class="area-table float-thead-wrapper">
            <table andy-float-thead items="SelectedSuppliers">
                <thead>
                    <tr>
                        <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in SelectedSuppliers | orderBy : sortBy : reverse" ng-click="selectOneItem(SelectedSuppliers, item, 'selected')" ng-class="{'tr-active': item.selected}">
                        <td>
                            <select ng-model="item.SupplierID" ng-options="option as option.SupplierName for option in SupplierList">
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="item.TotalCost" ng-change="updateSupplierCost(item)">
                        </td>
                        <td>
                            <input type="text" ng-model="item.DeliveryPrice" ng-change="updateSupplierCost(item)">
                        </td>
                    </tr>
                    <tr my-enter="AddRFQ(itemAddRFQ)">
                        <td>
                            <select ng-model="itemAddRFQ.SupplierID" ng-options="option as option.SupplierName for option in SupplierList">
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="itemAddRFQ.TotalCost">
                        </td>
                        <td>
                            <input type="text" ng-model="itemAddRFQ.DeliveryPrice">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-control">
            <span class="up-control" ng-click="reverse = false"></span>
            <span>sort</span>
            <span class="down-control" ng-click="reverse = true"></span>
        </div>
    </div>
    <div class="tab-footer">
        <span ng-bind="SelectedSuppliers | currentIndex"></span>
        <span class="prev-control" ng-click="selectPrevItem(SelectedSuppliers)"></span>
        <span class="next-control" ng-click="selectNextItem(SelectedSuppliers)"></span>
        <span ng-bind="SelectedSuppliers.length"></span>
        <button type="button" ng-click="RaiseRFQ()">Raise RFQ</button>
        <button type="button" ng-click="generateEmail()" class="generate-email">Generate email</button>
    </div>
</div>
