<div class="supply-contact-page">
    <div class="title-global-page">Supply Chain Contact</div>
    <div class="contact-header">
        <div class="contact-element contact-id">
            <span>Supplier Account No.</span> <span ng-bind="SupplierID"></span>
        </div>
        <div class="contact-element contact-company col-xs-12">
            <div class="company col-xs-6">
                <span>Name </span><span ng-bind="SupplierDetail.Supplier"></span>
            </div>
        </div>
        <div class="contact-element contact-alias col-xs-12">
            <div class="alias col-xs-6">
                <span class="key">Alias </span><span class="value" ng-bind="SupplierDetail.Alias"></span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-body">
        <div class="module module-1 col-xs-4">
            <div class="row">
                <div class="module-hour col-xs-12">
                    <div class="row">
                        <div class="module-title col-xs-12">
                            Opening hours
                        </div>
                    </div>
                    <div class="row">
                        <div class="module-body col-xs-12">
                            <form>
                                <div class="row">
                                    <div class="area-opening-hour col-xs-12">
                                        <div class="row">
                                            <div class="area-table col-xs-10">
                                                <table>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Open</th>
                                                        <th>Close</th>
                                                    </tr>
                                                    <tr ng-repeat="day in days">
                                                        <td ng-bind="day.name"></td>
                                                        <td>
                                                            <input type="text" ng-model="OpenHours['Day' + day.key + 'Open']" maxlength="4">
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="OpenHours['Day' + day.key + 'Close']" maxlength="4">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="area-button col-xs-2 no-padding">
                                                <button ng-click="UpdateOpenHours(OpenHours)">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module-additional">
                <div class="row">
                    <div class="module-body col-xs-12">
                        <div class="row">
                            <div class="additional-table">
                                <div class="area-table float-thead-wrapper">
                                    <table andy-float-thead items="SupplierAdditional">
                                        <thead>
                                            <tr>
                                                <th>Additional</th>
                                                <th>Start</th>
                                                <th>End</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in SupplierAdditional" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                                <td ng-bind="item.Additional"></td>
                                                <td ng-bind="item.StartPoint"></td>
                                                <td ng-bind="item.EndPoint"></td>
                                            </tr>
                                            <tr my-enter="AddSupplierAdditional(Additional)">
                                                <td>
                                                    <select ng-model="Additional.AdditionalTypeID" ng-options="option as option.name for option in ListAdditionalContact"></select>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="Additional.StartPoint" maxlength="9">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="Additional.EndPoint" maxlength="9">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="area-button col-xs-1">
                                <button type="button" class="remove-additional" ng-click="RmvAdditional(SupplierAdditional)">Rmv</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module module-personnel col-xs-2">
            <div class="module-body">
                <form>
                    <div class="area-table">
                        <table>
                            <tr>
                                <th>Personnel</th>
                                <th>No.</th>
                            </tr>
                            <tr>
                                <td>Manu. (Direct)</td>
                                <td>
                                    <input type="text" ng-model="SupplierPersonnel.Type1" ng-blur="UpdatePersonnel(SupplierPersonnel)" valid-number>
                                </td>
                            </tr>
                            <tr>
                                <td>Manu. (Indirect)</td>
                                <td>
                                    <input type="text" ng-model="SupplierPersonnel.Type2" ng-blur="UpdatePersonnel(SupplierPersonnel)" valid-number>
                                </td>
                            </tr>
                            <tr>
                                <td>Quality</td>
                                <td>
                                    <input type="text" ng-model="SupplierPersonnel.Type3" ng-blur="UpdatePersonnel(SupplierPersonnel)" valid-number>
                                </td>
                            </tr>
                            <tr>
                                <td>Engineering</td>
                                <td>
                                    <input type="text" ng-model="SupplierPersonnel.Type4" ng-blur="UpdatePersonnel(SupplierPersonnel)" valid-number>
                                </td>
                            </tr>
                            <tr>
                                <td>Other</td>
                                <td>
                                    <input type="text" ng-model="SupplierPersonnel.Type5" ng-blur="UpdatePersonnel(SupplierPersonnel)" valid-number>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Total:</b></td>
                                <td><b ng-bind="Total"></b></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="module module-2 col-xs-6">
            <div class="module-contact">
                <div class="row">
                    <div class="module-title col-xs-2 bold border color-title">Contacts</div>
                </div>
                <div class="row">
                    <div class="module-body col-xs-12">
                        <div class="row">
                            <div class="area-opening-hour col-xs-12"></div>
                            <div class="table-contact col-xs-10 no-padding">
                                <div class="area-table float-thead-wrapper">
                                    <table andy-float-thead items="SupplierContacts">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Prime</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in SupplierContacts" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                                <td ng-bind="item.ContactName">
                                                </td>
                                                <td ng-bind="item.Phone"></td>
                                                <td ng-bind="item.Email"></td>
                                                <td>
                                                    <input type="checkbox" ng-bind="item.Prime" ng-checked="item.Prime == 1">
                                                </td>
                                            </tr>
                                            <tr my-enter="AddSupplierContact(SupplierContact)">
                                                <td>
                                                    <input type="text" ng-model="SupplierContact.ContactName" name="ContactName" maxlength="45">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="SupplierContact.Phone" name="Phone" maxlength="13">
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="SupplierContact.Email" name="Email" maxlength="50">
                                                </td>
                                                <td>
                                                    <input type="checkbox" ng-model="SupplierContact.Prime">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="area-button col-xs-2">
                                <button type="button" class="remove-contact" ng-click="RmvContact(SupplierContacts)">Rmv Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="module-freeform">
                <span>Freeform Notes</span>
                <div class="clearfix"></div>
                <div class="module-body">
                    <div class="area-table">
                        <table>
                            <tr ng-repeat="item in SupplierNotes">
                                <td ng-bind="item.Note"></td>
                            </tr>
                            <tr my-enter="AddNote(Note)">
                                <td>
                                    <input type="text" ng-model="Note" maxlength="100">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="col-xs-12">
            <button ng-click="redirectCustomer()">Back</button>
        </div>
    </div>
</div>
