<div id="tab-materialIssue" class="tab_content">
    <div class="option-search">
        <p class="title-top">
            Search:
        </p>
        <div class="col-xs-offset-1 col-xs-1">
            <p class="title">
                Required:.
            </p>
        </div>
        <div class="col-xs-1 src-description input">
            <p>
                Material
            </p>
            <input type="text" ng-model="WOMaterialDetail.MaterialSpec" />
        </div>
        <div class="col-xs-1 src-size input">
            <p>
                Size
            </p>
            <input type="text" ng-model="WOMaterialDetail.Size" />
        </div>
        <div class="col-xs-1 src-units input">
            <p>
                Units
            </p>
            <select ng-model="WOMaterialDetail.UnitID" ng-options="option as option.name for option in Units">
            </select>
        </div>
        <div class="col-xs-1 src-shape select">
            <p>
                Shape
            </p>
            <select ng-model="WOMaterialDetail.fkShapeID" ng-options="option as option.Description for option in MaterialShapes">
            </select>
        </div>
        <div class="col-xs-1 src-partlength input">
            <p>
                Part length
            </p>
            <input type="text" ng-model="WOMaterialDetail.PartLength" />
            <span>mm</span>
        </div>
        <div class="col-xs-2 src-approval select">
            <p>
                Approval
            </p>
            <select ng-model="WOMaterialDetail.ApprovalID" ng-options="option as option.Description for option in AllApprovalList">
            </select>
        </div>
        <div class="col-xs-2 src-sup input select">
            <p>
                SPU
            </p>
            <input type="text" ng-model="WOMaterialDetail.SPUNo" />
            <select ng-model="WOMaterialDetail.SPUID" ng-options="option as option.Description for option in UOMList"></select>
        </div>
    </div>
    <div class="col-xs-12">
    </div>
    <div class="content-material col-xs-3 no-padding">
        <div class="col-xs-3 text-right no-padding">
            <p>GRB No.</p>
            <p>Material</p>
        </div>
        <div class="col-xs-9 text-left">
            <p>
                <input class="grp" type="text" ng-model="GRB" ng-change="SearchMaterial(GRB, Spec)" />
            </p>
            <p>
                <input class="material" type="text" maxlength="6" ng-model="Spec" ng-change="SearchMaterial(GRB, Spec)" />
            </p>
        </div>
    </div>
    <div class="content-table col-xs-7 no-padding-right">
        <div class="table-control">
            <span class="up-control" ng-click="reverse = false"></span>
            <span>sort</span>
            <span class="down-control" ng-click="reverse = true"></span>
        </div>
        <div class="area-table table-main float-thead-wrapper">
            <table andy-float-thead items="MaterialInStock">
                <thead>
                    <tr>
                        <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in MaterialInStock | orderBy : sortBy : reverse" ng-click="selectOneItem(MaterialInStock, item)" ng-class="{'tr-active': item.selected}">
                        <td class="col-xs-1 no-padding" ng-bind="item.GRBNo"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.Spec"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.Size"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.Units"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.Shape"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.ReleaseLevel"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.PurchaseLength"></td>
                        <td class="col-xs-2 no-padding" ng-bind="item.DateIn | timeFormat: 'DD/MM/YYYY'"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.OrderQty"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.InStock"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.Location"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-button col-xs-2">
        <button ng-click="ReserveMaterial(MaterialInStock, QtyReserve)" class="copy-address float-right">Reserve</button>
        <div class="col-xs-12 space"></div>
        <div class="text-left col-xs-3">Qty to reserve</div>
        <div class="text-right col-xs-9">
            <input type="text" class="qty-reserve" ng-model="QtyReserve" />
        </div>
        <div class="col-xs-12 issue">
            <button ng-click="IssueMaterialForWO()">Issue</button>
        </div>
        <div class="col-xs-12" ng-show="checkQty">
            <p class="warning">This falls shoft off the required qty. Please create Another WO for the shoftfall</p>
        </div>
    </div>
    <!-- <div class="col-xs-offset-4 col-xs-5 text-description">
        
    </div> -->
    <div class="col-xs-12 box-bottom">
        <div class="col-xs-6">
            <div class="bottom-table float-thead-wrapper">
                <table andy-float-thead items="IntMaterialNotes">
                    <thead>
                        <tr>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in IntMaterialNotes">
                            <td ng-bind="item.Note"></td>
                        </tr>
                        <tr my-enter="AddMaterialNote(MaterialNote)">
                            <td>
                                <input type="text" maxlength="80" ng-model="MaterialNote" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 bottom-text">
            <p class="designated-machine">Designated Machine <span ng-bind="WOMaterialDetail.Machine"></span></p>
            <p ng-show="isStore">Store will be informed to being cuting / issuing the selected material, one the 'issue' button is clicked</p>
            <button type="submit" class="addPOButton" ng-click="redirectPurchaseOrderPage()">Add PO</button>
        </div>
    </div>
</div>