<div id="notes" class="tab-pane notes-tab">
    <div class="col-md-12 tab-content">
        <div class="tab-title">Progress: </div>
        <div class="tab-body">
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="OrderProgress">
                    <thead>
                        <tr>
                            <th>Staff member</th>
                            <th>Contact type</th>
                            <th>Progress Notes</th>
                            <th>Date</th>
                            <th>Chase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OrderProgress">
                            <td ng-bind="item.StaffMember"></td>
                            <td>
                                <select ng-model="item.ContactTypeID" ng-options="option as option.name for option in ContactTypes">
                                </select>
                            </td>
                            <td ng-bind="item.Progress"></td>
                            <td ng-bind="item.CreateDate | timeFormat: 'DD/MM/YYYY'"></td>
                            <td>{{item.Chase == 1 ? 'Y' : 'N'}}</td>
                        </tr>
                        <tr my-enter="AddOrderProgress(OrderProgressItem)">
                            <td></td>
                            <td>
                                <select ng-model="OrderProgressItem.ContactType" ng-options="option as option.name for option in ContactTypes">
                                </select>
                            </td>
                            <td>
                                <input type="text" ng-model="OrderProgressItem.Progress" maxlength="50">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" ng-model="OrderProgressItem.Chase" ng-true-value="1" ng-false-value="0">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
