<div class="machine-control">
    <div class="container-fluid">
        <div class="row">
            <div class="top col-xs-12">
                <div class="row">
                    <div class="title-global-page">Machine Control</div>
                    <div class="left col-xs-6">
                        <div class="table-control">
                            <span class="up-control" ng-click="reverse = false"></span>
                            <span>sort</span>
                            <span class="down-control" ng-click="reverse = true"></span>
                        </div>
                        <div class="main-table">
                            <div class="float-thead-wrapper area-table">
                                <table andy-float-thead items="MachineListDetails">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[0], 'selected'); changeSortBy(sortTable[0])" ng-class="{'th-active': sortTable[0].selected}">Mcn ID</th>
                                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[1], 'selected'); changeSortBy(sortTable[1])" ng-class="{'th-active': sortTable[1].selected}">Manufacturer</th>
                                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[2], 'selected'); changeSortBy(sortTable[2])" ng-class="{'th-active': sortTable[2].selected}">Model</th>
                                            <th colspan="2">Service Dates</th>
                                        </tr>
                                        <tr>
                                            <th ng-click="selectOneItem(sortTable, sortTable[3], 'selected'); changeSortBy(sortTable[3])" ng-class="{'th-active': sortTable[3].selected}">Start</th>
                                            <th ng-click="selectOneItem(sortTable, sortTable[4], 'selected'); changeSortBy(sortTable[4])" ng-class="{'th-active': sortTable[4].selected}">End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in MachineListDetails | orderBy : sortBy : reverse" ng-click="selectOneItem(MachineListDetails, item); selectMachine(item)" ng-class="{'tr-active': item.selected}">
                                            <td ng-bind="item.MachineID"></td>
                                            <td ng-bind="item.Manufacturer"></td>
                                            <td ng-bind="item.Model"></td>
                                            <td>
                                                <input class="col-xs-10 no-padding" ng-model="item.ServiceStart" ng-change="AddMachine(item)"></input>
                                            </td>
                                            <td>
                                                <input class="col-xs-10 no-padding" ng-model="item.ServiceEnd" ng-change="AddMachine(item)"></input>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="right col-xs-6">
                        <div class="row">
                            <div class="left col-xs-6">
                                <!-- <p>Dugard</p>
                                <p class="eag">Eagle 200</p> -->
                                <img class="img" src="../../assets/images/Dugard_Eagle_200.jpg" alt="">
                                <br>
                                <span>Difficullty level : </span>
                                <input type="text" value="{{MachineStats.DifficultyLevel}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom col-xs-12">
                <div class="row">
                    <div class="left col-xs-5">
                        <div class="top">
                            <p>Lubricant / coolant:</p>
                            <div class="ar">
                                <span>Concentration check : </span>
                                <input type="text" value="{{MachineStats.ConcCheck | timeFormat: 'DD/MM/YYYY'}}"><span class="by">by</span>
                                <input type="text" class="dave" value="{{MachineStats.ConcUser}}">
                                <br>
                                <span>Lubricant change :</span>
                                <input type="text" value="{{MachineStats.LubeCheck | timeFormat: 'DD/MM/YYYY'}}"><span class="by">by</span>
                                <input type="text" value="{{MachineStats.LubeUser}}">
                            </div>
                        </div>
                        <div class="bottom">
                            <p>Hydraulics :</p>
                            <div class="ar">
                                <span>Oil level check : </span>
                                <input type="text" value="{{MachineStats.LevelCheck | timeFormat: 'DD/MM/YYYY'}}"><span class="by">by</span>
                                <input type="text" class="dave" value="{{MachineStats.ConcUser}}">
                                <br>
                                <span>Oil pressure chk :</span>
                                <input type="text" value="{{MachineStats.PressureCheck | timeFormat: 'DD/MM/YYYY'}}"><span class="by">by</span>
                                <input type="text" value="{{MachineStats.PressureUser}}">
                            </div>
                        </div>
                    </div>
                    <div class="right col-xs-7">
                        <div class="tooling-table">
                            <div class="area-table">
                                <table>
                                    <tr>
                                        <th rowspan="2" class="cl-brown">Tooling</th>
                                        <th colspan="2" class="cl-light-blue">Month</th>
                                        <th colspan="2" class="cl-light-blue">Quarter</th>
                                        <th colspan="2" class="cl-light-blue">Year</th>
                                    </tr>
                                    <tr>
                                        <th class="cl-blue">This</th>
                                        <th>Last</th>
                                        <th class="cl-blue">This</th>
                                        <th>Last</th>
                                        <th class="cl-blue">This</th>
                                        <th>Last</th>
                                    </tr>
                                    <tr>
                                        <td class="bg-brown-cl-white">Tools used</td>
                                        <td class="cl-blue" ng-bind="MachineStats.ThisMonth"></td>
                                        <td ng-bind="MachineStats.LastMonth"></td>
                                        <td class="cl-blue" ng-bind="MachineStats.ThisQuarter"></td>
                                        <td ng-bind="MachineStats.LastQuarter"></td>
                                        <td class="cl-blue" ng-bind="MachineStats.ThisYear"></td>
                                        <td ng-bind="MachineStats.LastYear"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-brown-cl-white">Tooling cost</td>
                                        <td class="cl-blue" ng-bind="MachineStats.ThisMonth"></td>
                                        <td ng-bind="MachineStats.LastMonth"></td>
                                        <td class="cl-blue" ng-bind="MachineStats.ThisQuarter"></td>
                                        <td ng-bind="MachineStats.LastQuarter"></td>
                                        <td class="cl-blue" ng-bind="MachineStats.ThisYear"></td>
                                        <td ng-bind="MachineStats.LastYear"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="maintenance-table">
                            <div class="area-table">
                                <table>
                                    <tr>
                                        <th rowspan="2" class="cl-brown">Maintenance</th>
                                        <th class="cl-light-blue">Date</th>
                                        <th class="cl-light-blue">Issue</th>
                                        <th class="cl-light-blue">Resolution</th>
                                    </tr>
                                    <tr>
                                        <th ng-bind="MaintenanceStats.CreateDate | timeFormat: 'DD/MM/YYYY'"></th>
                                        <th ng-bind="MaintenanceStats.Issue"></th>
                                        <th ng-bind="MaintenanceStats.Resolution"></th>
                                    </tr>
                                    <tr>
                                        <td class="bg-brown-cl-white">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-brown-cl-white">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="area-button">
                            <button ng-click="redirectBack()" type="button">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
