<div id="supplier" class="tab-pane supplier-tab">
    <form name="UpdatePOSupplierForm" novalidate ng-submit="UpdatePOSupplierForm.$valid && UpdatePOSupplier(POSupplierDetail)">
        <div class="area supplier">
            <span>Supplier</span>
            <select ng-model="POSupplierDetail.SupplierID" ng-options="option as option.SupplierName for option in SupplierList" ng-change="SelectSupplier(POSupplierDetail.SupplierID)" name="supplier" required>
            </select>
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.supplier.$error.required">Supplier required</p>
            </div>
        </div>
        <div class="area supplier-ref">
            <span>Supplier Ref</span>
            <input type="text" ng-model="POSupplierDetail.SupplierRef" maxlength="45" name="supplier_ref" />
        </div>
        <div class="area client-contact">
            <span>Client Contact</span>
            <select ng-model="POSupplierDetail.ClientContactID" ng-options="option as option.ContactName for option in SupplierContacts" name="client_contact" required>
            </select>
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.client_contact.$error.required">Client Contact required</p>
            </div>
        </div>
        <div class="area delivery-charge">
            <span>Delivery Charge</span>
            <input type="text" ng-model="POSupplierDetail.DeliveryCharge" ng-change="TotalNetOrder(POSupplierDetail)" maxlength="6" name="delivery_charge" required ng-pattern="/^(\d{1,5}|\d{1,4}\.\d{1}|\d{1,3}\.\d{1,2})$/" />
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.delivery_charge.$error.required">Delivery Charge required</p>
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.delivery_charge.$error.pattern">Delivery Charge must be decimal(5,2)</p>
            </div>
        </div>
        <div class="area certification">
            <span class="span-certification">Certification</span>
            <input type="text" class="input-certification" maxlength="6" ng-model="POSupplierDetail.CertCharge" ng-change="TotalNetOrder(POSupplierDetail)" name="certification" required ng-pattern="/^(\d{1,5}|\d{1,4}\.\d{1}|\d{1,3}\.\d{1,2})$/" />
            <span class="total-cost">Total Net Order Cost</span>
            <span class="value-total-cost">
                <input type="text" placeholder="&#8356;" ng-model="POSupplierDetail.TotalNetCost" readonly />
            </span>
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.certification.$error.required">Certification required</p>
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.certification.$error.pattern">Certification must be decimal(5,2)</p>
            </div>
        </div>
        <div class="area approval">
            <span>Approval</span>
            <input type="text" ng-model="POSupplierDetail.ApprovalComment" maxlength="80" name="approval" required />
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.approval.$error.required">Approval required</p>
            </div>
        </div>
        <div class="area delivery-days">
            <span>Delivery Days</span>
            <input type="text" ng-model="POSupplierDetail.DeliveryDays" maxlength="6" name="delivery_days" ng-pattern="/^\d+$/" />
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.delivery_days.$error.pattern">Delivery Days must be number</p>
            </div>
        </div>
        <div class="area delivery-date">
            <span>Delivery Date</span>
            <input type="text" ng-model="POSupplierDetail.DeliveryDate" name="delivery_date" ng-pattern="/^(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$/" />
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.delivery_date.$error.pattern">Delivery Date must be dd/mm/yyyy</p>
            </div>
        </div>
        <div class="area del-comments">
            <span>Del Comments</span>
            <select ng-model="POSupplierDetail.DeliveryCommentID" ng-options="option as option.DeliveryComment for option in DeliveryCommentsList" name="del_comments" required>
            </select>
            <div class="errors">
                <p ng-show="UpdatePOSupplierForm.$submitted && UpdatePOSupplierForm.del_comments.$error.required">Del Comments required</p>
            </div>
        </div>
        <div class="update">
            <button>Update</button>
        </div>
    </form>
</div>
