<div class="purchase-order">
    <div class="page-body">
        <div class="title-global-page">Purchase Order</div>
        <div class="page-top">
            <div class="top-item col-md-11">
                <div class="row row-1">
                    <div class="col-md-10 area">
                        <div class="area-1 col-md-6">
                            <div class="area-title col-md-4 no-padding">
                                Part No. search
                            </div>
                            <div class="area-input col-md-6 no-padding">
                                <search-input search-input-model="searchInputModel" procedure="ProcPartSearchList" search-key="SearchField" ng-model-options="{debounce: 500}" display-key="PartNumber | Issue | Qty | Description | PONo | Raised | RFQNo" on-select="PartNoSelected"></search-input>
                            </div>
                        </div>
                        <div class="area-2 col-md-3">
                            <div class="area-title col-md-6 no-padding">
                                PO search
                            </div>
                            <div class="area-input col-md-6 no-padding">
                                <search-input search-input-model="searchPOModel" procedure="ProcPOSearchList" search-key="POSearchField" ng-model-options="{debounce: 500}" display-key="PONo" on-select="PONoSelected"></search-input>
                            </div>
                        </div>
                        <div class="area-3 col-md-3 no-padding">
                            <div class="area-title col-md-6 no-padding-left">
                                RFQ search
                            </div>
                            <div class="area-input col-md-6 no-padding-left">
                                <search-input search-input-model="searchRFQModel" procedure="ProcRFQSearchList" search-key="RFQSearchField" ng-model-options="{debounce: 500}" display-key="RFQNo" on-select="RFQNoSelected"></search-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="area">
                        <span class="area-1">
                                <label for="">selected RFQ</label>
                                <input type="text" ng-model="PurchaseOrderDetail.RFQNo" readonly>
                            </span>
                        <span class="area-2">
                                <label for="">selected PO</label>
                                <input type="text" ng-model="PurchaseOrderDetail.PONo" readonly>
                            </span>
                        <span class="area-3">
                                <label for="">Raised</label>
                                <input type="text" ng-model="PurchaseOrderDetail.Raised">
                            </span>
                        <span class="area-4">
                                <label for="">Complete</label>
                                <input type="checkbox" value="1" ng-model="PurchaseOrderDetail.Complete" ng-checked="PurchaseOrderDetail.Complete == 1" ng-click="POComplete()">
                            </span>
                    </div>
                </div>
            </div>
            <div class="top-button col-md-1">
                <button class="new-purchase" ng-click="AddNewRFQ()">New</button>
            </div>
        </div>
        <div class="page-tab">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.details({RFQNo: PurchaseOrderDetail.RFQNo})" ui-sref-opts="{location: false}">Details</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.instructions({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Instructions / Comments</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.supplier({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Supplier & Approval</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.rfq({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">R.F.Q.</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.raise({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Raise/Copy PO</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.notes({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Notes and follow up</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.material-search({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Material search</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.invoice({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Invoice</a></li>
                <li ui-sref-active="active"><a ui-sref="department.purchase-order.quality({RFQNo: PurchaseOrderDetail.RFQNo, PONo: PurchaseOrderDetail.PONo, PartNumber: PurchaseOrderDetail.PartNumber, Issue: PurchaseOrderDetail.Issue, Qty: PurchaseOrderDetail.Qty, Raised: PurchaseOrderDetail.Raised, Description: PurchaseOrderDetail.Description})" ui-sref-opts="{location: false}">Quality</a></li>
            </ul>
            <div class="tab-content">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
