<div class="tab-pane details-tab">
    <div class="row">
        <div class="col-md-12 area">
            <div class="area-1">
                <div class="area-quote">
                    <label for="">Quote raised</label>
                    <input type="text" ng-model="RFQPODetail.QuoteRaised">
                </div>
                <div class="area-po">
                    <label for="">PO type: </label>
                    <select ng-model="POItemDetail.POType" ng-options="option as option.name for option in POTypes" ng-change="changePOType(POItemDetail.POType)">
                    </select>
                </div>
            </div>
            <div class="area-2">
                <div class="table-workorder">
                    <div class="table-title">Work Orders</div>
                    <div class="area-table float-thead-wrapper">
                        <table andy-float-thead items="SelectedWODetail">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="WODetail === undefined">
                                    <td>
                                        <select ng-model="WorkOrder" ng-options="option as option.WONo for option in WOList" ng-change="changeWONo(WorkOrder)">
                                        </select>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr ng-hide="WODetail === undefined" ng-repeat="item in SelectedWODetail | orderBy: sortBy : reverse | unique:'PartNumber'">
                                    <td>
                                        <select ng-model="item.WONo" ng-options="option as option.WONo for option in WOList" ng-change="changeWONo(item.WONo)">
                                        </select>
                                    </td>
                                    <td ng-bind="item.PartNumber"></td>
                                    <td ng-bind="item.Qty"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-control">
                        <span class="up-control" ng-click="reverse = false"></span>
                        <span>sort</span>
                        <span class="down-control" ng-click="reverse = true"></span>
                    </div>
                </div>
                <div class="area-options">
                    <div class="row">
                        <div class="operation col-xs-2">
                            <label>Operation</label>
                            <input class="color-blue border currentOperation" type="text" ng-model="WODetail.OperationNo" maxlength="3"></input>
                            <label class="color-blue">of {{MaxOperation.OperationNo}}</label>
                        </div>
                        <div class="material col-xs-2">
                            <label for="" ng-bind="WODetail.OpDesc"></label>
                        </div>
                        <div class="link-btn col-xs-1 col-xs-offset-1">
                            <button type="button" ng-click="LinkToPOItem()">Link</button>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="options">
                            <div class="element element-1">
                                <div class="row">
                                    <div class="col-xs-2 item-number">
                                        <label>Item Number</label>
                                        <label class="color-blue" ng-bind="CurrentItem"></label>
                                    </div>
                                    <div class="col-xs-2 item-control">
                                        <span class="left-control" ng-click="getPOItemDetail('prev')"></span>
                                        <span class="right-control" ng-click="addNewItem()"></span>
                                        <span class="color-blue font-weight">of {{POItemDetail.TotalItems}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border">
                                <form name="OrderForm" ng-submit="OrderForm.$valid && UpdateOrder(POItemDetail)" novalidate>
                                    <div class="element element-2">
                                        <label class="label-quantity">Quantity</label>
                                        <input type="text" class="input-quantity" ng-model="POItemDetail.Qty" name="Qty" ng-change="totalPrice(PriceType, POItemDetail)" ng-pattern="/^\d+$/" maxlength="8" />
                                        <select ng-model="UOM" ng-options="option as option.name for option in UOMs" ng-show="POTypeOther1">
                                        </select>
                                        <label class="label-spu" ng-hide="POTypeOther1">SPU</label>
                                        <select ng-hide="POTypeOther1" ng-model="SPUDetail" ng-options="option as option.Description for option in UOMList" ng-change="POItemDetail.setSPUID(SPUDetail.pkUOMID)" name="SPUDetail">
                                        </select>
                                        <button class="save" type="submit">Save</button>
                                    </div>
                                    <div class="element element-3" ng-hide="POTypeOther1">
                                        <label>Size</label>
                                        <label>Units</label>
                                        <label>Shape</label>
                                        <div>
                                            <input type="text" class="size" ng-model="POItemDetail.Size" name="Size" maxlength="18">
                                            <select ng-model="UnitDetail" class="units" ng-options="option as option.name for option in UnitList" ng-change="POItemDetail.setUnitID(UnitDetail.value)" name="UnitDetail">
                                            </select>
                                            <select class="shape" ng-model="ShapeDetail" ng-options="option as option.Shape for option in ShapeList" ng-change="POItemDetail.setShapeID(ShapeDetail.ShapeID)" name="ShapeDetail">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="element">
                                        <label for="" class="label-description">Description</label>
                                        <input type="text" class="input-description" ng-model="POItemDetail.PartDescription" maxlength="45">
                                    </div>
                                    <div class="element">
                                        <label for="" class="label-comment">Comment</label>
                                        <input type="text" class="comment" ng-model="POItemDetail.Comment">
                                    </div>
                                    <div class="element no-margin">
                                        <label for="" class="label-price">Price</label>
                                        <input type="text" class="input-price" ng-change="totalPrice(PriceType, POItemDetail)" ng-model="POItemDetail.Price" name="Price" maxlength="8" ng-pattern="/(^\d{1,7}$)|(^\d{1,6}\.\d{1}$)|(^\d{1,5}\.\d{1,2}$)/">
                                        <select ng-model="PriceType" ng-change="totalPrice(PriceType, POItemDetail); POItemDetail.setPer(PriceType.value)" class="price-type" ng-options="option as option.name for option in PriceList" name="PriceType">
                                        </select>
                                        <label for="" class="label-total-price">Total Price</label>
                                        <span class="span-total-price currency-symbol currency-symbol-irish right">
                                                <input type="text" readonly ng-model="TotalPrice" ng-change="totalPrice(PriceType, POItemDetail)">
                                            </span>
                                    </div>
                                </form>
                            </div>
                            <button class="back" type="button" ng-click="redirectBack()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
