<div class="workorders-page">
    <div class="title-global-page">Work Order</div>
    <div class="page-body">
        <div class="row box first">
            <form id="id-header">
                <div class="titles-orders">
                    <div class="col-xs-11 titles-orders-first">
                        <div class="orders-check-box row">
                            <span>Search:</span>
                            <div class="order-item">
                                <label>Live Order</label>
                                <input type="radio" name="isLiveOrder" value="1" ng-model="isLiveOrder">
                            </div>
                            <div class="order-item">
                                <label>All</label>
                                <input type="radio" name="isLiveOrder" value="2" ng-model="isLiveOrder">
                            </div>
                        </div>
                        <div class="orders-input row">
                            <div class="col-sm-offset-1 col-sm-2">
                                <label>WO No.</label>
                                <search-input search-input-model="searchInputModel" procedure="ProcWorkOrderSearch" search-key="WOSearchField" display-key="pkWorkOrderID" other-field="{Live: isLiveOrder}" on-select="WorkOrderNoSelected"></search-input>
                            </div>
                            <div class="col-sm-2">
                                <label>Part No.</label>
                                <input class="full-width" type="text" name="partno" maxlength="25" class="input-quote" list="PONoList" ng-model="PONo" value="{{PONo}}" ng-keyup="ChoosePONo($event)" ng-model-options="{debounce: 500}" ng-change="changeSelectedPO(PONo)" />
                                <datalist id="PONoList">
                                    <option value="{{item.PartNumber}}" ng-repeat="item in PONoList"></option>
                                </datalist>
                            </div>
                            <div class="col-sm-2">
                                <label class="left-none">Matching Work Order:</label>
                                <select ng-model="WorkOrdersForPart" ng-options="option as option.pkWorkOrderID for option in WorkOrdersForParts" ng-change="changeWorkOrdersForPart(WorkOrdersForPart)">
                                </select>
                            </div>
                            <div class="col-sm-5 part-of-customer-order">
                                <label>Part of Customer order, Ref: </label>
                                <a href="javascript:;" ng-bind="WorkOrderDetail.CustomerOrderRef" ng-click="redirectCOpage(WorkOrderDetail)"></a>
                            </div>
                        </div>
                        <div class="orders-text row">
                            <div class="col-sm-3">
                                <label>Selected WO:</label>
                                <input type="text" ng-model="WorkOrderID" readonly>
                            </div>
                            <div class="col-sm-2">
                                <label>Due Date:</label>
                                <input class="full-width" name="duedate" ng-model="WorkOrderDetail.DueDate" class="input-quote" ng-disabled="!WorkOrderDetail" />
                            </div>
                            <div class="col-sm-2 quantity">
                                <label>Quantity:</label>
                                <input type="text" name="quantity" ng-model="WorkOrderDetail.Quantity" class="input-quote" ng-disabled="!WorkOrderDetail" />
                            </div>
                            <div class="col-sm-3 description">
                                <label>Description:</label>
                                <input type="text" name="description" ng-model="WorkOrderDetail.Description" class="input-quote" ng-disabled="!WorkOrderDetail" />
                            </div>
                            <div class="col-sm-2">
                                <label>Part No:</label>
                                <a href="javascript:;" ng-bind="WorkOrderDetail.PartNumber" ng-click="redirectPartControl(WorkOrderDetail.pkPartTemplateID, WorkOrderDetail.ETemplateID)" class="col-xs-8 no-border a-part-no"></a>
                            </div>
                        </div>
                        <div class="orders-information"></div>
                    </div>
                    <div class="col-xs-1 titles-orders-after">
                        <button type="submit" class="copy-address float-right" ng-click="redirectBack()">Back</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row box content">
            <div class="list-tabs">
                <ul class="tabs">
                    <li><a ui-sref-active="active" ui-sref="department.workorders.main({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">Main</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.cocs({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">CoCs</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.pos({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">POs</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.costing({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">Costings</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.invoice({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">Invoices</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.route-card({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">Route card</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.material-issue({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">Material reference</a></li>
                    <li><a ui-sref-active="active" ui-sref="department.workorders.document({WorkOrderID: WorkOrderID})" ui-sref-opts="{location: false}">Documents</a></li>
                </ul>
            </div>
            <div class="tab_container">
                <div ui-view></div>
            </div>
            <!--end tab_container-->
        </div>
    </div>
</div>
