<div class="template-item template-default">
	<div class="row">
		<div class="col-xs-9 receive-left">
			<div class="row">
				<div class="form-group">
					<div class="col-xs-2 rcvd">
						<div class="title">Rcvd Date
							<p class="leave-blank"><small>leave blank for today</small></p>
						</div>
						<input type="text" ng-model="GRB.RcvdDate">
					</div>
					<div class="col-xs-2 next-gr">
						<button ng-click="generateNextGR()" type="button">Generate next GR</button>
					</div>
					<div class="col-xs-4 grb">
						<span class="title">GRB:</span>
						<input type="text" readonly ng-model="GRB.nextGR">
					</div>
				</div>
			</div>
			<div class="row po-number-wrapper">
				<div class="form-group">
					<label for="" class="col-xs-2 no-padding po-number">PO number</label>
					<div class="col-xs-1 po-number-group">
						<select ng-model="PONumber" ng-options="option as option.POnID for option in POList" ng-change="changePOList(PONumber); GRB.setPOnID(PONumber.POnID)">
						</select>
					</div>
					<label for="" class="col-xs-1 item">Item</label>
					<div class="item-group col-xs-3">
						<select ng-model="POItem" ng-options="option as option.Description for option in POItemsList" ng-change="changePOItem(POItem); GRB.setItemID(POItem.ItemID)">
						</select>
					</div>
					<label for="" class="col-xs-2 no-padding order-by">Ordered by</label>
					<div class="order-by-group col-xs-1">
						<input type="text" ng-model="PONumber.OrderedBy">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 receive-right">
			<div class="col-xs-4 receive-right-content">
				<div class="dn">
					<input type="radio" ng-model="DocType.ID" ng-value="1"> DN
				</div>
				<div class="CoC">
					<input type="radio" ng-model="DocType.ID" ng-value="2"> CoC
				</div>
				<div class="inv">
					<input type="radio" ng-model="DocType.ID" ng-value="3"> Inv
				</div>
			</div>
			<div class="col-xs-8 drop-button">
				<button type="button" dropzone on-success="uploadSuccess" on-error="uploadError" before-upload="beforeUpload" max-file-name="30">Drop Delivery Docs here</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="work-order col-xs-3 col-xs-offset-6">
				<label for="" class="col-xs-6 no-padding">Work Order No.</label>
				<div class="work-order-group col-xs-6">
					<input type="text" ng-model="GRB.WorkOrderNo">
				</div>
			</div>
			<div class="release-note col-xs-3">
				<label for="" class="col-xs-6 no-padding">Release Note No.</label>
				<div class="release-note-group col-xs-6">
					<input type="text" name="ReleaseNoteNo" ng-model="GRB.ReleaseNoteNo" maxlength="15">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="supplier">
				<label for="" class="col-xs-2 no-padding">Supplier / Customer</label>
				<div class="supplier-group col-xs-1">
					<select ng-model="CustomerSupplier" ng-options="option as option.Alias for option in CustomerSupplierList" ng-change="GRB.setID(CustomerSupplier.ID); GRB.setType(CustomerSupplier.Type)">
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="description">
				<label for="" class="col-xs-2 no-padding">Description</label>
				<div class="description-group col-xs-6">
					<textarea ng-model="GRB.Description" maxlength="80"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="delivery-note col-xs-3 col-xs-offset-9">
				<label for="" class="col-xs-6 no-padding">Delivery Note No.</label>
				<div class="delivery-note-group col-xs-6">
					<input type="text" ng-model="GRB.DeliveryNoteNo" maxlength="20" name="DeliveryNoteNo">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="qty-receive col-xs-3 no-padding">
				<label for="" class="col-xs-8 no-padding">Qty Received</label>
				<div class="qty-receive-group col-xs-4 no-padding-right">
					<input type="text" ng-model="GRB.QtyRcvd" maxlength="8" name="QtyRcvd">
				</div>
			</div>
			<div class="part-number no-padding-left col-xs-2 col-xs-offset-2">
				<label for="" class="col-xs-6 no-padding">Part Number</label>
				<div class="part-number-group col-xs-6">
					<input type="text" ng-model="GRB.PartNumber" maxlength="25" name="PartNumber">
				</div>
			</div>
		</div>
	</div>
</div>