<div class="template-item template-type8">
	<div class="release-note absolute">
		<label class="title">Release Note No.</label>
		<div class="release-note-group">
			<input type="text" name="ReleaseNoteNo" ng-model="GRB.ReleaseNoteNo" maxlength="15">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9 receive-left">
			<div class="row">
				<div class="form-group">
					<div class="col-xs-2 rcvd">
						<div class="title">Rcvd Date
							<p class="leave-blank"><small>leave blank for today</small></p>
						</div>
						<input type="text" ng-model="GRB.RcvdDate">
					</div>
					<div class="col-xs-2 next-gr">
						<button ng-click="generateNextGR()" type="button">Generate next GR</button>
					</div>
					<div class="col-xs-4 grb">
						<span class="title">GRB:</span>
						<input type="text" readonly ng-model="GRB.nextGR">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="gr-type col-xs-10">
						<div class="row">
							<div class="gr-type-content">
								<div class="col-xs-6 col-xs-offset-4 gr-type-content-group">
									<select ng-model="FIMaterial" ng-options="option as option.DisplayData for option in PartTemplateList" ng-change="changeFIMaterial(FIMaterial); GRB.setPartNumber(FIMaterial.PartNumber); GRB.setETemplateID(FIMaterial.ETemplateID)">
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="customer-order col-xs-12 no-padding">
								<label for="" class="col-xs-4 no-padding content-right">Customer Order No.</label>
								<div class="customer-order-group col-xs-3">
									<select ng-model="CustomerOrder" ng-options="option as option.CustomerOrderRef for option in MatchingCOList" ng-change="changeCustomerOrder(CustomerOrder); GRB.setOrderID(CustomerOrder.OrderID)">
									</select>
								</div>
							</div>
							<div class="work-order col-xs-12 no-padding">
								<label class="col-xs-4 content-right no-padding">Work Order No.</label>
								<div class="work-order-group col-xs-2">
									<select ng-model="LineItem" ng-options="option as option.WorkOrderID for option in MatchingLineItems" ng-change="GRB.setLineItemID(LineItem.LineItemID); GRB.setWorkOrderNo(LineItem.WorkOrderID)">
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-2 gr-type-button" ng-show="CustomerOrder.FastTrack == 1">
						<button type="button" ng-click="chooseFastTrack()">Fast Track</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 receive-right">
			<div class="col-xs-4 receive-right-content">
				<div class="dn">
					<input type="radio" ng-model="DocType.ID" ng-value="1"> DN
				</div>
				<div class="CoC">
					<input type="radio" ng-model="DocType.ID" ng-value="2"> CoC
				</div>
				<div class="inv">
					<input type="radio" ng-model="DocType.ID" ng-value="3"> Inv
				</div>
			</div>
			<div class="col-xs-8 drop-button">
				<button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Delivery Docs here</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="customer">
				<label for="" class="col-xs-2 no-padding">Customer</label>
				<div class="customer-group col-xs-3">
					<input type="text" ng-model="GRB.Customer">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="description">
				<label for="" class="col-xs-2 no-padding">Description</label>
				<div class="description-group col-xs-6">
					<textarea ng-model="GRB.Description" maxlength="80"></textarea>
				</div>
				<div class="delivery-note col-xs-3 col-xs-offset-1">
					<label for="" class="col-xs-6 no-padding">Delivery Note No.</label>
					<div class="delivery-note-group col-xs-6">
						<input type="text" ng-model="GRB.DeliveryNoteNo" maxlength="20" name="DeliveryNoteNo">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="qty-receive col-xs-3 no-padding">
				<label for="" class="col-xs-8 no-padding">Qty Received</label>
				<div class="qty-receive-group col-xs-4 no-padding-right">
					<input type="text" ng-model="GRB.QtyRcvd" maxlength="8" name="QtyRcvd">
				</div>
			</div>
			<div class="col-xs-5">
				<div class="col-xs-10 uom no-padding-left">
					<div class="col-xs-3 no-padding-left uom-select">
						<select ng-model="UOM2" ng-options="option as option.Description for option in UOMList" ng-change="GRB.setUOMID2(UOM2.pkUOMID)"></select>
					</div>
					<div class="uom-input col-xs-9 no-padding">
						<input type="text" ng-model="GRB.Size" name="Size" maxlength="30">
					</div>
				</div>
				<div class="col-xs-2 no-padding uom-select">
					<select ng-model="UOM" ng-options="option as option.Description for option in UOMList" ng-change="GRB.setUOMID(UOM.pkUOMID)"></select>
				</div>
			</div>
			<div class="col-xs-2 shape no-padding-left">
				<div class="col-xs-4 no-padding shape-title">
					<span>Shape</span>
				</div>
				<div class="col-xs-8 no-padding shape-select">
					<select ng-model="Shape" ng-options="option as option.Description for option in MaterialShapes" ng-change="GRB.setShapeID(Shape.pkShapeID)"></select>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="GRType.MaterialType == 8">
		<div class="form-group">
			<div class="qty-muanufacture col-xs-3 no-padding">
				<label for="" class="col-xs-8 no-padding">Qty to Manufacture</label>
				<div class="qty-muanufacture-group col-xs-4 no-padding-right">
					<input type="text" ng-model="GRB.QtyManu" maxlength="8" name="QtyManu">
				</div>
			</div>
			<div class="part-number no-padding-left col-xs-2 col-xs-offset-7">
				<label for="" class="col-xs-6 no-padding">Part Number</label>
				<div class="part-number-group col-xs-6">
					<input type="text" ng-model="GRB.PartNumber" maxlength="25" name="PartNumber">
				</div>
			</div>
		</div>
	</div>
</div>