<div class="template-item template-type7">
	<div class="row">
		<div class="col-xs-9 receive-left">
			<div class="row">
				<div class="form-group">
					<div class="col-xs-2 rcvd">
						<div class="title">Rcvd Date
							<p class="leave-blank"><small>leave blank for today</small></p>
						</div>
						<input type="text" ng-model="GRB.RcvdDate">
					</div>
					<div class="col-xs-2 next-gr">
						<button ng-click="generateNextGR()" type="button">Generate next GR</button>
					</div>
					<div class="col-xs-4 grb">
						<span class="title">GRB:</span>
						<input type="text" readonly ng-model="GRB.nextGR">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 receive-right">
			<div class="col-xs-4 receive-right-content">
				<div class="dn">
					<input type="radio" ng-model="DocType.ID" ng-value="1"> DN
				</div>
				<div class="CoC">
					<input type="radio" ng-model="DocType.ID" ng-value="2"> CoC
				</div>
				<div class="inv">
					<input type="radio" ng-model="DocType.ID" ng-value="3"> Inv
				</div>
			</div>
			<div class="col-xs-8 drop-button">
				<button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Delivery Docs here</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="work-order col-xs-3 col-xs-offset-6">
				<label for="" class="col-xs-6 no-padding">Work Order No.</label>
				<div class="work-order-group col-xs-6">
					<input type="text" ng-model="GRB.WorkOrderNo">
				</div>
			</div>
			<div class="release-note col-xs-3">
				<label for="" class="col-xs-6 no-padding">Release Note No.</label>
				<div class="release-note-group col-xs-6">
					<input type="text" name="ReleaseNoteNo" ng-model="GRB.ReleaseNoteNo" maxlength="15">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="delivery-note col-xs-3 col-xs-offset-9">
				<label for="" class="col-xs-6 no-padding">Delivery Note No.</label>
				<div class="delivery-note-group col-xs-6">
					<input type="text" ng-model="GRB.DeliveryNoteNo" maxlength="20" name="DeliveryNoteNo">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="qty-receive col-xs-3 no-padding">
				<label for="" class="col-xs-8 no-padding">Qty Received</label>
				<div class="qty-receive-group col-xs-4 no-padding-right">
					<input type="text" ng-model="GRB.QtyRcvd" maxlength="8" name="QtyRcvd">
				</div>
			</div>
			<div class="part-number no-padding-left col-xs-2 col-xs-offset-2">
				<label for="" class="col-xs-6 no-padding">Part Number</label>
				<div class="part-number-group col-xs-6">
					<input type="text" ng-model="GRB.PartNumber" maxlength="25" name="PartNumber">
				</div>
			</div>
		</div>
	</div>
</div>