<div class="template-item template-type1">
	<div class="row">
		<div class="col-xs-9 receive-left">
			<div class="row">
				<div class="form-group">
					<div class="col-xs-2 rcvd">
						<div class="title">Rcvd Date
							<p class="leave-blank"><small>leave blank for today</small></p>
						</div>
						<input type="text" ng-model="GRB.RcvdDate">
					</div>
					<div class="col-xs-2 next-gr">
						<button ng-click="generateNextGR()" type="button">Generate next GR</button>
					</div>
					<div class="col-xs-4 grb">
						<span class="title">GRB:</span>
						<input type="text" readonly ng-model="GRB.nextGR">
					</div>
					<div class="rejects col-xs-3">
						<div class="row">
							<div class="rejects-content">
								<span class="col-xs-4 no-padding">Rejects</span>
								<div class="col-xs-8">
									<select ng-model="Reject" ng-options="option as option.RejectNoteID for option in RejectsList" ng-change="GRB.setRejectNoteID(Reject.RejectNoteID)"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row po-number-wrapper">
				<div class="form-group">
					<label for="" class="col-xs-2 no-padding po-number">PO number</label>
					<div class="col-xs-1 po-number-group">
						<select ng-model="PONumber" ng-options="option as option.POnID for option in POList" ng-change="changePOList(PONumber); GRB.setPOnID(PONumber.POnID)">
						</select>
					</div>
					<label for="" class="col-xs-1 item">Item</label>
					<div class="item-group col-xs-3">
						<select ng-model="POItem" ng-options="option as option.Description for option in POItemsList" ng-change="changePOItem(POItem); GRB.setItemID(POItem.ItemID)">
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 receive-right">
			<div class="col-xs-4 receive-right-content">
				<div class="dn">
					<input type="radio" ng-model="DocType.ID" ng-value="1"> DN
				</div>
				<div class="CoC">
					<input type="radio" ng-model="DocType.ID" ng-value="2"> CoC
				</div>
				<div class="inv">
					<input type="radio" ng-model="DocType.ID" ng-value="3"> Inv
				</div>
			</div>
			<div class="col-xs-8 drop-button">
				<button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Delivery Docs here</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="work-order col-xs-3 col-xs-offset-6">
				<label for="" class="col-xs-6 no-padding">Work Order No.</label>
				<div class="work-order-group col-xs-6">
					<input type="text" ng-model="GRB.WorkOrderNo" disabled>
				</div>
			</div>
			<div class="release-note col-xs-3">
				<label for="" class="col-xs-6 no-padding">Release Note No.</label>
				<div class="release-note-group col-xs-6">
					<input type="text" name="ReleaseNoteNo" ng-model="GRB.ReleaseNoteNo" maxlength="15">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="supplier">
				<label for="" class="col-xs-2 no-padding">Supplier</label>
				<div class="supplier-group col-xs-3">
					<input type="text" ng-model="GRB.SupplierName" disabled>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="description">
				<label for="" class="col-xs-2 no-padding">Description</label>
				<div class="description-group col-xs-6">
					<textarea ng-model="GRB.Description" disabled maxlength="80"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="delivery-note col-xs-3 col-xs-offset-9">
				<label for="" class="col-xs-6 no-padding">Delivery Note No.</label>
				<div class="delivery-note-group col-xs-6">
					<input type="text" ng-model="GRB.DeliveryNoteNo" maxlength="20" name="DeliveryNoteNo">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="qty-receive col-xs-3 no-padding">
				<label for="" class="col-xs-8 no-padding">Qty Received</label>
				<div class="qty-receive-group col-xs-4 no-padding-right">
					<input type="text" ng-model="GRB.QtyRcvd" maxlength="8" name="QtyRcvd">
				</div>
			</div>
			<div class="col-xs-5">
				<div class="col-xs-10 uom no-padding-left">
					<div class="col-xs-3 no-padding-left uom-select">
						<select ng-model="UOM2" ng-options="option as option.Description for option in UOMList" ng-change="GRB.setUOMID2(UOM2.pkUOMID)"></select>
					</div>
					<div class="uom-input col-xs-9 no-padding">
						<input type="text" ng-model="GRB.Size" name="Size" maxlength="30">
					</div>
				</div>
				<div class="col-xs-2 no-padding uom-select">
					<select ng-model="UOM" ng-options="option as option.Description for option in UOMList" ng-change="GRB.setUOMID(UOM.pkUOMID)"></select>
				</div>
			</div>
			<div class="col-xs-2 shape no-padding-left">
				<div class="col-xs-4 no-padding shape-title">
					<span>Shape</span>
				</div>
				<div class="col-xs-8 no-padding shape-select">
					<select ng-model="Shape" ng-options="option as option.Description for option in MaterialShapes" ng-change="GRB.setShapeID(Shape.pkShapeID)"></select>
				</div>
			</div>
			<div class="part-number no-padding-left col-xs-2">
				<label for="" class="col-xs-6 no-padding">Part Number</label>
				<div class="part-number-group col-xs-6">
					<input type="text" ng-model="GRB.PartNumber" maxlength="25" name="PartNumber">
				</div>
			</div>
		</div>
	</div>
</div>