<script>
// Select all tabs
$('.nav-tabs a').click(function() {
    $(this).tab('show');
})

// Select tab by name
$('.nav-tabs a[href="#home"]').tab('show')

// Select first tab
$('.nav-tabs a:first').tab('show')

// Select last tab
$('.nav-tabs a:last').tab('show')

// Select fourth tab (zero-based)
$('.nav-tabs li:eq(3) a').tab('show')
</script>
<div class="overview">
    <div class="row">
        <div class="col-xs-12 me">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="">Material reqiurement</a>
                    </li>
                    <li class="active">
                        <a href="">P/E Engineering</a>
                    </li>
                    <li>
                        <a href="">Engineering</a>
                    </li>
                    <li>
                        <a href="">Sub-con</a>
                    </li>
                    <li>
                        <a href="">Review</a>
                    </li>
                    <li>
                        <a href="">Overview</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <p class="text">Operation</p>
        </div>
        <div class="col-xs-7">
            <p class="text">Processes</p>
        </div>
        <div class="col-xs-3">
            <p class="text">Notes</p>
        </div>
        <div class="col-xs-10 col-xs-offset-2">
            <hr>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-2">
                <img src="/assets/images/Milling_Icon_Sml.jpg" alt="">
            </div>
            <div class="col-xs-2">
                <p class="textb">Material Issue</p>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-4">
                        <span>GRB NO.</span><span><input type="text" value="0003"></span>
                    </div>
                    <div class="col-xs-4">
                        <span>IRN NO</span><span><input type="text"></span>
                    </div>
                    <div class="col-xs-4">
                        <p>Note about this material</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 date">
            <div class="row">
                <div class="col-xs-4">
                    <p class="month">7th Nov</p>
                    <p class="day">1</p>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="pink col-xs-2">Spec</div>
                        <div class="pink col-xs-1">Shape</div>
                        <div class="pink col-xs-2">UOM</div>
                        <div class="pink col-xs-2">Aappvoral</div>
                        <div class="pink col-xs-2">Size</div>
                        <div class="pink col-xs-1">Qty</div>
                        <div class="pink col-xs-2">Issue Lgth</div>
                        <div class="pink col-xs-12">
                            <hr>
                        </div>
                        <div class="col-xs-2">S07-108</div>
                        <div class="col-xs-1">Diamater</div>
                        <div class="col-xs-2">Lister</div>
                        <div class="col-xs-2">ISO9001</div>
                        <div class="col-xs-1">1</div>
                        <div class="col-xs-2">21</div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <input class="col-xs-4" type="text" value="test">
                        <input class="col-xs-4" type="text" value="test">
                        <input class="col-xs-4" type="text" value="test">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-2">
        <hr>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-2">
            <img src="/assets/images/Milling_Icon_Sml.jpg" alt="">
        </div>
        <div class="col-xs-4">
            <p>Manual Turning on Mazak VTC800/30SR</p>
            <p>hold on manddrel and cut serration as per drawing</p>
            <p>leave .005 thread diameter for treatment</p>
        </div>
        <div class="col-xs-2">
            <p>Prog No's</p>
            <p>123456789</p>
            <p>45621</p>
        </div>
        <div class="col-xs-4">
            <p>2.1.1 dia 3x5 with 0.2 rada 313.0305.00AS45</p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3">
                <p class="month">7th Nov</p>
                <p class="day">1</p>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-7">
                    <p class="tit">Tooling</p>
                </div>
                <div class="col-xs-5">
                    <p class="tit">Fixtures</p>
                </div>
                <div class="col-xs-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>GRB no.</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Sub type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>810072</td>
                                <td>Caliper</td>
                                <td>Type Milk xxx</td>
                                <td>Bullnose xxxx</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>810072</td>
                                <td>Caliper</td>
                                <td>Type Milk xxx</td>
                                <td>Bullnose xxxx</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>GRB no.</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>910073</td>
                                <td>Fluge lbinder basw</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>910073</td>
                                <td>Fluge lbinder basw</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5 col-xs-offset-7">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <input class="col-xs-4" type="text" value="test">
                    <input class="col-xs-4" type="text" value="test">
                    <input class="col-xs-4" type="text" value="test">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-2">
        <hr>
    </div>
    <div class="col-xs-2 col-xs-offset-10">
        <button>Print</button>
    </div>
</div>
</div>