<div class="page treatment-admin">
    <div class="container-fluid">
        <div class="row">
            <div class="header col-md-12">
                <div class="row">
                    <div class="left col-md-4">
                        <div class="text">
                            <p>Treatments list</p>
                            <p>Add new treatment</p>
                            <input type="text">
                            <br>
                            <input class="add" type="submit" value="Add">
                            <br>
                            <p class="de">Delete selected Treatment</p>
                            <input type="submit" class="del" value="Delete">
                        </div>
                        <div class="sl">
                            <select multiple class="form-control" name="" id="">
                                <option value="">Heat Treatment</option>
                                <option value="">Thread cutting</option>
                                <option value="">Copper Strip</option>
                                <option value="">Grinding</option>
                            </select>
                        </div>
                        <div class="im">
                            <img class="col-lg-1 img up" src="../assets/images/Up_Arrow_Sml.png">
                            <br>
                            <p>Sort</p>
                            <img class="col-lg-1 img dow" src="../assets/images/Down_Arrow_Sml.png">
                        </div>
                    </div>
                    <div class="mid col-md-4">
                        <div class="text">
                            <p>Operations list</p>
                            <p>Add new treatment</p>
                            <input type="text">
                            <br>
                            <input class="add" type="submit" value="Add">
                            <br>
                            <p class="de">Delete selected Operation</p>
                            <input type="text" class="del" value="Delete">
                        </div>
                        <div class="sl">
                            <select multiple class="form-control" name="" id="">
                                <option value="">Heat Treatment</option>
                                <option value="">Thread cutting</option>
                                <option value="">Copper Strip</option>
                                <option value="">Grinding</option>
                            </select>
                        </div>
                        <div class="im">
                            <img class="col-lg-1 img up" src="../assets/images/Up_Arrow_Sml.png">
                            <br>
                            <p>Sort</p>
                            <img class="col-lg-1 img dow" src="../assets/images/Down_Arrow_Sml.png">
                        </div>
                    </div>
                    <div class="right col-md-4">
                        <div class="top">
                            <div class="text">
                                <p>Sundries list</p>
                                <p>Add new Sundry</p>
                                <input type="text">
                                <br>
                                <input class="add" type="submit" value="Add">
                                <br>
                                <p class="de">Delete selected Sundries</p>
                                <input type="submit" class="del" value="Delete">
                            </div>
                            <div class="sl">
                                <select multiple class="form-control" name="" id="">
                                    <option value="">Heat Treatment</option>
                                    <option value="">Thread cutting</option>
                                    <option value="">Copper Strip</option>
                                    <option value="">Grinding</option>
                                </select>
                            </div>
                            <div class="im">
                                <img class="col-lg-1 img up" src="../assets/images/Up_Arrow_Sml.png">
                                <br>
                                <p>Sort</p>
                                <img class="col-lg-1 img dow" src="../assets/images/Down_Arrow_Sml.png">
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="text">
                                <p>Sundries list</p>
                                <p>Add new Sundry</p>
                                <input type="text">
                                <br>
                                <input class="add" type="submit" value="Add">
                                <br>
                                <p class="de">Delete selected Sundrie</p>
                                <input type="submit" class="del" value="Delete">
                            </div>
                            <div class="sl">
                                <select multiple class="form-control" name="" id="">
                                    <option value="">Heat Treatment</option>
                                    <option value="">Thread cutting</option>
                                    <option value="">Copper Strip</option>
                                    <option value="">Grinding</option>
                                </select>
                            </div>
                            <div class="im">
                                <img class="col-lg-1 img up" src="../assets/images/Up_Arrow_Sml.png">
                                <br>
                                <p>Sort</p>
                                <img class="col-lg-1 img dow" src="../assets/images/Down_Arrow_Sml.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content col-md-12">
                <div class="row">
                    <div class="left col-md-4">
                        <div class="text">
                            <p>Scheduling contingencies(fat)</p>
                        </div>
                        <div class="tb">
                            <p>days</p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>Between Operation</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Delivery</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mid col-md-4">
                        <div class="text">
                            <p>OP. PAuse reasons :</p>
                            <p>Add new reason</p>
                            <input type="text">
                            <br>
                            <input class="add" type="submit" value="Add">
                        </div>
                        <div class="sl">
                            <select multiple class="form-control" name="" id="">
                                <option value="">Heat Treatment</option>
                                <option value="">Thread cutting</option>
                                <option value="">Copper Strip</option>
                                <option value="">Grinding</option>
                            </select>
                        </div>
                        <div class="im">
                            <img class="col-lg-1 img up" src="../assets/images/Up_Arrow_Sml.png">
                            <br>
                            <p>Sort</p>
                            <img class="col-lg-1 img dow" src="../assets/images/Down_Arrow_Sml.png">
                        </div>
                    </div>
                    <div class="right col-md-4">
                        <input type="submit" class="back" value="Back">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
