<div class="production-page">
    <div class="page-body">
        <div class="row box content">
            <div class="title-global-page">Production Schedule</div>
            <div class="list-tabs">
                <ul class="tabs">
                    <li>
                        <a ui-sref-active="active" ui-sref="department.production-schedule.material-issue" ui-sref-opts="{location: false}">
                            Material Issue
                        </a>
                    </li>
                    <li ng-repeat="value in MachineTab">
                        <a ui-sref="department.production-schedule.machine({machine: value.MachineAlias})" ng-class="{'active': machineParams == value.MachineAlias}" ui-sref-opts="{location: false}">
                            {{value.Machine}}
                        </a>
                    </li>
                    <li>
                        <a ui-sref-active="active" ui-sref="department.production-schedule.subcon" ui-sref-opts="{location: false}">
                            Sub-con
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab_container">
                <div ui-view></div>
                <div class="col-sm-12 button-active no-padding">
                    <div class="area-BPCButton">
                        <div class="area-radio">
                            <div class="set-radio">
                                set
                                <input type="radio" ng-model="OperationStatus.SetRun" ng-value="0" disabled></input>
                            </div>
                            <div class="run-radio">
                                run
                                <input type="radio" ng-model="OperationStatus.SetRun" ng-value="1" disabled></input>
                            </div>
                        </div>
                        <div ng-show="showBegin" class="button-begin button-main custom-width">
                            <div>
                                <p ng-click="BeginOperator(OperationStatus.SetRun)">
                                    <a href=""><img src="../../../../../../assets/images/Right_Arrow.png"></a>
                                </p>
                                <p>Begin</p>
                            </div>
                        </div>
                        <div ng-show="showBeginHighlight" class="button-begin button-main custom-width">
                            <div>
                                <p ng-click="BeginOperator(OperationStatus.SetRun)">
                                    <a href=""><img src="../../../../../../assets/images/PlayButtonHighlighted.JPG"></a>
                                </p>
                                <p>Begin</p>
                            </div>
                        </div>
                        <div ng-show="showPause" class="button-pause button-main custom-width">
                            <div>
                                <select ng-model="Reason" ng-options="option as option.name for option in Reasons">
                                </select>
                                <p class="pause-icon" ng-click="PauseOperator(Reason)">
                                    <a href=""><img src="../../../../../../assets/images/Pause.png"></a>
                                </p>
                                <p>Pause</p>
                            </div>
                        </div>
                        <div ng-show="showPauseHighlight" class="button-pause button-main custom-width">
                            <div>
                                <select ng-model="Reason" ng-options="option as option.name for option in Reasons">
                                </select>
                                <p class="pause-icon" ng-click="PauseOperator(Reason)">
                                    <a href=""><img src="../../../../../../assets/images/PauseButtonHighLighted.JPG"></a>
                                </p>
                                <p>Pause</p>
                            </div>
                        </div>
                        <div ng-show="showComplete" class="button-complete button-main custom-width">
                            <p ng-click="CompleteOperator()">
                                <a href=""><img src="../../../../../../assets/images/stopsmall.PNG"></a>
                            </p>
                            <p>Complete</p>
                        </div>
                    </div>
                    <div class="allocate-area">
                        <div class="selected text-right custom-width">
                            <p>Allocate secondary resource to selected job</p>
                            <select ng-model="ResourceUser" ng-options="option as option.UName for option in ResourceList">
                            </select>
                        </div>
                        <div class="bg-img add-resource">
                            <p class="buttun-first"><a href="javascript:;" ng-click="addResource(ResourceUser)">Add Resource</a></p>
                            <p><a class="line" href="javascript:;" ng-click="refreshProduction()">Refresh</a></p>
                        </div>
                        <div class="bg-img late-report lonely">
                            <p></p>
                            <p><a href="javascript:;" ng-click="openBIRT()">'Late' Report</a></p>
                        </div>
                        <div class="bg-img view-wo lonely">
                            <p></p>
                            <p><a href="javascript:;" ng-click="ViewWO()">View WO Detail</a></p>
                        </div>
                        <div class="bg-img back lonely">
                            <p> </p>
                            <p><a href="" class="line" ng-click="redirectBack()">Back</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
