$color-title: #7485c1;
$color-blue: blue;
$color-blue-nhat: rgb(116, 160, 193);
$fontsize-large: 20px;
$heightbase-input: 20px;
$height-input: 28px;
$color-dark-blue: darkblue;
$color-xanh-dam: #003298;
$color-light-green: rgb(116, 182, 193);
$color-light-violet: rgba(162, 130, 238, 0.74);
$color-lime: lime;
$background-light-yellow: #fffbf0;
$red: #e74c3c;
.errors {
    color: #e74c3c;
}

body {
    height: 768px;
    position: relative;
    .home-icon {
        width: 128px;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .isBirtPage {
        width: initial!important;
        height: initial!important;
        overflow: initial!important;
    }
}

@mixin box-container {
    max-width: 1300px;
    margin: 0 auto;
    float: none;
}

select {
    background: none;
    height: 25px;
}

@mixin kythera-small-button {
    background: url(../images/buttonSmaller.jpg) no-repeat center center;
    background-size: 100% 100%;
    width: 56px;
    height: 36px;
    color: #FFF;
    float: right;
    border: 0;
}

@mixin kythera-large-button {
    background: url(../images/buttonSml.jpg) no-repeat center center;
    width: 93px;
    height: 60px;
    color: #FFF;
    float: right;
    border: 0;
    font-weight: bold;
}

@mixin kythera-rectangle-button {
    width: 196px;
    height: 196px;
    background: #9999cc;
    border: 2px solid #7e7ea9;
    color: #FFF;
    padding: 40%;
    text-align: center;
}

@mixin kythera-up-arrow {
    background: url(../images/Up_Arrow_Sml.png) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    color: #FFF;
    border: 0;
    display: block;
    cursor: pointer;
}

@mixin kythera-down-arrow {
    background: url(../images/Down_Arrow_Sml.png) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    color: #FFF;
    border: 0;
    display: block;
    cursor: pointer;
}

@mixin kythera-right-arrow {
    background: url(../images/Right_Arrow.png) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    color: #FFF;
    border: 0;
    display: block;
    cursor: pointer;
}

@mixin kythera-left-arrow {
    background: url(../images/Right_Arrow.png) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    color: #FFF;
    border: 0;
    display: block;
    cursor: pointer;
}

@mixin kythera-begin-button {
    background: url(../images/Right_Arrow.png) no-repeat center center;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    display: block;
}

@mixin kythera-begin-highlight-button {
    background: url(../images/PlayButtonHighlighted.JPG) no-repeat center center;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    display: block;
}

@mixin kythera-pause-button {
    background: url(../images/Pause.png) no-repeat center center;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    display: block;
}

@mixin kythera-pause-highlight-button {
    background: url(../images/PauseButtonHighLighted.JPG) no-repeat center center;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    display: block;
}

@mixin kythera-stop-button {
    background: url(../images/stopsmall.PNG) no-repeat center center;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    display: block;
}

%material-icon {
    background: url(../images/Material.png) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

%machine-icon {
    background: url(../images/Milling_Icon_Sml.jpg) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

%subcon-icon {
    background: url(../images/SubconIconSml.jpg) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

@mixin table {
    border: 1px solid;
    border-color: #ccc #555 #555 #ccc;
    border-collapse: initial;
    border-spacing: 2px;
    width: 100%;
    thead {
        background: #FFF;
    }
    tr {
        .th-active {
            background: yellow;
        }
    }
}

@mixin table-tr-th {
    color: $color-title;
    text-align: center;
    font-weight: normal;
    border: 1px solid;
    border-color: #555 #ccc #ccc #555;
}

@mixin table-tr-td {
    border: 1px solid;
    border-color: #555 #ccc #ccc #555;
}

@mixin table-tr-active-td {
    background: #575fa7;
    color: #FFF;
    a {
        color: #FFF;
    }
}

@mixin area-table {
    width: 100%;
    float: left;
    max-height: 280px;
    overflow-x: hidden;
    table {
        @include table;
        thead {
            background: #FFF;
        }
        tr {
            th {
                @include table-tr-th;
                color: $color-blue-nhat;
                font-weight: bold;
            }
            td {
                @include table-tr-td;
                input[type="text"] {
                    width: 100%;
                    border: none;
                }
            }
        }
        .tr-active {
            td {
                @include table-tr-active-td;
            }
        }
    }
}

@mixin rotate($deg) {
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin gradient($start-color, $end-color) {
    background: -webkit-linear-gradient($start-color, $end-color);
    background: -o-linear-gradient($start-color, $end-color);
    background: -moz-linear-gradient($start-color, $end-color);
    background: linear-gradient($start-color, $end-color);
}

@mixin box-shadow($box-shadow) {
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin kythera-small-button {
    background: url(../images/buttonSmaller.jpg) no-repeat center center;
    background-size: 100% 100%;
    width: 56px;
    height: 36px;
    color: #FFF;
    float: right;
    border: 0;
}

@mixin kythera-large-button {
    background: url(../images/buttonSml.jpg) no-repeat center center;
    width: 93px;
    height: 60px;
    color: #FFF;
    float: right;
    border: 0;
}

@mixin button-screend-small {
    @include kythera-small-button;
    font-weight: bold!important;
    float: left;
}

@mixin button-screend-default {
    @include kythera-large-button;
    font-weight: bold!important;
    float: left;
}

@mixin tabs {
    .list-tabs {
        overflow: hidden;
        bottom: -1px;
        position: relative;
        .tabs {
            padding-left: 0px;
            width: 100%;
            li:first-child {
                margin-left: 10px;
            }
            li {
                float: left;
                padding: 1px 1px 0px 1px;
                list-style: none;
                a {
                    display: block;
                    text-align: center;
                    background: #FEFEFF;
                    background: -webkit-linear-gradient(#FEFEFF, #E0EDF6);
                    background: -o-linear-gradient(#FEFEFF, #E0EDF6);
                    background: -moz-linear-gradient(#FEFEFF, #E0EDF6);
                    background: linear-gradient(#FEFEFF, #E0EDF6);
                    color: #42587F;
                    font-size: 13px;
                    letter-spacing: -0.5px;
                    padding: 3px 7px;
                    border: 1px solid #617A8E;
                    border-top: 1px solid #3C556B;
                    border-bottom: none;
                    border-radius: 5px 5px 0px 0px;
                }
                .active {
                    background: none;
                    padding-bottom: 4px;
                    background: #fff;
                }
                a:hover {
                    text-decoration: inherit;
                    background: #fff;
                }
                a:focus {
                    text-decoration: inherit;
                }
            }
        }
    }
}

@mixin scroll-button {
    position: absolute;
    top: 0px;
    left: -20px;
    span {
        &:nth-child(2) {
            margin-left: 5px;
        }
    }
    .up-control {
        @include kythera-up-arrow;
    }
    .down-control {
        @include kythera-down-arrow;
    }
}

.content-left {
    text-align: left!important;
}

.content-center {
    text-align: center!important;
}

.content-right {
    text-align: right!important;
}

.no-margin {
    margin: 0!important;
}

.full-width {
    width: 100%!important;
}

.width-initial {
    width: initial!important;
}

.max-width-100percent {
    max-width: 100%!important;
}

.no-padding {
    padding: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.modal-open {
    padding: 0!important;
}

.testcss {
    background: $red;
}

.glyphicon-ok {
    color: #2ecc71;
}

.notify {
    margin-right: 20px;
}

.notify-warning {
    background-color: #F0AD4E !important;
    color: #fff !important;
}

.cg-notify-close:focus {
    outline: none;
}


/*** CURRENCY SYMBOL ***/

.currency-symbol {
    position: relative;
}

.currency-symbol:before {
    position: absolute;
    top: 3px;
}

.currency-symbol.left input {
    padding-left: 18px;
}

.currency-symbol.right input {
    padding-right: 18px;
    text-align: right;
}

.currency-symbol-irish:before {
    content: '\00a3';
}

.currency-symbol.left:before {
    left: 5px;
}

.currency-symbol.right:before {
    right: 5px;
}


/*** PERCENT SYMBOL ***/

.percent-symbol {
    position: relative;
}

.percent-symbol:before {
    position: absolute;
    top: -2px;
    content: "%";
}

.percent-symbol.left input {
    padding-left: 18px;
}

.percent-symbol.right input {
    padding-right: 18px;
    text-align: right;
}

.percent-symbol.left:before {
    left: 5px;
}

.percent-symbol.right:before {
    right: 5px;
}

.error {
    color: $red;
    overflow: hidden;
    clear: both;
    span {
        width: initial!important;
        text-align: left!important;
    }
}


/** 
 * CSS GLOBAL PAGE
 */

.page {
    position: relative;
    padding: 10px 18px 0 20px!important;
    background: url(../images/bg-page.png) no-repeat;
    background-size: 220px 100%;
    box-shadow: 8px 8px 11px #888;
    height: 100%;
    width: 100%;
    overflow: auto!important;
}

.left-menu {
    ul {
        position: relative;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     width: 5px;
        //     height: 100%;
        //     left: 20px;
        //     background: #FFF;
        // }
    }
}

.title-global-page {
    color: #00f;
    font-size: 40px;
    text-align: right;
    position: relative;
    margin-bottom: 10px;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #000;
        width: 86%;
    }
}

// Select 
[uib-typeahead-popup].dropdown-menu {
    z-index: 3000;
}
