.admin-reference-page {
    padding-top: 10px;
    padding-bottom: 10px;
    .page-body {
        .row {
            .area {
                .module {
                    .module-title {
                        margin-bottom: 10px;
                    }
                    .module-body {
                        .module-control {
                            padding-left: 0;
                            button {
                                @include kythera-small-button;
                            }
                            input[type="text"] {
                                width: 100%;
                                margin: 10px 0;
                                font-size: 12px;
                            }
                            label {
                                float: left;
                                width: 85%;
                                font-size: 11px;
                                font-weight: normal;
                            }
                        }
                        .module-data {
                            padding: 0;
                            /*Scroll bar nav*/
                            .area-table {
                                overflow-x: hidden;
                                width: 100%;
                                max-height: 237px;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                        }
                                        td {
                                            @include table-tr-td;
                                        }
                                    }
                                    .tr-active {
                                        td {
                                            @include table-tr-active-td;
                                        }
                                    }
                                }
                            }
                            .sub-items {
                                li {
                                    span {
                                        display: block;
                                        float: left;
                                    }
                                    span:first-child {
                                        width: 70%;
                                    }
                                    span:last-child {
                                        width: 21%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
                .module-deviation-reasons,
                .module-material-shapes,
                .module-all-approval-level,
                .module-document-drop-types {
                    .module-title {
                        text-align: center;
                    }
                }
                .module-units-measure,
                .module-bussiness-shutdowns {
                    .module-title {
                        text-align: right;
                    }
                }
            }
            .area-1 {
                padding: 0 50px 0 10px;
            }
            .area-2 {
                padding: 0 30px 0 50px;
            }
        }
        .row-2 {
            margin-top: 20px;
            .area-2 {
                width: 40%;
                .module {
                    .module-body {
                        .module-control {
                            .area-input {
                                clear: both;
                                .input-date {
                                    width: 30%!important;
                                    display: inline-block;
                                }
                                .input-desc {
                                    width: 68%!important;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .row-3 {
            margin-top: 20px;
            button {
                @include kythera-large-button;
                float: right;
                margin: 0px 20px 0 40px;
            }
        }
    }
}
