.delivery-point-page {
    .page-content {
        width: 1200px;
        .page-title {
            color: $color-title;
        }
        .page-body {
            .area-delivery {
                overflow: hidden;
                border-bottom: 2px solid #ccc;
                margin-left: 5px;
                margin-right: 20px;
                margin-top: 5px;
                .delivery-stt {
                    color: $color-blue;
                    font-size: 25px;
                    font-weight: bold;
                    height: 35px;
                    padding-left: 20px;
                }
                .area {
                    .area-body {
                        overflow: hidden;
                        .item {
                            overflow: hidden;
                            margin-left: 30px;
                            margin-bottom: 15px;
                            label {
                                font-weight: normal;
                                margin: 0;
                            }
                            div {
                                display: inline-block;
                                width: 90%;
                                input {
                                    height: 20px;
                                    width: 100%;
                                }
                            }
                        }
                        .item:nth-child(4) {
                            div {
                                input {
                                    width: 80%;
                                }
                            }
                        }
                        .item:nth-child(5) {
                            div {
                                input {
                                    width: 20%;
                                }
                            }
                        }
                        .button {
                            width: 100%!important;
                            button {
                                @include kythera-small-button;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .area-1 {
                    .area-body {
                        width: 80%;
                    }
                }
                .area-2 {
                    .area-control {
                        overflow: hidden;
                        float: left;
                        width: 60px;
                        margin-right: 10px;
                        button {
                            @include kythera-small-button;
                            font-weight: bold;
                        }
                        .add {
                            margin-bottom: 10px;
                        }
                    }
                    .area-body {
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                            &:nth-child(1) {
                                                width: 70%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            overflow-x: hidden;
                            width: 100%;
                            max-height: 316px;
                            table {
                                tbody {
                                    max-height: 246px;
                                }
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                        &:nth-child(1) {
                                            width: 70%;
                                        }
                                    }
                                    td {
                                        @include table-tr-td;
                                        input[type="text"] {
                                            width: 98%;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-footer {
            border-top: 3px solid #7e7e7e;
            margin-top: 2px;
            padding: 10px;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: inherit;
            background: #FFF;
            button {
                @include kythera-large-button;
                font-weight: bold;
            }
            .back {
                margin-left: 300px;
            }
            .add-address {
                margin-left: 10px;
            }
        }
    }
}
