.delivery-despatch-page {
    overflow: hidden;
    padding: 10px;
    input {
        width: 100%;
    }
    .page-body {
        .work-order-table,
        .treatment-table {
            .floatThead-container {
                table {
                    thead {
                        background: #fff;
                        tr {
                            th {
                                @include table-tr-th;
                            }
                        }
                    }
                }
            }
            .area-table {
                padding-left: 10px;
                width: 100%;
                overflow-x: hidden;
                height: 200px;
                table {
                    @include table;
                    tr {
                        th {
                            @include table-tr-th;
                        }
                        td {
                            @include table-tr-td;
                            cursor: pointer;
                        }
                    }
                    .tr-active {
                        td {
                            @include table-tr-active-td;
                        }
                    }
                }
            }
        }
        .work-order-table {
            .area-table {
                width: 80%;
            }
        }
        .treatment-table {
            .table-title {
                margin-top: 50px;
            }
            .area-table {
                width: 60%;
            }
        }
        .description {
            label {
                font-size: $fontsize-large;
            }
        }
        .delivery-address {
            margin-top: 60px;
            .delivery-address-group {
                input {
                    margin-bottom: 5px;
                    &:nth-child(6) {
                        width: 80%;
                    }
                    &:nth-child(7) {
                        width: 30%;
                    }
                }
            }
        }
        .special-instructions {
            margin-top: 30px;
            .special-instructions-group {
                textarea {
                    width: 100%;
                }
            }
        }
        .carriage-type {
            margin: 17px 0 17px;
            label {
                font-weight: normal;
            }
        }
        .courier {
            margin-bottom: 20px;
            label {
                font-weight: normal;
            }
        }
        .delivery-button {
            button {
                @include kythera-large-button;
                font-weight: bold;
            }
            button.disabled {
                opacity: 0.2
            }
            .despatched {
                margin: 0 30px;
            }
            .print-docs {
                margin-left: 60px;
            }
        }
    }
}
