.department {
    .left-menu {
        width: 150px;
        float: left;
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                margin-bottom: 20px;
                overflow: auto;
                text-align: center;
                a {
                    button {
                        @include kythera-large-button;
                        float: none;
                    }
                }
            }
        }
    }
    .department-content {
        width: calc(100% - 150px);
        float: left;
    }
    .home-icon {
        cursor: pointer;
    }
}
