.goods-in-page {
    padding-bottom: 5px;
    select {
        height: 20px;
    }
    %button-additional {
        width: 80px!important;
        height: 50px!important;
        font-weight: bold!important;
        float: none!important;
    }
    %input-additional {
        font-size: $fontsize-large!important;
        border: 1px solid $color-blue!important;
        text-align: right!important;
        color: $fontsize-large!important;
        height: initial!important;
    }
    .content-right {
        text-align: right;
    }
    .border-blue {
        border: 1px solid $color-blue;
    }
    .color-orange {
        color: #BD3414;
    }
    label {
        font-weight: normal;
        text-align: left;
    }
    .form-group {
        overflow: hidden;
        margin-bottom: 2px;
        select {
            width: 100%;
        }
        input {
            width: 100%;
            height: 20px;
        }
    }
    .page-top {
        overflow: hidden;
        padding-bottom: 5px;
        strong {
            font-size: 18px;
        }
        %span-generate {
            width: 50px;
            display: inline-block;
            text-align: right;
        }
        .search {
            display: inline-block;
            padding: 0px;
            .grb-no,
            .material,
            .size {
                margin-bottom: 10px;
            }
            .grb-no {
                margin-top: 60px;
                .grb-title {
                    @extend %span-generate;
                }
                .grb-value {
                    width: 80px;
                }
            }
            .material {
                .material-title {
                    @extend %span-generate;
                }
                .material-value {
                    width: 80px;
                }
            }
            .size {
                .size-title {
                    @extend %span-generate;
                }
                .size-value {
                    width: 140px;
                }
            }
        }
        .customer-order-group {
            select {
                width: initial;
            }
        }
        .instock-table,
        .issued-table {
            display: inline-block;
            .table-title {
                color: #7485c1;
                text-align: center;
                font-size: $fontsize-large;
            }
            .floatThead-container {
                table {
                    thead {
                        background: #fff;
                        tr {
                            th {
                                @include table-tr-th;
                                height: 40px;
                            }
                        }
                    }
                }
            }
            .area-table {
                width: 100%;
                overflow-x: hidden;
                height: 156px;
                table {
                    @include table;
                    tr {
                        th {
                            @include table-tr-th;
                            height: 40px;
                        }
                        td {
                            @include table-tr-td;
                            cursor: pointer;
                            height: 30px;
                        }
                    }
                    .tr-active {
                        td {
                            @include table-tr-active-td;
                        }
                    }
                    .part-number-overflow {
                        width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        margin: 0;
                    }
                }
            }
        }
        .instock-table {
            position: relative;
            .table-control {
                position: absolute;
                top: 26px;
                left: -20px;
                .up-control {
                    @include kythera-up-arrow;
                }
                .down-control {
                    @include kythera-down-arrow;
                }
                span {
                    &:nth-child(2) {
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }
            }
        }
        .location {
            clear: both;
            padding-left: 15px;
            .location-title {
                @extend %span-generate;
            }
            .update-button {
                @include kythera-small-button;
                @extend %button-additional;
            }
            .allocated-report {
                @include kythera-large-button;
                float: none;
                vertical-align: bottom;
                font-weight: 700;
                margin-left: 15px;
            }
            .refresh-button {
                @include kythera-large-button;
                float: none;
                vertical-align: bottom;
                font-weight: 700;
                margin-left: 333px;
            }
        }
    }
    .page-body {
        padding: 15px 5px 0 0;
        border-top: 3px solid #CCC;
        position: relative;
        .page-body-title {
            position: absolute;
            top: -7px;
            left: 0px;
            background: #FFF;
            font-weight: bold;
            padding-left: 10px;
            padding-right: 40px;
        }
        .page-body-content {
            padding-left: 60px;
            .gr-type-absolute {
                position: absolute;
                top: 88px;
                left: 45px;
                z-index: 1;
                .gr-type-content {
                    .title {
                        margin-right: 15px;
                    }
                }
            }
            .templates {
                .template-item {
                    position: relative;
                    .receive-left {
                        .rcvd {
                            padding: 0;
                            .title {
                                small {
                                    font-size: 80%;
                                }
                            }
                            input {
                                width: 100%;
                            }
                        }
                        .next-gr {
                            button {
                                @include kythera-small-button;
                                @extend %button-additional;
                            }
                        }
                        .grb {
                            .title {
                                color: $color-blue;
                                font-weight: bold;
                                vertical-align: top;
                            }
                            input {
                                border: 1px solid $color-blue;
                                padding-top: 3px;
                                color: $color-blue;
                                font-size: $fontsize-large;
                                width: 40%;
                                text-align: right;
                                height: initial;
                            }
                        }
                        .gr-type {
                            .customer-order {
                                margin: 10px 0;
                            }
                        }
                        .po-number-wrapper {
                            margin-top: 25px;
                        }
                    }
                    .receive-right {
                        margin-bottom: 20px;
                        .drop-button {
                            button {
                                @include kythera-rectangle-button;
                                font-size: 16px;
                                width: 150px;
                                height: 100px;
                                float: right;
                                padding: 0 40px;
                            }
                        }
                    }
                    .gr-type-button {
                        button {
                            @include kythera-large-button;
                            font-weight: bold;
                            float: none;
                        }
                    }
                    .description {
                        .description-group {
                            textarea {
                                width: 100%;
                                height: 26px;
                            }
                        }
                    }
                }
                .template-type8 {
                    .release-note {
                        &.absolute {
                            position: absolute;
                            right: 16px;
                            top: 142px;
                            z-index: 1;
                            .title {
                                margin-right: 27px;
                            }
                            .release-note-group {
                                display: inline-block;
                                input[type="text"] {
                                    width: 98px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .location {
                .location-group {
                    select {
                        &:nth-child(1) {
                            width: 40%;
                        }
                        &:nth-child(2),
                        &:nth-child(3) {
                            width: initial;
                        }
                    }
                    .tag {
                        font-weight: bold;
                        margin: 0 10px;
                    }
                    button {
                        @include kythera-small-button;
                        @extend %button-additional;
                    }
                }
            }
            .approval-error {
                color: rgb(218, 0, 0);
            }
            .approval-button {
                padding-left: 0;
                button {
                    @include kythera-large-button;
                    font-weight: bold;
                }
                .due-in-report {
                    margin: 0 40px;
                }
                .view-po {
                    margin-left: 40px;
                }
            }
            .approval-type {
                .approval {
                    overflow: auto;
                    margin-bottom: 5px;
                }
                .their-wono {
                    .their-wono-group {
                        input[type="text"] {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}