.machine-control {
    .main-table {
        width: 90%;
        float: right;
    }
    .floatThead-container {
        table {
            thead {
                background: #fff;
                tr {
                    th {
                        @include table-tr-th;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .area-table {
        overflow-x: hidden;
        max-height: 314px;
        float: right;
        table {
            @include table;
            tr {
                th {
                    @include table-tr-th;
                    font-weight: bold;
                }
                td {
                    @include table-tr-td;
                    cursor: pointer;
                    a {
                        text-decoration: underline;
                        color: $color-blue;
                    }
                    &:nth-child(4),
                    &:nth-child(5) {
                        text-align: center;
                    }
                    input {
                        float: none;
                        margin: 10px 0;
                    }
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                    color: #000;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        color: rgba(255, 255, 0, 0.78);
                    }
                }
            }
        }
    }
    .bg-brown-cl-white {
        background: #cc9933!important;
        color: #FFF!important;
    }
    .cl-brown {
        color: #cc9933!important;
    }
    .cl-blue {
        color: $color-blue!important;
    }
    .cl-light-blue {
        color: $color-blue-nhat!important;
    }
    .table-control {
        float: left;
        .up-control {
            @include kythera-up-arrow;
        }
        .down-control {
            @include kythera-down-arrow;
        }
        span {
            &:nth-child(2) {
                font-size: 12px;
                margin-left: 3px;
            }
        }
    }
    .top {
        .left {
            p {
                font-size: 16px;
                margin-left: 2%;
                margin-top: 1%;
            }
            .look {
                margin-left: 4%;
            }
            .im {
                float: left;
                margin-left: 3%;
                margin-top: 3%;
                img {
                    height: auto;
                    width: auto;
                }
                p {
                    margin-left: 5px;
                }
            }
        }
        .right {
            .left {
                p {
                    font-size: 16px;
                    &:nth-child(1) {
                        font-weight: bold;
                    }
                }
                .eag {
                    color: blue;
                }
                .img {
                    height: auto;
                    width: 84%;
                    margin-bottom: 3%;
                }
            }
            .right {
                .chart {
                    margin-left: 3%;
                    height: auto;
                    width: 84%;
                }
                p {
                    margin-top: 1%;
                    font-size: 16px;
                }
            }
        }
    }
    .bottom {
        .left {
            margin-top: 30px;
            .top {
                margin-bottom: 3%;
                p {
                    font-size: 16px;
                    color: blue;
                }
                .ar {
                    border: 1px solid black;
                    text-align: center;
                    padding: 2%;
                    border-radius: 16px;
                    input {
                        width: 20%;
                    }
                    .by {
                        margin-left: 1%;
                        margin-right: 1%;
                    }
                    .dave {
                        margin-bottom: 3%;
                    }
                }
            }
            .bottom {
                margin-bottom: 3%;
                p {
                    font-size: 16px;
                    color: blue;
                }
                .ar {
                    border: 1px solid black;
                    text-align: center;
                    padding: 2%;
                    border-radius: 16px;
                    input {
                        width: 20%;
                    }
                    .by {
                        margin-left: 1%;
                        margin-right: 1%;
                    }
                    .dave {
                        margin-bottom: 3%;
                    }
                }
            }
        }
        .right {
            margin-top: 30px;
            .tooling-table,
            .maintenance-table {
                height: 100px;
                overflow: auto;
                margin-bottom: 15px;
                width: 100%;
            }
            .tooling-table {
                .area-table {
                    width: 76%;
                }
                tr {
                    th {
                        font-weight: normal;
                    }
                    td {
                        text-align: right;
                        &:nth-child(1) {
                            text-align: left;
                        }
                    }
                }
            }
            .maintenance-table {
                .area-table {
                    width: 100%;
                }
                tr {
                    th {
                        font-weight: normal;
                    }
                    td {
                        text-align: center;
                    }
                }
            }
            .area-button {
                button {
                    @include kythera-large-button;
                    font-weight: bold;
                }
            }
            .top {
                .tb {
                    width: 90%;
                    margin-top: 3%;
                    margin-left: 10%;
                }
            }
            .mid {
                .tb {
                    width: 90%;
                    margin-top: 3%;
                    margin-left: 10%;
                }
            }
            .bottom {
                .cancel {
                    @include kythera-large-button;
                    float: left;
                    margin-top: 20px;
                    margin-left: 53%;
                }
                .back {
                    @include kythera-large-button;
                    float: left;
                    margin-left: 8%;
                }
            }
        }
    }
}
