.order-history-page {
    .page-body {
        overflow: hidden;
        padding-left: 5px;
        padding-top: 5px;
        form {
            .left {
                .area-1 {
                    .area-title {
                        margin: 40px 0 80px 0;
                    }
                }
                .area-2 {
                    .area-body {
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            width: 50%;
                            max-height: 418px;
                            overflow-x: hidden;
                            table {
                                @include table;
                                tbody {
                                    max-height: 396px;
                                }
                                tr {
                                    th {
                                        @include table-tr-th;
                                    }
                                    td {
                                        @include table-tr-td;
                                        cursor: pointer;
                                        &:nth-child(3) {
                                            text-align: center;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right {
                .area-3 {
                    overflow: hidden;
                    margin-bottom: 30px;
                    .area-body {
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            overflow-x: hidden;
                            width: 50%;
                            float: left;
                            height: 137px;
                            table {
                                @include table;
                                tbody {
                                    max-height: 125px;
                                }
                                tr {
                                    th {
                                        @include table-tr-th;
                                    }
                                    td {
                                        @include table-tr-td;
                                        cursor: pointer;
                                        &:nth-child(2) {
                                            text-align: center;
                                        }
                                        &:nth-child(3) {
                                            text-align: right;
                                        }
                                        &:nth-child(4) {
                                            text-align: right;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                    }
                                }
                            }
                        }
                        .area-desc {
                            float: left;
                            padding-left: 5px;
                        }
                    }
                }
                .area-4 {
                    overflow: hidden;
                    margin-bottom: 30px;
                    .area-body {
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            overflow-x: hidden;
                            width: 70%;
                            height: 115px;
                            table {
                                @include table;
                                tbody {
                                    max-height: 93px;
                                }
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                    }
                                    td {
                                        @include table-tr-td;
                                        &:nth-child(2) {
                                            text-align: center;
                                        }
                                        &:nth-child(3) {
                                            text-align: right;
                                        }
                                        &:nth-child(4) {
                                            text-align: right;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                    }
                                }
                            }
                        }
                        .area-desc {
                            float: left;
                            padding-left: 5px;
                        }
                    }
                }
                .area-5 {
                    overflow: hidden;
                    margin-bottom: 30px;
                    .area-body {
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            overflow-x: hidden;
                            width: 90%;
                            height: 120px;
                            table {
                                @include table;
                                tbody {
                                    max-height: 98px;
                                }
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                    }
                                    td {
                                        @include table-tr-td;
                                        height: 30px;
                                        &:nth-child(2) {
                                            text-align: center;
                                        }
                                        &:nth-child(3) {
                                            text-align: right;
                                        }
                                        &:nth-child(4) {
                                            text-align: right;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                    }
                                }
                            }
                        }
                        .area-desc {
                            float: left;
                            padding-left: 5px;
                        }
                    }
                }
                .area-6 {
                    overflow: hidden;
                    margin-bottom: 20px;
                    .area-body {
                        button {
                            @include kythera-large-button;
                            float: none;
                            height: 73px;
                            vertical-align: top;
                            font-weight: bold;
                        }
                        .button {
                            @include kythera-large-button;
                            float: none;
                            height: 73px;
                            vertical-align: top;
                            font-weight: bold;
                        }
                        .repeat-title {
                            height: 60px;
                            width: 155px;
                            display: inline-block;
                            input {
                                width: 36px;
                                float: right;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}
