.overview {
    button {
        @include kythera-large-button;
    }
    .me {
        margin-bottom: 44px;
    }
    .text {
        color: #009688;
        font-size: 20px;
        font-weight: 600;
    }
    .textb {
        font-size: 25px;
    }
    hr {
        color: #009688;
    }
    .date {
        margin-top: 20px;
    }
    .month {
        font-size: 40px;
        position: absolute;
        top: 45px;
        color: #9E9E9E;
        z-index: 9999;
    }
    .day {
        font-size: 75px;
        position: relative;
        margin-left: 110px;
        color: gray;
    }
    .pink {
        color: pink;
        font-weight: 700;
    }
    .tit {
        color: gray;
        font-size: 20px;
    }
}