.part-control {
    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
    }
    .large-font {
        font-size: $fontsize-large!important;
    }
    .color-blue {
        color: $color-blue!important;
    }
    .color-yellow {
        color: yellow!important;
    }
    .color-red {
        color: red!important;
    }
    .content-right {
        text-align: right!important;
    }
    .page-tab {
        .nav-tabs {
            padding-left: 5px;
            border-bottom: 1px solid #97a5b0;
            li {
                a {
                    @include gradient(#fff, #e0eef7);
                    border: 1px solid #3c556b;
                    border-bottom: 1px solid #97a5b0;
                    border-radius: 5px 5px 0 0;
                    color: #6c94b1;
                    font-weight: bold;
                    padding: 5px;
                    &:hover {
                        background: #fff;
                        border-bottom: 1px solid transparent;
                    }
                }
            }
            li.active {
                a {
                    background: #fff;
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
    button {
        @include kythera-large-button;
        float: none;
        font-weight: bold;
    }
    .floatThead-container {
        table {
            thead {
                background: #fff;
                tr {
                    th {
                        @include table-tr-th;
                    }
                }
            }
        }
    }
    .area-table {
        width: 100%;
        max-height: 220px;
        overflow-x: hidden;
        table {
            @include table;
            tr {
                th {
                    @include table-tr-th;
                }
                td {
                    @include table-tr-td;
                    cursor: pointer;
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                }
            }
        }
    }
    .content-center {
        text-align: center;
    }
    .color-blue {
        color: $color-blue;
    }
    .color-black {
        color: #000;
    }
    .border {
        border: 1px solid;
    }
    .border-bottom {
        border-bottom: 1px solid;
    }
    .font-weight {
        font-weight: bold;
    }
    .font-size {
        font-size: $fontsize-large;
    }
    /**
     * Part List Tab
     */
    .part-list-tab {
        margin-top: 30px;
        .part-filter,
        .search-template,
        .flugel-up-issue,
        .cos-create-template,
        .originating-photocopy {
            margin-bottom: 30px;
        }
        .cos-create-template,
        .originating {
            select {
                width: initial;
            }
        }
        .drop-zone {
            padding: 2em 0;
            text-align: center;
            span {
                font-size: 20px;
            }
        }
    }
    /**
     * Assemblies Tab
     */
    .assemblies-tab {
        .work-no {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .child-partno {
            .area-table {
                max-height: 98px;
            }
        }
        .assemblies {
            .assemblies-content {
                margin-top: 10px;
            }
        }
    }
    /**
     * Notes Tab
     */
    .notes-tab {
        button {
            @include kythera-small-button;
            float: none;
        }
        .esl-notes,
        .part-remarks {
            position: relative;
        }
        .notes-add,
        .remarks-add {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .notes-table,
        .remarks-table {
            .area-table {
                max-height: 96px;
                th {
                    &:nth-child(1) {
                        width: 80%;
                    }
                }
                td {
                    text-align: center;
                }
            }
        }
        .esl-notes {
            margin: 50px 0 80px 0;
        }
    }
    /**
     * Review Tab
     */
    .review-tasks-tab {
        margin-top: 80px;
        select {
            width: 80%;
        }
        button {
            @include kythera-small-button;
            float: none;
        }
        .review-table {
            .area-table {
                max-height: 166px;
                td {
                    text-align: center;
                    color: $color-light-violet;
                    input[type="checkbox"] {
                        margin-right: 5px;
                    }
                }
            }
        }
        .review-button {
            p {
                margin: 10px 0;
            }
        }
    }
    /**
     * Docs tab
     */
    .docs-tab {
        margin-top: 80px;
        .view {
            p {
                margin-top: 10px;
            }
        }
        .approval-list {
            .reference {
                margin: 25px 0 15px 0;
            }
        }
        .area-table {
            max-height: 148px;
            td {
                text-align: center;
            }
        }
        .drop-button {
            button {
                @include kythera-rectangle-button;
                width: 100%;
                height: 150px;
                padding: 40px;
            }
        }
        .part-template {
            margin: 80px 0 10px 0;
        }
        .std-price {
            input[type="text"] {
                width: 30%;
            }
            .currency-symbol:before {
                top: 0;
            }
        }
        .std-lead-days {
            input[type="text"] {
                width: 20%;
            }
        }
        .part-issue,
        .drawing-assemblies {
            margin-bottom: 10px;
        }
        .drawing-assemblies {
            .approval,
            .qty-per {
                margin-top: 10px;
            }
        }
    }
}
