.purchase-order {
    .page-body {
        padding-top: 5px;
        .color-blue {
            color: $color-blue;
        }
        .border {
            border: 1px solid;
        }
        .font-weight {
            font-weight: bold;
        }
        .page-top {
            .top-item {
                .row-1 {
                    margin-bottom: 20px;
                    .area {
                        padding-left: 65px;
                        .area-1 {
                            input {
                                width: 100%;
                            }
                        }
                        .area-2,
                        .area-3 {
                            .area-title {
                                text-align: right;
                            }
                            input {
                                width: 75%;
                            }
                        }
                    }
                }
                .row-2 {
                    table {
                        width: 80%;
                        border: 1px solid pink;
                        border-spacing: 8px;
                        padding: 3px 4px 1px 4px;
                        display: block;
                        tr {
                            td {
                                padding-right: 3px;
                                &:nth-child(1) {
                                    width: 30%;
                                }
                                &:nth-child(2) {
                                    width: 6%;
                                }
                                &:nth-child(3) {
                                    width: 6%;
                                }
                                &:nth-child(4) {
                                    width: 30%;
                                }
                                &:nth-child(5) {
                                    width: 8%;
                                }
                                &:nth-child(6) {
                                    width: 12%;
                                }
                                &:nth-child(7) {
                                    width: 10%;
                                }
                                &:last-child {
                                    padding: 0;
                                }
                                input {
                                    width: 100%;
                                    height: $heightbase-input;
                                }
                            }
                        }
                    }
                }
                .row-3 {
                    .area {
                        padding-left: 140px;
                        .area-1,
                        .area-2 {
                            label {
                                color: $color-blue;
                            }
                            input {
                                font-size: 20px;
                                color: $color-blue;
                                text-align: right;
                                border: 1px solid $color-blue;
                                width: 130px;
                            }
                        }
                        .area-2 {
                            label {
                                margin-left: 100px;
                            }
                        }
                        .area-3 {
                            label {
                                margin-left: 50px;
                                font-weight: normal;
                            }
                            input {
                                width: 100px;
                            }
                        }
                        .area-4 {
                            label {
                                margin-left: 50px;
                                font-weight: normal;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
            .top-button {
                padding-top: 30px;
                button {
                    @include kythera-large-button;
                    font-weight: bold;
                }
            }
        }
        .page-tab {
            width: 100%;
            padding-top: 20px;
            font-size: 16px;
            float: left;
            .nav-tabs {
                padding-left: 5px;
                border-bottom: 1px solid #97a5b0;
                li {
                    a {
                        @include gradient(#fff, #e0eef7);
                        border: 1px solid #3c556b;
                        border-bottom: 1px solid #97a5b0;
                        border-radius: 5px 5px 0 0;
                        color: #6c94b1;
                        font-weight: bold;
                        padding: 5px;
                        &:hover {
                            background: #fff;
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
                li.active {
                    a {
                        background: #fff;
                        border-bottom: 1px solid transparent;
                    }
                }
            }
            .tab-content {
                .details-tab {
                    padding-top: 10px;
                    position: relative;
                    .row {
                        .area {
                            .area-1 {
                                .area-quote {
                                    display: inline-block;
                                    margin-left: 270px;
                                    label {
                                        font-weight: normal;
                                        margin-right: 15px;
                                    }
                                    input {
                                        width: 100px;
                                    }
                                }
                                .area-po {
                                    display: inline-block;
                                    margin-left: 150px;
                                    label {
                                        font-weight: normal;
                                        margin-right: 15px;
                                    }
                                }
                            }
                            .area-2 {
                                margin-left: 120px;
                                .table-workorder {
                                    position: relative;
                                    .floatThead-container {
                                        table {
                                            thead {
                                                background: #fff;
                                                tr {
                                                    th {
                                                        @include table-tr-th;
                                                        &:nth-child(1) {
                                                            width: 25%;
                                                        }
                                                        &:nth-child(2) {
                                                            width: 60%;
                                                        }
                                                        &:nth-child(3) {
                                                            width: 15%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .area-table {
                                        width: 36%;
                                        height: 95px;
                                        overflow-x: hidden;
                                        table {
                                            @include table;
                                            tr {
                                                th {
                                                    @include table-tr-th;
                                                    &:nth-child(1) {
                                                        width: 25%;
                                                    }
                                                    &:nth-child(2) {
                                                        width: 60%;
                                                    }
                                                    &:nth-child(3) {
                                                        width: 15%;
                                                    }
                                                }
                                                td {
                                                    @include table-tr-td;
                                                    height: 30px;
                                                    select {
                                                        text-align: center;
                                                        width: 97%;
                                                        height: 97%;
                                                        margin-top: 1px;
                                                        margin-left: 2px;
                                                    }
                                                    &:nth-child(3) {
                                                        text-align: right;
                                                    }
                                                }
                                            }
                                            .tr-active {
                                                td {
                                                    background: #635dae;
                                                    color: #fff;
                                                    select {
                                                        background: #fff;
                                                        color: initial;
                                                    }
                                                    .part-number {
                                                        color: #444;
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .table-control {
                                        position: absolute;
                                        top: 20px;
                                        left: -40px;
                                        span {
                                            &:nth-child(2) {
                                                margin-left: 2px;
                                            }
                                        }
                                        .up-control {
                                            @include kythera-up-arrow;
                                        }
                                        .down-control {
                                            @include kythera-down-arrow;
                                        }
                                    }
                                }
                                .area-options {
                                    position: relative;
                                    .operation {
                                        position: relative;
                                        .currentOperation {
                                            width: 30px;
                                            text-align: right;
                                        }
                                        label {
                                            &:nth-child(1) {
                                                color: $color-blue;
                                                display: inline-block;
                                            }
                                            &:nth-child(2) {
                                                color: $color-blue;
                                                border: 1px solid;
                                                width: 30px;
                                                text-align: right;
                                                height: 30px;
                                                padding-top: 3px;
                                                position: absolute;
                                                left: 95px;
                                                top: 5px;
                                                padding-right: 2px;
                                            }
                                            &:nth-child(3) {
                                                position: absolute;
                                                left: 130px;
                                                top: 17px;
                                            }
                                        }
                                    }
                                    .material {
                                        position: relative;
                                        label {
                                            font-weight: normal;
                                            position: absolute;
                                        }
                                        span {
                                            &:nth-child(4) {
                                                position: absolute;
                                                top: 35px;
                                                left: 70px;
                                                font-weight: bold;
                                                color: $color-dark-blue;
                                            }
                                        }
                                    }
                                    .link-btn {
                                        button {
                                            @include kythera-large-button;
                                            font-weight: bold;
                                        }
                                    }
                                    .options {
                                        .border {
                                            border: 1px solid #000;
                                            border-radius: 15px;
                                            width: 70%;
                                            padding: 17px 10px;
                                        }
                                        .element {
                                            margin-bottom: 7px;
                                            &:last-child {
                                                margin: 0;
                                            }
                                            label {
                                                font-weight: normal;
                                            }
                                            .label-description {
                                                margin-right: 20px;
                                            }
                                            .input-description {
                                                width: 600px;
                                            }
                                            .label-comment {
                                                margin-right: 40px;
                                            }
                                            .comment {
                                                width: 500px;
                                            }
                                            .label-price {
                                                margin-right: 70px;
                                            }
                                            .input-price {
                                                width: 100px;
                                                margin-right: 10px;
                                            }
                                            .price-type {
                                                margin-right: 100px;
                                            }
                                            .span-total-price {
                                                display: inline-block;
                                                border: 1px solid;
                                                border-color: #ccc #000 #000 #ccc;
                                                padding: 2px;
                                                input[type="text"] {
                                                    text-align: right;
                                                    width: 100px;
                                                }
                                            }
                                        }
                                        .element-1 {
                                            label {
                                                &:nth-child(2) {
                                                    font-weight: bold;
                                                }
                                            }
                                            .left-control {
                                                @include kythera-left-arrow;
                                            }
                                            .right-control {
                                                @include kythera-right-arrow;
                                            }
                                            .left-control,
                                            .right-control {
                                                display: inline-block;
                                            }
                                        }
                                        .element-2 {
                                            .label-quantity {
                                                margin-right: 40px;
                                            }
                                            .input-quantity {
                                                width: 50px;
                                            }
                                            .label-spu {
                                                margin-left: 130px;
                                            }
                                            .input-spu {
                                                width: 30px;
                                            }
                                            button {
                                                @include kythera-large-button;
                                                font-weight: bold;
                                                margin: 0 5px 5px 0;
                                            }
                                        }
                                        .element-3 {
                                            label {
                                                font-size: 12px;
                                                &:nth-child(1) {
                                                    margin-right: 180px;
                                                }
                                                &:nth-child(2) {
                                                    margin-right: 100px;
                                                }
                                            }
                                            div {
                                                .size {
                                                    margin-right: 50px;
                                                }
                                                .units {
                                                    margin-right: 85px;
                                                }
                                            }
                                        }
                                        .back {
                                            @include kythera-large-button;
                                            font-weight: bold;
                                            margin: 0 5px 5px 0;
                                            position: absolute;
                                            bottom: 0;
                                            right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .comment-tab {
                    padding: 30px 10px 30px 20px;
                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                    }
                    .tab-body {
                        overflow: hidden;
                        .comment-table {
                            width: 78%;
                            float: left;
                            margin-right: 5px;
                            .floatThead-container {
                                table {
                                    thead {
                                        background: #fff;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                            }
                                        }
                                    }
                                }
                            }
                            .area-table {
                                width: 100%;
                                max-height: 405px;
                                overflow-x: hidden;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                        }
                                        td {
                                            @include table-tr-td;
                                        }
                                    }
                                }
                            }
                        }
                        .drop-date {
                            width: 21%;
                            float: right;
                            .floatThead-container {
                                table {
                                    thead {
                                        background: #fff;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                                color: $color-xanh-dam;
                                                font-weight: bold;
                                                font-size: 20px;
                                                height: 59px;
                                                &:nth-child(1) {
                                                    width: 45%;
                                                }
                                                &:nth-child(2) {
                                                    width: 40%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .area-table {
                                width: 100%;
                                max-height: 448px;
                                overflow-x: hidden;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-xanh-dam;
                                            font-weight: bold;
                                            font-size: 20px;
                                            height: 59px;
                                            &:nth-child(1) {
                                                width: 45%;
                                            }
                                            &:nth-child(2) {
                                                width: 40%;
                                            }
                                        }
                                        td {
                                            @include table-tr-td;
                                            text-align: center;
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .tab-footer {
                        margin-left: 52px;
                        border: 1px solid #444;
                        margin-top: -1px;
                        width: 50%;
                    }
                }
                .supplier-tab {
                    padding: 80px 0 10px 50px;
                    .area {
                        margin-bottom: 15px;
                    }
                    .update {
                        position: absolute;
                        right: 23%;
                        bottom: 3%;
                        button {
                            @include kythera-large-button;
                            float: none;
                        }
                    }
                    .supplier {
                        span {
                            margin-right: 150px;
                        }
                    }
                    .supplier-ref {
                        span {
                            margin-right: 124px;
                        }
                        input {
                            width: 600px;
                        }
                    }
                    .client-contact {
                        margin-bottom: 30px;
                        span {
                            margin-right: 112px;
                        }
                        select {
                            width: 198px;
                        }
                    }
                    .delivery-charge {
                        margin-bottom: 0;
                        span {
                            width: 50px;
                            display: inline-block;
                            margin-right: 152px;
                        }
                        input {
                            vertical-align: top;
                            width: 80px;
                        }
                    }
                    .certification {
                        margin-bottom: 30px;
                        .span-certification {
                            margin-left: 126px;
                        }
                        .input-certification {
                            width: 80px;
                            margin-right: 100px;
                        }
                        .total-cost {
                            margin-right: 50px;
                        }
                        .value-total-cost {
                            border: 1px solid;
                            border-color: #ccc #000 #000 #ccc;
                            padding: 5px 3px;
                        }
                    }
                    .approval {
                        margin-bottom: 30px;
                        span {
                            margin-right: 68px;
                        }
                        input {
                            width: 600px;
                        }
                    }
                    .delivery-days {
                        span {
                            margin-right: 38px;
                        }
                    }
                    .delivery-date {
                        span {
                            margin-right: 40px;
                        }
                    }
                    .del-comments {
                        span {
                            margin-right: 31px;
                        }
                    }
                }
                .rfq-tab {
                    padding: 100px 0 10px 120px;
                    overflow: hidden;
                    .tab-title {
                        margin-bottom: 20px;
                    }
                    .tab-body {
                        width: 60%;
                        overflow: hidden;
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            height: 30px;
                                            &:nth-child(1) {
                                                width: 60%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            width: 60%;
                            height: 282px;
                            overflow-x: hidden;
                            float: left;
                            margin-right: 30px;
                            table {
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        height: 30px;
                                        &:nth-child(1) {
                                            width: 60%;
                                        }
                                    }
                                    td {
                                        @include table-tr-td;
                                        cursor: pointer;
                                        text-align: center;
                                        padding: 1px 2px 2px 0;
                                        &:nth-child(1) {
                                            text-align: left;
                                        }
                                        input {
                                            height: 24px;
                                            width: 60px;
                                        }
                                        select {
                                            text-align: center;
                                            width: 97%;
                                            height: 26px;
                                            margin-top: 1px;
                                            margin-left: 2px;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        background: #635dae;
                                        color: #000;
                                        select {
                                            background: #fff;
                                            color: initial;
                                        }
                                        .part-number {
                                            color: #444;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                        .table-control {
                            float: left;
                            .up-control {
                                @include kythera-up-arrow;
                            }
                            .down-control {
                                @include kythera-down-arrow;
                            }
                            span {
                                &:nth-child(2) {
                                    margin-left: 5px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .tab-footer {
                        position: relative;
                        margin-top: 30px;
                        width: 45%;
                        .prev-control {
                            @include kythera-left-arrow;
                            display: inline-block;
                            position: absolute;
                            top: -5px;
                            left: 36px;
                        }
                        .next-control {
                            @include kythera-right-arrow;
                            display: inline-block;
                            position: absolute;
                            top: -5px;
                            left: 80px;
                        }
                        span {
                            &:nth-child(1),
                            &:nth-child(4) {
                                font-weight: bold;
                                font-size: 16px;
                                color: $color-blue;
                                display: inline-block;
                            }
                            &:nth-child(1) {
                                margin-right: 105px;
                            }
                        }
                        button {
                            @include kythera-large-button;
                            font-weight: bold;
                        }
                        .generate-email {
                            margin-right: 10px;
                        }
                    }
                }
                .raise-tab {
                    padding: 100px 0 10px 80px;
                    overflow: hidden;
                    .button {
                        width: 7%;
                        float: left;
                        button {
                            @include kythera-large-button;
                            font-weight: bold;
                        }
                        .raise {
                            margin: 118px 0;
                        }
                    }
                    .table-content {
                        width: 92%;
                        float: left;
                        margin: 80px 0 0 10px;
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            width: 95%;
                            max-height: 222px;
                            overflow-x: hidden;
                            float: left;
                            table {
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                    }
                                    td {
                                        @include table-tr-td;
                                        cursor: pointer;
                                        height: 30px;
                                        select {
                                            text-align: center;
                                            width: 97%;
                                            height: 97%;
                                            margin-top: 1px;
                                            margin-left: 2px;
                                        }
                                        &:nth-child(1) {
                                            text-align: center;
                                        }
                                        &:nth-child(3),
                                        &:nth-child(4),
                                        &:nth-child(9),
                                        &:nth-child(10) {
                                            text-align: right;
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        background: #635dae;
                                        color: #fff;
                                        select {
                                            background: #fff;
                                            color: initial;
                                        }
                                        .part-number {
                                            color: #444;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                        .table-control {
                            width: 3%;
                            float: left;
                            margin-left: 10px;
                            .up-control {
                                @include kythera-up-arrow;
                            }
                            .down-control {
                                @include kythera-down-arrow;
                            }
                            span {
                                &:nth-child(2) {
                                    font-size: 12px;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
                .notes-tab {
                    .tab-content {
                        padding: 268px 0 10px 250px;
                        .tab-body {
                            .floatThead-container {
                                table {
                                    thead {
                                        background: #fff;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                            }
                                        }
                                    }
                                }
                            }
                            .area-table {
                                width: 85%;
                                overflow-x: hidden;
                                height: 229px;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                        }
                                        td {
                                            @include table-tr-td;
                                            cursor: pointer;
                                            height: initial;
                                            padding: 3px 8px;
                                            input[type="text"] {
                                                width: 100%;
                                            }
                                            select {
                                                width: 100px;
                                            }
                                            &:nth-child(3),
                                            &:nth-child(4),
                                            &:nth-child(5) {
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .tr-active {
                                        td {
                                            @include table-tr-active-td;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .material-tab {
                    padding: 80px 0 10px 80px;
                    .tab-content {
                        .tab-search {
                            margin-bottom: 50px;
                            .tab-title {
                                float: left;
                                input[type="text"] {
                                    width: 150px;
                                    margin: 0 20px 0 30px;
                                }
                            }
                            .tab-button {
                                float: left;
                                button {
                                    @include kythera-large-button;
                                    font-weight: bold;
                                    float: none;
                                }
                            }
                        }
                        .tab-body {
                            clear: both;
                            overflow: hidden;
                            .floatThead-container {
                                table {
                                    thead {
                                        background: #fff;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                                font-size: 25px;
                                                color: #666699;
                                                height: 50px;
                                            }
                                        }
                                    }
                                }
                            }
                            .main-table {
                                width: 88%;
                                float: right;
                                margin-top: 79px;
                            }
                            .area-table {
                                overflow-x: hidden;
                                height: 310px;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            font-size: 25px;
                                            color: #666699;
                                            height: 50px;
                                        }
                                        td {
                                            @include table-tr-td;
                                            height: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .invoice-tab {
                    overflow: auto;
                    padding: 40px 0px 15px;
                    .tab-content {
                        .grb-area {
                            .grb {
                                .floatThead-container {
                                    table {
                                        thead {
                                            background: #fff;
                                            tr {
                                                th {
                                                    @include table-tr-th;
                                                    height: 32px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .area-table {
                                    overflow-x: hidden;
                                    height: 170px;
                                    table {
                                        @include table;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                                height: 32px;
                                            }
                                            td {
                                                @include table-tr-td;
                                                cursor: pointer;
                                                height: 32px;
                                                &:nth-child(1),
                                                &:nth-child(5) {
                                                    text-align: center;
                                                }
                                                &:nth-child(3),
                                                &:nth-child(4) {
                                                    text-align: right;
                                                }
                                                a {
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                        .tr-active {
                                            td {
                                                @include table-tr-active-td;
                                            }
                                        }
                                    }
                                }
                                .drop-invoice {
                                    padding: 0;
                                    .drop {
                                        button {
                                            @include kythera-rectangle-button;
                                            padding: 0 23%;
                                            height: 120px;
                                        }
                                    }
                                    .invoice-no {
                                        overflow: auto;
                                        margin-top: 7px;
                                        span {
                                            float: left;
                                            display: inline-block;
                                            height: 26px;
                                            line-height: 26px;
                                        }
                                        input[type="text"] {
                                            float: right;
                                            width: 98px;
                                            overflow: initial;
                                        }
                                    }
                                }
                            }
                            .invoice-total {
                                margin-top: 36px;
                                margin-bottom: 36px;
                                input.total {
                                    font-size: 20px;
                                    width: 100px;
                                    border: 1px solid blue;
                                    margin: 0 20px;
                                }
                                input.actual-total {
                                    width: 80px;
                                    margin: 0 30px 0 5px;
                                }
                                input[type="checkbox"] {
                                    vertical-align: bottom;
                                    margin-left: 20px;
                                }
                            }
                        }
                        .invoice-table {
                            .raise-adjustment {
                                margin-top: 40px;
                                .adjustment-reject {
                                    .adjustment-no {
                                        float: right;
                                        input[type="text"] {
                                            border: 1px solid $color-blue;
                                            color: $color-blue;
                                            font-weight: bold;
                                            font-size: 16px;
                                            text-align: right;
                                            padding-bottom: 5px;
                                            width: 100px;
                                        }
                                    }
                                }
                                .raise-note {
                                    .select-invoice,
                                    .debit-amount {
                                        margin-bottom: 5px;
                                    }
                                    .reason {
                                        margin-bottom: 2px;
                                    }
                                    .select-invoice,
                                    .debit-amount,
                                    .reason {
                                        span {
                                            width: 110px;
                                            display: inline-block;
                                        }
                                    }
                                    .button {
                                        button {
                                            @include kythera-large-button;
                                            font-weight: bold;
                                            width: 110px;
                                            background-size: 110px 60px;
                                        }
                                        .btn-reject {
                                            margin-left: 15px;
                                        }
                                    }
                                }
                            }
                            .raise-table {
                                padding-right: 0;
                                .floatThead-container {
                                    table {
                                        thead {
                                            background: #fff;
                                            tr {
                                                th {
                                                    @include table-tr-th;
                                                    color: #9999cc;
                                                    font-size: 20px;
                                                    padding: 10px 5px;
                                                    height: 78px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .area-table {
                                    width: 100%;
                                    overflow-x: hidden;
                                    float: right;
                                    max-height: 180px;
                                    table {
                                        @include table;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                                color: #9999cc;
                                                font-size: 20px;
                                                padding: 10px 5px;
                                                height: 78px;
                                            }
                                            td {
                                                @include table-tr-td;
                                                cursor: pointer;
                                                height: 30px;
                                                &:nth-child(1),
                                                &:nth-child(4) {
                                                    text-align: center;
                                                }
                                                &:nth-child(2),
                                                &:nth-child(3) {
                                                    text-align: right;
                                                }
                                            }
                                        }
                                        .tr-active {
                                            td {
                                                @include table-tr-active-td;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .quality-tab {
                    overflow: auto;
                    padding: 58px 20px;
                    .quality-body {
                        .reject-note {
                            font-size: $fontsize-large;
                            color: $color-blue;
                            font-weight: bold;
                        }
                        .reject-quanlity {
                            .open-grb {
                                margin-bottom: 50px;
                                span {
                                    display: inline-block;
                                    height: 26px;
                                    vertical-align: top;
                                }
                                select {
                                    height: 26px;
                                    float: right;
                                }
                            }
                            .reject-qty {
                                input[type="text"] {
                                    width: 80px;
                                    float: right;
                                }
                            }
                        }
                        .reject-note-no {
                            input[type="text"] {
                                width: 90px;
                                float: right;
                                border: 1px solid $color-blue;
                                color: $color-blue;
                                font-weight: bold;
                                text-align: right;
                                font-size: $fontsize-large;
                                padding-bottom: 2px;
                            }
                        }
                        .deviation {
                            margin-top: 40px;
                            textarea {
                                width: 100%;
                            }
                        }
                        .reject-clause {
                            margin-top: 50px;
                            padding-top: 20px;
                            span {
                                display: inline-block;
                                width: 40%;
                                text-align: right;
                            }
                            .create-reject {
                                clear: both;
                                button {
                                    @include kythera-large-button;
                                    font-weight: bold;
                                    margin: 40px 0 70px 0;
                                }
                            }
                        }
                        .reject-close {
                            text-align: right;
                            input[type="checkbox"] {
                                vertical-align: bottom;
                            }
                        }
                    }
                    .drop-quality {
                        padding: 0;
                        text-align: right;
                        button {
                            @include kythera-rectangle-button;
                            width: 180px;
                            height: 150px;
                            font-size: 20px;
                            padding: 22px 45px;
                        }
                    }
                }
            }
        }
    }
}
