.department-page {
	.page-content {
		overflow: auto;
		text-align: center;
		padding-top: 30px;
		button {
			@include kythera-large-button;
			float: none;
			vertical-align: top;
			font-weight: bold;
			margin: 0 20px;
		}
	}
}