.staff-room-page {
    .page-body {
        input[type="text"],
        input[type="email"] {
            width: 100%;
        }
        span {
            display: inline-block;
            width: 100%;
        }
        .content-right {
            text-align: right;
        }
        .color-blue {
            color: $color-blue;
        }
        .background-light-yellow {
            background: $background-light-yellow;
        }
        .color-dark-blue {
            color: $color-xanh-dam;
        }
        .border {
            border: 1px solid #000;
        }
        .bold {
            font-weight: bold;
        }
        .margin-bottom-10 {
            margin-bottom: 10px;
        }
        .clear-fix {
            clear: both;
        }
        .staff-info {
            .staff-credit {
                .select-staff {
                    margin-bottom: 30px;
                    input[type="text"],
                    input[type="email"] {
                        width: 90%;
                        margin-left: 40px;
                    }
                }
                span {
                    display: inline-block;
                    width: 200px;
                    text-align: right;
                }
                .fork-first {
                    border: 1px solid;
                    border-radius: 15px;
                    padding: 5px;
                    margin: 10px;
                    .fork-lift {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .staff-address {
            padding-left: 80px;
        }
        .staff-security {
            .contracted-hours {
                .content {
                    margin-top: 20px;
                    input[type="text"],
                    input[type="email"] {
                        width: 40%;
                    }
                    span {
                        width: initial;
                    }
                }
            }
            .security-access {
                margin-top: 50px;
                .title {
                    position: absolute;
                    top: -10px;
                    background: #FFF;
                    z-index: 2;
                    width: initial;
                    left: 10px;
                }
                .content {
                    border: 1px solid;
                    border-radius: 15px;
                    .user {
                        margin-top: 20px;
                    }
                    .manager {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .system-assigned-contract {
            margin-bottom: 10px;
            .system-assigned {
                .system-role,
                .system-button,
                .assigned-role {
                    margin-top: 50px;
                }
                .system-role,
                .assigned-role {
                    .content {
                        max-height: 135px;
                        overflow: auto;
                        .selected {
                            background: #575fa7;
                            color: yellow;
                        }
                    }
                }
                .system-button {
                    button {
                        @include kythera-small-button;
                        float: none;
                    }
                    .add {
                        margin-bottom: 10px;
                    }
                }
                .save-area {
                    button {
                        @include kythera-large-button;
                    }
                }
            }
            .contract {
                button {
                    @include kythera-rectangle-button;
                    width: 100%;
                    height: 120px;
                    font-weight: bold;
                    padding: 0
                }
            }
        }
        .first-role-new-member {
            .new-member {
                button {
                    @include kythera-large-button;
                }
            }
        }
        .back {
            button {
                @include kythera-large-button;
            }
        }
    }
}
