.admin-page {
    overflow: hidden;
    padding: 10px;
    position: relative;
    .page-body {
        overflow: hidden;
        .right-content {
            text-align: right;
        }
        input {
            width: 100%;
        }
        .button-control {
            .add {
                margin: 5px 0;
            }
        }
        button {
            @include kythera-small-button;
            font-weight: bold;
            float: none;
        }
        .area-table {
            padding-left: 10px;
            overflow-x: hidden;
            float: left;
            table {
                @include table;
                tr {
                    th {
                        @include table-tr-th;
                    }
                    td {
                        @include table-tr-td;
                        cursor: pointer;
                    }
                }
                .tr-active {
                    td {
                        @include table-tr-active-td;
                    }
                }
            }
        }
        .store-locations {
            .store-locations-table {
                overflow: hidden;
                .area-table {
                    height: 274px;
                }
            }
            .couriers-table {
                overflow: hidden;
                margin-top: 80px;
                .area-table {
                    height: 200px;
                }
                .area-sort {
                    padding: 0 5px;
                    .up-control {
                        @include kythera-up-arrow;
                    }
                    .down-control {
                        @include kythera-down-arrow;
                    }
                    span {
                        &:nth-child(2) {
                            font-size: 12;
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
        .x-co-ordinate, .y-co-ordinate {
            .table-control {
                input {
                    width: 20%;
                    float: right;
                }
            }
            .area-table {
                height: 568px;
            }
        }
        .y-co-ordinate {
            .area-button {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0;
                button {
                    @include kythera-large-button;
                }
            }
        }
        .button-footer {
            clear: both;
            button {
                @include kythera-large-button;
            }
        }
    }
}
