.supply-order-history-page {
    .floatThead-container {
        table {
            thead {
                background: #fff;
                tr {
                    th {
                        @include table-tr-th;
                    }
                }
            }
        }
    }
    .area-table {
        width: 100%;
        overflow-x: hidden;
        table {
            @include table;
            tr {
                th {
                    @include table-tr-th;
                }
                td {
                    @include table-tr-td;
                    cursor: pointer;
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                }
            }
        }
    }
    .supply-title {
        border: 1px solid #d2d2ff;
        margin: 0 0 20px 20px;
    }
    .select-order {
        .area-table {
            height: 292px;
        }
    }
    .po-linked {
        .area-table {
            height: 292px;
        }
    }
    .button {
        button {
            @include kythera-large-button;
            font-weight: bold;
        }
    }
}
