.active {
    display: block !important;
}

.workorders-page {
    .page-body {
        %a {
            display: block;
            border: 1px solid blue;
            font-size: 15px;
            width: 200px;
            text-decoration: underline;
            color: #5A1B90;
        }
        .no-border {
            border: 0!important;
        }
        .box {
            margin-left: 0px;
            margin-right: 0px;
        }
        label {
            font-weight: normal;
        }
        .first {
            form {
                .titles-orders {
                    .titles-orders-first {
                        .a-part-no {
                            @extend %a;
                        }
                        .order-item {
                            display: inline-block;
                            margin-left: 10px;
                        }
                        .orders-input {
                            label {
                                font-weight: normal;
                            }
                            div:first-child {
                                padding-left: 0;
                                label {
                                    width: 100%;
                                    margin-left: 10px;
                                }
                                input {
                                    width: 70px;
                                }
                            }
                            div {
                                label {
                                    width: 100%;
                                    margin-left: 10px;
                                    font-size: 16px;
                                }
                                .left-none {
                                    margin-left: 0px;
                                    font-size: 14px;
                                }
                                select {
                                    background: none;
                                    height: 23px;
                                }
                            }
                            div:last-child {
                                label {
                                    color: #0400E1;
                                    width: auto;
                                    margin-left: 0px;
                                }
                                a {
                                    border: 1px solid #0001CF;
                                    color: #5A1B90;
                                    text-decoration: underline;
                                    margin-left: 15px;
                                    padding-left: 10px;
                                    font-size: 18px;
                                    width: 200px;
                                    display: block;
                                }
                            }
                        }
                        .orders-text {
                            margin-top: 20px;
                            div {}
                            label {
                                font-weight: 100;
                                width: 100%;
                            }
                            div:first-child {
                                label {
                                    color: #0400E1;
                                    font-size: 17px;
                                    width: auto;
                                    font-weight: bold;
                                }
                                input {
                                    border: 1px solid #0001CF;
                                    color: #0001CF;
                                    margin-left: 5px;
                                    font-size: 20px;
                                    width: 130px;
                                    text-align: right;
                                    height: auto;
                                }
                            }
                            .quantity {
                                label {
                                    width: 100%;
                                }
                                input {
                                    width: 50px;
                                }
                            }
                            .description {
                                input {
                                    width: 100%;
                                }
                            }
                            div:last-child {
                                p {
                                    color: #5A1B90;
                                    text-decoration: underline;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .titles-orders-after {
                        margin-top: 17px;
                        padding: 0px;
                        button {
                            @include button-screend-default;
                            float: left;
                        }
                    }
                }
            }
        }
        .box.content {
            @include tabs;
            .tab_container {
                width: 99.6%;
                margin-left: 0.4%;
                border-top: 1px solid #99A6AF;
                position: static;
                padding-top: 30px;
                .submit-button {
                    button {
                        @include button-screend-default;
                        margin-bottom: 20px;
                    }
                    .view-route-card {
                        margin-bottom: 0;
                    }
                }
                .information-orders {
                    .form-group {
                        margin-bottom: 12px;
                        overflow: hidden;
                        display: block;
                        label {
                            font-weight: 100;
                            text-align: right;
                            font-size: 15px;
                        }
                        label:last-child {
                            text-align: left;
                            color: #5A1B90;
                            text-decoration: underline;
                            font-size: 18px;
                        }
                        input {
                            width: 200px;
                            border: 1px solid blue;
                        }
                        .blue {
                            input {
                                color: #5A1B90;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .modules-list-text {
                    margin-top: 30px;
                    .floatThead-container {
                        table {
                            thead {
                                background: #fff;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .area-table {
                        width: 100%;
                        float: left;
                        overflow-x: hidden;
                        max-height: 316px;
                        table {
                            tbody {
                                max-height: 258px;
                            }
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    font-weight: bold;
                                }
                                td {
                                    @include table-tr-td;
                                    input[type="text"] {
                                        width: 100%;
                                        height: 20px;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .close-cancal {
                    margin-top: 0;
                    div:first-child {
                        text-align: right;
                        label {
                            width: 100%;
                            text-align: right;
                            color: #0400E1;
                            font-size: 19px;
                            font-weight: 100;
                            text-transform: capitalize;
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        p {
                            width: 220px;
                            float: right;
                            text-align: right;
                            font-size: 17px;
                            border: 1px solid #0001CF;
                        }
                    }
                    div:last-child {
                        text-align: left;
                        input {
                            margin-top: 20px;
                        }
                    }
                }
                #tab-main {
                    a {
                        @extend %a;
                    }
                }
                #tab-cocs {
                    margin-left: 50px;
                    .content-header {
                        overflow: auto;
                        text-align: center;
                        .grb-table {
                            .tr-active {
                                td {
                                    @include table-tr-active-td;
                                    input {
                                        color: #000;
                                    }
                                }
                            }
                        }
                        div:first-child {
                            padding: 0px;
                            label {
                                float: right;
                            }
                            label:first-child {
                                float: left;
                            }
                        }
                        .input-invoice {
                            div:first-child {
                                margin-left: 10px;
                                width: 100px;
                                float: left;
                                p {
                                    height: 15px;
                                }
                                input.date {
                                    width: 90px;
                                }
                            }
                            div:last-child {
                                float: left;
                                margin-left: 10px;
                                width: 110px;
                                text-align: right;
                                p {
                                    width: 15px;
                                }
                                input.text {
                                    width: 100px;
                                    border: 1px solid #171739;
                                    font-size: 20px;
                                    text-align: right;
                                    margin-bottom: 10px;
                                }
                                .quantity-title {
                                    float: left;
                                }
                                .quantity {
                                    float: right;
                                    width: 50%;
                                }
                            }
                        }
                        div {
                            .floatThead-container {
                                table {
                                    thead {
                                        background: #fff;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                                color: #2A1E6A;
                                                font-size: 18px;
                                                text-align: center;
                                                height: 54px;
                                                &:nth-child(1) {
                                                    width: 26%;
                                                    text-align: left;
                                                }
                                                &:nth-child(2) {
                                                    text-align: center;
                                                    width: 50%;
                                                    color: #4865AB;
                                                }
                                                &:nth-child(3) {
                                                    text-align: center;
                                                    width: 7%;
                                                    font-weight: 100;
                                                    font-size: 17px;
                                                }
                                                &:nth-child(4) {
                                                    text-align: center;
                                                    width: 7%;
                                                    font-weight: 100;
                                                    color: #000;
                                                    font-size: 16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .area-table {
                                width: 100%;
                                float: left;
                                margin-right: 10px;
                                overflow-x: hidden;
                                max-height: 131px;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: #2A1E6A;
                                            font-size: 18px;
                                            text-align: center;
                                            height: 54px;
                                            &:nth-child(1) {
                                                width: 26%;
                                                text-align: left;
                                            }
                                            &:nth-child(2) {
                                                text-align: center;
                                                width: 50%;
                                                color: #4865AB;
                                            }
                                            &:nth-child(3) {
                                                text-align: center;
                                                width: 7%;
                                                font-weight: 100;
                                                font-size: 17px;
                                            }
                                            &:nth-child(4) {
                                                text-align: center;
                                                width: 7%;
                                                font-weight: 100;
                                                color: #000;
                                                font-size: 16px;
                                            }
                                        }
                                        td {
                                            @include table-tr-td;
                                            text-align: center;
                                            text-decoration: underline;
                                            color: #5A1B90;
                                            input[type="text"],
                                            input[type="email"] {
                                                border: 0;
                                                text-align: center;
                                                text-decoration: underline;
                                                color: #5A1B90;
                                            }
                                            &:nth-child(1) {
                                                text-align: center;
                                                width: 15%;
                                            }
                                            &:nth-child(4) {
                                                text-align: center;
                                            }
                                            input[type="text"] {
                                                width: 100%;
                                                height: 20px;
                                            }
                                            select {
                                                width: 100%;
                                            }
                                            button {
                                                @include kythera-small-button;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .submit {
                            input {
                                float: right;
                            }
                            button {
                                @include button-screend-default;
                                float: right;
                            }
                            p {
                                overflow: auto;
                                span {
                                    display: block;
                                    margin-top: 40px;
                                    float: right;
                                    text-align: right;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .content-main {
                        overflow: auto;
                        .box-credit {
                            border: 1px solid #090909;
                            border-radius: 10px;
                            padding: 0 5px;
                            position: relative;
                            .credit-title {
                                position: absolute;
                                z-index: 1;
                                top: -4px;
                                left: 10px;
                                background: #FFF;
                            }
                            div {
                                margin-top: 5px;
                                margin-bottom: 0;
                                font-size: 16px;
                            }
                            .title {
                                color: #0001CF;
                                margin-top: 15px;
                                font-size: 20px;
                                padding-right: 15px;
                            }
                            .number {
                                width: 100px;
                                border: 1px solid #171739;
                                font-size: 20px;
                                text-align: right;
                                margin-bottom: 0;
                                color: #0001CF;
                                padding-right: 15px;
                            }
                            .select {
                                color: #0001CF;
                                select[name="matching"] {
                                    background: none;
                                    height: 23px;
                                    color: #000;
                                }
                            }
                            .quantity {
                                text-align: right;
                                input {
                                    width: 50px;
                                }
                            }
                            .identification {
                                margin: 0px;
                                p {
                                    margin-bottom: 3px;
                                }
                                input {
                                    width: 200px;
                                }
                            }
                            div {
                                button {
                                    @include button-screend-default;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        .list-text {
                            margin-top: 20px;
                            .floatThead-container {
                                table {
                                    thead {
                                        background: #fff;
                                        tr {
                                            th {
                                                @include table-tr-th;
                                            }
                                        }
                                    }
                                }
                            }
                            .area-table {
                                @include area-table;
                                margin-bottom: 25px;
                                max-height: 110px;
                                table {
                                    tbody {
                                        max-height: 76px;
                                    }
                                }
                            }
                        }
                    }
                    .image-generate {
                        max-width: 100%;
                        margin-top: 10px;
                    }
                }
                #tab-pos {
                    width: 1100px;
                    margin: 0 auto;
                    float: none;
                    p {
                        span {
                            padding-right: 5px;
                        }
                    }
                    .floatThead-container {
                        table {
                            thead {
                                background: #fff;
                                tr {
                                    td {
                                        @include table-tr-td;
                                        width: calc(10% - 3px);
                                        display: block;
                                        float: left;
                                        text-align: center;
                                        color: #5D6490;
                                        font-size: 16px;
                                        margin: 1px;
                                        height: 25px;
                                    }
                                    td:nth-child(6) {
                                        width: 20%;
                                    }
                                    td:last-child {
                                        width: 30%;
                                    }
                                    td:first-child {
                                        text-decoration: underline;
                                        color: #785B90;
                                    }
                                    td:nth-child(2) {
                                        text-decoration: underline;
                                        color: #785B90;
                                    }
                                    &.red {
                                        td {
                                            border-color: #e74c3c;
                                        }
                                    }
                                    th {
                                        @include table-tr-th;
                                    }
                                }
                            }
                        }
                    }
                    .area-table {
                        overflow-x: hidden;
                        max-height: 425px;
                        table {
                            tbody {
                                max-height: 398px;
                            }
                            @include table;
                            tr {
                                td {
                                    @include table-tr-td;
                                    width: calc(10% - 3px);
                                    display: block;
                                    float: left;
                                    text-align: center;
                                    color: #5D6490;
                                    font-size: 16px;
                                    margin: 1px;
                                    height: 25px;
                                }
                                td:nth-child(6) {
                                    width: 20%;
                                }
                                td:last-child {
                                    width: 30%;
                                }
                                td:first-child {
                                    text-decoration: underline;
                                    color: #785B90;
                                }
                                td:nth-child(2) {
                                    text-decoration: underline;
                                    color: #785B90;
                                }
                                &.red {
                                    td {
                                        border-color: #e74c3c;
                                    }
                                }
                            }
                            tr:first-child {
                                td {
                                    color: #5D6490;
                                    font-size: 16px;
                                    text-decoration: inherit;
                                }
                            }
                        }
                    }
                }
                #tab-costings {
                    @include box-container;
                    .box-total {
                        padding: 0px;
                        padding-top: 70px;
                        p {
                            display: block;
                            overflow: auto;
                            .name {
                                font-size: 18px;
                                display: block;
                                float: left;
                                text-align: right;
                                display: inline-block;
                                width: 50%;
                            }
                            .text {
                                font-size: 17px;
                                display: block;
                                width: 45%;
                                float: right;
                                border: 1px solid #99A6AF;
                            }
                        }
                        p:last-child {
                            .name {
                                font-weight: 600;
                            }
                            .text {
                                color: #0001CF;
                                font-size: 18px;
                                text-align: right;
                            }
                        }
                    }
                    .floatThead-container {
                        table {
                            thead {
                                background: #fff;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .tabs-content {
                        overflow: auto;
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    font-size: 20px;
                                }
                                td {
                                    @include table-tr-td;
                                    font-size: 18px;
                                    padding-left: 3px;
                                }
                                td:first-child {
                                    text-align: center;
                                    width: 50%;
                                }
                                td:nth-child(2) {
                                    width: 25%;
                                    text-align: center;
                                }
                                td:last-child {
                                    width: 25%;
                                    text-align: center;
                                }
                            }
                            .space {
                                border: none;
                                background-color: #fff;
                                width: 102%;
                                margin-left: 1%;
                            }
                            .total {
                                td {
                                    height: 55px;
                                }
                                td:first-child {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .table-right {
                        .time {
                            @include table;
                            margin-bottom: 15px;
                            width: 70%;
                            float: right;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    font-size: 20px;
                                }
                                td {
                                    @include table-tr-td;
                                    font-size: 18px;
                                    padding-left: 10px;
                                }
                                td:first-child {
                                    text-align: center;
                                    width: 32%;
                                }
                                td:nth-child(2) {
                                    width: 34%;
                                    text-align: right;
                                }
                                td:last-child {
                                    width: 34%;
                                    text-align: right;
                                }
                            }
                        }
                        .grand-total {
                            @include table;
                            margin-bottom: 15px;
                            tr {
                                td {
                                    @include table-tr-td;
                                    font-size: 18px;
                                    padding-left: 10px;
                                    height: 55px;
                                    width: 20%;
                                    color: #5A1B90;
                                }
                                td:first-child {
                                    text-align: center;
                                    width: 27%;
                                    font-weight: bold;
                                    color: #000;
                                }
                                td:nth-child(2),
                                td:nth-child(3),
                                td:nth-child(4) {
                                    width: 20%;
                                }
                                td:last-child {
                                    font-weight: bold;
                                    text-align: right;
                                }
                            }
                        }
                        .per-part {
                            @include table;
                            margin-bottom: 15px;
                            margin-left: 5%;
                            width: 95%;
                            margin-bottom: 0;
                            tr {
                                td {
                                    @include table-tr-td;
                                    font-size: 18px;
                                    padding-left: 10px;
                                    height: 55px;
                                    width: 23.2%;
                                    color: #5A1B90;
                                }
                                td:first-child {
                                    text-align: center;
                                    width: 30.4%;
                                    font-weight: bold;
                                    color: #000;
                                }
                                td:nth-child(3) {
                                    text-align: right;
                                }
                            }
                        }
                        .wo-totals {
                            @include table;
                            margin-bottom: 15px;
                            tr {
                                td {
                                    @include table-tr-td;
                                    font-size: 18px;
                                    padding-left: 10px;
                                    height: 55px;
                                    width: 23.2%;
                                    color: #5A1B90;
                                }
                                td:first-child {
                                    text-align: center;
                                    width: 27%;
                                    font-weight: bold;
                                    color: #000;
                                }
                                td:nth-child(2),
                                td:nth-child(3),
                                td:nth-child(4) {
                                    width: 20%;
                                }
                                td:last-child {
                                    font-weight: bold;
                                    text-align: right;
                                    color: $color-blue;
                                }
                            }
                        }
                    }
                    .table-operation,
                    .table-time,
                    .table-per-part {
                        margin-bottom: 15px;
                    }
                    .table-operation,
                    .table-time {
                        .float-thead-wrapper {
                            max-height: 212px;
                        }
                    }
                    .table-operation {
                        table {
                            tbody {
                                max-height: 360px;
                            }
                        }
                    }
                    .table-time {
                        width: 70%;
                        float: right;
                        table {
                            width: 100%;
                            float: right;
                            tbody {
                                max-height: 113px;
                            }
                            tr {
                                th,
                                td {
                                    &:nth-child(1),
                                    &:nth-child(2),
                                    &:nth-child(3) {
                                        width: 33.33%;
                                    }
                                }
                            }
                        }
                    }
                    .table-grand-total {
                        clear: both;
                    }
                    .table-per-part {
                        padding-right: 105px;
                        table {
                            tr {
                                td {
                                    &:nth-child(1) {
                                        width: 28%!important;
                                    }
                                }
                            }
                        }
                    }
                }
                #tab-invoices {
                    @include box-container;
                    .content-height-left {
                        width: 66.6%;
                        padding: 0 15px;
                    }
                    .floatThead-container {
                        table {
                            thead {
                                background: #fff;
                                tr {
                                    th {
                                        @include table-tr-th;
                                    }
                                }
                            }
                        }
                    }
                    .area-table {
                        width: 100%;
                        overflow-x: hidden;
                        table {
                            tbody {
                                max-height: 102px;
                            }
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                }
                                td {
                                    @include table-tr-td;
                                    cursor: pointer;
                                    a {
                                        text-decoration: underline;
                                    }
                                    &:nth-child(5) {
                                        input[type="text"] {
                                            width: 80%;
                                        }
                                    }
                                }
                            }
                            .tr-active {
                                td {
                                    @include table-tr-active-td;
                                    input {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .table-main {
                        .float-thead-wrapper {
                            max-height: 163px;
                        }
                        table {
                            tr {
                                th {
                                    height: 45px;
                                }
                                td {
                                    height: 26px;
                                }
                            }
                        }
                    }
                    .content-height-right {
                        .title {
                            text-align: center;
                            margin-bottom: 30px;
                            color: #0400E1;
                            font-size: 17px;
                        }
                        .prince {
                            p {
                                text-align: right;
                                margin-bottom: 10px;
                                input {
                                    width: 100px;
                                    text-align: right;
                                }
                            }
                            p:last-child {
                                font-weight: bold;
                                input {
                                    font-weight: 100;
                                }
                            }
                        }
                        .button {
                            button {
                                @include button-screend-default;
                            }
                        }
                    }
                    .content-button {
                        max-height: 270px;
                        margin-top: 20px;
                        margin-bottom: 50px;
                        .title-main {
                            color: #0400E1;
                            font-size: 17px;
                        }
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: #52668B;
                                    font-size: 18px;
                                }
                                td {
                                    @include table-tr-td;
                                    font-size: 16px;
                                    padding-left: 10px;
                                    text-align: left;
                                }
                                td:first-child {
                                    // text-align: center;
                                    // width: 32%;
                                }
                                td:nth-child(2) {
                                    // width: 34%;
                                }
                                td:last-child {
                                    // width: 34%;
                                }
                            }
                            .tr-active {
                                td {
                                    @include table-tr-active-td;
                                }
                            }
                        }
                        button {
                            @include button-screend-default;
                        }
                    }
                    .table-wo {
                        .float-thead-wrapper {
                            max-height: 191px;
                        }
                        table {
                            tr {
                                th {
                                    height: 53px;
                                }
                                td {
                                    float: none;
                                }
                            }
                        }
                    }
                    .table-raised-invoice {
                        max-height: 191px;
                    }
                    .content-button.center {
                        overflow: hidden;
                        .center-child {
                            width: 100px;
                            margin: 0 auto;
                            float: none;
                            text-align: center;
                            p.title {
                                font-size: 18px;
                            }
                            input.left {
                                width: 80px;
                                float: left;
                                text-align: right;
                            }
                            input.right {
                                width: 60px;
                                float: right;
                                margin-bottom: -5px;
                            }
                            hr.left {
                                position: relative;
                                left: -140px;
                                width: 138px;
                                border: 1px solid #0400E1;
                                top: -15px;
                            }
                            hr.right {
                                position: relative;
                                right: -100px;
                                width: 108px;
                                border: 1px solid #0400E1;
                                top: -10px;
                            }
                        }
                    }
                    .content-button.button {
                        button {
                            margin-bottom: 30px;
                        }
                    }
                }
                #tab-documents {
                    embed {
                        img {
                            max-width: 100%;
                        }
                    }
                    .dcm-table {
                        max-height: 338px;
                        overflow: auto;
                    }
                    table {
                        @include table;
                        tr {
                            th {
                                @include table-tr-th;
                                color: $color-blue-nhat;
                                font-size: 18px;
                                line-height: 1;
                                color: $color-blue;
                                font-weight: bold;
                                padding: 10px 0px;
                            }
                            th:last-child {
                                color: #000;
                                font-weight: normal;
                                font-size: 16px;
                            }
                            td {
                                @include table-tr-td;
                                font-size: 16px;
                                padding-left: 10px;
                                text-align: center;
                            }
                        }
                        .tr-active {
                            td {
                                @include table-tr-active-td;
                            }
                        }
                    }
                    .dcm-select {
                        padding-right: 0px;
                        select {
                            background: none;
                            width: 65px;
                            height: 25px;
                        }
                    }
                    .dcm-drop {
                        button {
                            @include kythera-rectangle-button;
                            font-weight: bold;
                            padding: 50px;
                        }
                    }
                    .dcm-button {
                        text-align: right;
                        margin-top: 50px;
                        button {
                            @include button-screend-default;
                            float: right;
                            margin-left: 10px;
                        }
                    }
                }
                #tab-materialIssue {
                    margin-top: -20px;
                    .col-xs-1 {
                        width: initial;
                    }
                    .option-search {
                        .title-top {
                            font-weight: bold;
                            font-size: 18px;
                        }
                        .title {
                            font-weight: bold;
                            font-size: 18px;
                        }
                        div {
                            padding-left: 0px;
                            p {
                                margin-bottom: 0px;
                            }
                            input {
                                float: left;
                                width: 60px;
                                &.size-input {
                                    width: initial;
                                }
                            }
                            select {
                                float: right;
                                background: none;
                                height: 25px;
                                width: 100%;
                            }
                            span {
                                font-size: 11px;
                            }
                        }
                        .src-size {
                            input[type="text"] {
                                width: 150px;
                            }
                        }
                        .src-approval {
                            select {
                                width: 60%;
                            }
                        }
                        .src-sup {
                            input {
                                width: 30px;
                            }
                            select {
                                width: 40%;
                                float: none;
                                margin-left: 10px;
                            }
                        }
                    }
                    .content-material {
                        margin-top: 10px;
                        .text-right {
                            padding-right: 10px!important;
                        }
                        .text-left {
                            padding-left: 0px;
                            input {
                                height: 20px;
                                width: initial;
                            }
                        }
                    }
                    .content-table {
                        margin-top: 10px;
                        .table-control {
                            @include scroll-button;
                        }
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                            font-size: 14px;
                                            line-height: 1;
                                            color: #52668B;
                                            padding: 10px 0px;
                                            height: 50px;
                                        }
                                    }
                                }
                            }
                        }
                        .area-table {
                            overflow: auto;
                            max-height: 210px;
                            table {
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                        font-size: 14px;
                                        line-height: 1;
                                        color: #52668B;
                                        padding: 10px 0px;
                                        height: 50px;
                                    }
                                    td {
                                        @include table-tr-td;
                                        font-size: 14px;
                                        padding-left: 10px;
                                        text-align: center;
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                        input[type="text"],
                                        input[type="email"] {
                                            color: #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .content-button {
                        margin-top: 10px;
                        .space {
                            height: 20px;
                        }
                        button {
                            @include button-screend-default;
                            float: right;
                        }
                        input {
                            color: #575fa7;
                            width: 100px;
                            font-size: 20px;
                        }
                        .warning {
                            color: red;
                            margin-top: 5px;
                            font-size: 16px;
                            line-height: 1.2;
                        }
                        .text-left {
                            padding-right: 0px;
                        }
                        .text-right {
                            padding-right: 0;
                            input {
                                width: 100%;
                            }
                        }
                        .issue {
                            padding: 0;
                        }
                    }
                    .text-description {
                        margin-top: 10px;
                    }
                    .box-bottom {
                        margin-top: 15px;
                        .floatThead-container {
                            table {
                                thead {
                                    background: #fff;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                            font-size: 18px;
                                            padding: 10px 0px;
                                            line-height: 0.3;
                                        }
                                    }
                                }
                            }
                        }
                        .bottom-table {
                            max-height: 134px;
                            overflow: auto;
                            table {
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                        font-size: 18px;
                                        padding: 10px 0px;
                                        line-height: 0.3;
                                    }
                                    td {
                                        @include table-tr-td;
                                        font-size: 15px;
                                        padding-left: 10px;
                                        text-align: left;
                                        input {
                                            width: 99%;
                                            height: 25px;
                                            margin-top: 3px;
                                        }
                                    }
                                }
                            }
                        }
                        .bottom-text {
                            p {
                                font-size: 17px;
                            }
                            .designated-machine {
                                margin-left: 150px;
                                font-weight: 700;
                                span {
                                    color: #575fa7;
                                    font-weight: 100;
                                    font-size: 16px;
                                }
                            }
                        }
                        .addPOButton {
                            @include button-screend-default;
                        } 
                    }
                }
                #tab-routeCard {
                    max-height: 450px;
                    overflow: auto;
                    .box-line {
                        .left {
                            .top {
                                h4 {
                                    color: rgba(0, 119, 111, 0.75);
                                    font-weight: bold;
                                    font-size: 20px;
                                }
                                h4.processes {
                                    margin-left: -50px;
                                }
                                h5 {
                                    color: rgba(49, 125, 120, 0.75);
                                    font-size: 18px;
                                }
                                hr {
                                    margin-left: 32px;
                                    margin-top: 5px;
                                    margin-bottom: 10px;
                                    border-top: 2px solid rgba(49, 125, 120, 0.75);
                                }
                            }
                            .bottom {
                                .img {
                                    width: auto;
                                    height: auto; // margin-left: -51px;
                                }
                                .Material {
                                    margin-top: -1px; // margin-left: -23px;
                                }
                                .grbno {
                                    margin-left: -27px;
                                    margin-top: -1px;
                                }
                                .notes {
                                    // width: 21%;
                                    margin-left: 2px;
                                    margin-top: 1px;
                                    border: 17px;
                                    font-size: 15px;
                                }
                                .content {
                                    padding-left: 35px;
                                    padding-right: 0px;
                                }
                            }
                        }
                        .list {
                            // margin-left: -27px;
                            .top {
                                // margin-left: 155px;
                                margin-top: -63px;
                                h6 {
                                    font-weight: 600;
                                    color: #A23C6A;
                                    text-align: center;
                                }
                            }
                            .mid {
                                margin-top: -57px; // margin-left: 155px;
                                .hr {
                                    margin-left: 9px;
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                    border-top: 2px solid #AD6786;
                                }
                            }
                            .bottom {
                                // margin-left: 131px;
                                margin-top: -38px;
                                h6 {
                                    text-align: center;
                                    padding: 0px;
                                }
                            }
                            .span {
                                font-size: 73px;
                                position: absolute;
                                float: left;
                                margin-top: -28px;
                                color: rgba(128, 128, 128, 0.14);
                                margin-left: 50px;
                                font-weight: bold;
                                ;
                            }
                            .th7 {
                                color: gray;
                                float: left; // margin-left: -50px;
                                margin-top: 31px;
                                position: relative;
                            }
                            .logo {
                                margin-left: 29px;
                            }
                            .table-content {
                                overflow: auto;
                                h3 {
                                    color: gray;
                                    font-size: 23px;
                                }
                                .padding-none {
                                    div {
                                        padding: 0px;
                                    }
                                }
                                hr {
                                    margin: 0px;
                                    border-top: 1px solid #525050;
                                    width: 90%;
                                }
                                h6 {
                                    color: #662871;
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                                .title-color {
                                    h6 {
                                        color: #AF8F54;
                                    }
                                }
                            }
                            .input-total {
                                input {
                                    width: 100%;
                                    text-align: center;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}