<div class="page department">
    <div class="left-menu" ng-include="'/frontend/js/common/partials/left-menu.tpl.html'"></div>
    <div class="department-content">
    	<img class="home-icon" src="../../../../../assets/images/Kythera_Blackbird_Home_icon.gif" ng-click="redirectHome()">
        <div ui-view></div>
    </div>
</div>
