<div class="staff-room-page">
    <div class="title-global-page">Staff Room</div>
    <div class="page-body">
        <form ng-submit="StaffForm.$valid && SaveOrUpdateStaff(StaffDetail)" name="StaffForm" novalidate>
            <div class="row">
                <div class="staff-info col-xs-12">
                    <div class="row">
                        <div class="staff-credit col-xs-3">
                            <div class="row">
                                <div class="select-staff col-xs-12">
                                    <p>Please select staff member:</p>
                                    <search-input procedure="ProcGetStaffList" search-key="SearchString" ng-model-options="{debounce: 500}" display-key="Name" on-select="StaffSelected"></search-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="po-limit margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title content-right col-xs-8">
                                            Individual PO limit
                                        </div>
                                        <div class="col-xs-4 content">
                                            <input type="text" name="POLimit" ng-model="StaffDetail.POLimit" required ng-pattern="/^\d+$/">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.POLimit.$error.required">
                                                Please enter PO limit
                                            </span>
                                            <span ng-show="StaffForm.$submitted && StaffForm.POLimit.$error.pattern">
                                                PO limit must be number
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="po-limit col-xs-12">
                                    <div class="row">
                                        <div class="title content-right col-xs-8">
                                            Mthly credit / spend limit
                                        </div>
                                        <div class="col-xs-4 content">
                                            <input type="text" name="SpendLimit" ng-model="StaffDetail.SpendLimit" required ng-pattern="/^\d+$/">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="error col-xs-12">
                                    <span ng-show="StaffForm.$submitted && StaffForm.SpendLimit.$error.required">Please enter spend limit</span>
                                    <span ng-show="StaffForm.$submitted && StaffForm.SpendLimit.$error.pattern">spend limit must be number</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="fork-first col-xs-12">
                                    <div class="row">
                                        <div class="fork-lift col-xs-12">
                                            <div class="row">
                                                <div class="title col-xs-8">&nbsp;</div>
                                                <div class="yes-title col-xs-2">Yes</div>
                                                <div class="no-title col-xs-2">No</div>
                                            </div>
                                            <div class="row">
                                                <div class="title col-xs-8">
                                                    Fork lift Operator
                                                </div>
                                                <div class="col-xs-2 yes-option">
                                                    <input type="radio" name="fork" ng-model="StaffDetail.ForkOperator" ng-checked="StaffDetail.ForkOperator == 1" value="1">
                                                </div>
                                                <div class="col-xs-2 no-option">
                                                    <input type="radio" name="fork" ng-model="StaffDetail.ForkOperator" ng-checked="StaffDetail.ForkOperator == 0" value="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="first-aid col-xs-12">
                                            <div class="row">
                                                <div class="title col-xs-8">&nbsp;</div>
                                                <div class="yes-title col-xs-2">Yes</div>
                                                <div class="no-title col-xs-2">No</div>
                                            </div>
                                            <div class="row">
                                                <div class="title col-xs-8">
                                                    First Aid Rep.
                                                </div>
                                                <div class="col-xs-2 yes-option">
                                                    <input type="radio" name="first" ng-model="StaffDetail.FirstAid" ng-checked="StaffDetail.FirstAid == 1" value="1">
                                                </div>
                                                <div class="col-xs-2 no-option">
                                                    <input type="radio" name="first" ng-model="StaffDetail.FirstAid" ng-checked="StaffDetail.FirstAid == 0" value="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="leave-days margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title content-right col-xs-8">
                                            Leave days / annum
                                        </div>
                                        <div class="col-xs-3 col-xs-offset-1 content">
                                            <input type="text" name="LeaveDays" ng-model="StaffDetail.LeaveDays" required ng-pattern="/^\d+$/">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="error col-xs-12">
                                    <span ng-show="StaffForm.$submitted && StaffForm.LeaveDays.$error.required">Please enter Leave days / annum</span>
                                    <span ng-show="StaffForm.$submitted && StaffForm.LeaveDays.$error.pattern">Leave days / annum must be number</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="annual-salary margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title content-right col-xs-8">
                                            Annual Salary
                                        </div>
                                        <div class="col-xs-4 content">
                                            <input type="text" ng-model="StaffDetail.Salary" name="Salary" required ng-pattern="/^\d+$/">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="error col-xs-12">
                                    <span ng-show="StaffForm.$submitted && StaffForm.Salary.$error.required">Please enter Annual Salary</span>
                                    <span ng-show="StaffForm.$submitted && StaffForm.Salary.$error.pattern">Annual Salary must be number</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="currently-employed col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-8">&nbsp;</div>
                                        <div class="yes-title col-xs-2">Yes</div>
                                        <div class="no-title col-xs-2">No</div>
                                    </div>
                                    <div class="row">
                                        <div class="title col-xs-8">
                                            Currently employed?
                                        </div>
                                        <div class="col-xs-2 yes-option">
                                            <input type="radio" ng-model="StaffDetail.Employed" name="Employed" ng-checked="StaffDetail.Employed == 1">
                                        </div>
                                        <div class="col-xs-2 no-option">
                                            <input type="radio" ng-model="StaffDetail.Employed" name="Employed" ng-checked="StaffDetail.Employed == 0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="staff-address col-xs-6">
                            <div class="row">
                                <div class="payroll margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Payroll No.
                                        </div>
                                        <div class="content col-xs-9">
                                            <span ng-bind="StaffDetail.PayrollNumber"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Name
                                        </div>
                                        <div class="content col-xs-7">
                                            <input type="text" ng-model="StaffDetail.FirstName" name="FirstName" maxlength="25" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.FirstName.$error.required">Please enter Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="address1 margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Address line 1
                                        </div>
                                        <div class="content col-xs-7">
                                            <input type="text" ng-model="StaffDetail.Address1" name="Address1" maxlength="45" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.Address1.$error.required">Please enter Address line 1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="address2 margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Address line 2
                                        </div>
                                        <div class="content col-xs-7">
                                            <input type="text" ng-model="StaffDetail.Address2" maxlength="40">
                                        </div>
                                    </div>
                                </div>
                                <div class="address3 margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Address line 3
                                        </div>
                                        <div class="content col-xs-7">
                                            <input type="text" ng-model="StaffDetail.Address3" maxlength="40">
                                        </div>
                                    </div>
                                </div>
                                <div class="address4 margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Address line 4
                                        </div>
                                        <div class="content col-xs-6">
                                            <input type="text" ng-model="StaffDetail.Address4" maxlength="30">
                                        </div>
                                    </div>
                                </div>
                                <div class="postcode margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Postcode
                                        </div>
                                        <div class="content col-xs-3">
                                            <input type="text" ng-model="StaffDetail.Postcode" name="Postcode" maxlength="8" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.Postcode.$error.required">Please enter Postcode</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="homephone margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Home phone
                                        </div>
                                        <div class="content col-xs-4">
                                            <input type="text" ng-model="StaffDetail.HomePhone" name="HomePhone" maxlength="20" required ng-pattern="/^0|[1-9][0-9]*$/">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.HomePhone.$error.required">Please enter Home phone</span>
                                            <span ng-show="StaffForm.$submitted && StaffForm.HomePhone.$error.pattern">Home phone must be number</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Mobile
                                        </div>
                                        <div class="content col-xs-4">
                                            <input type="text" ng-model="StaffDetail.MobilePhone" maxlength="20" name="MobilePhone" required ng-pattern="/^0|[1-9][0-9]*$/">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.MobilePhone.$error.required">Please enter Mobile</span>
                                            <span ng-show="StaffForm.$submitted && StaffForm.MobilePhone.$error.pattern">Mobile must be number</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="email margin-bottom-10 col-xs-12">
                                    <div class="row">
                                        <div class="title col-xs-3">
                                            Email
                                        </div>
                                        <div class="content col-xs-9">
                                            <input type="email" ng-model="StaffDetail.Email" maxlength="50" name="Email" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="StaffForm.$submitted && StaffForm.Email.$error.required">Please enter Email</span>
                                            <span ng-show="StaffForm.$submitted && StaffForm.Email.$error.email">Please enter a valid email</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="staff-security col-xs-3">
                            <div class="row">
                                <div class="contracted-hours col-xs-8">
                                    <div class="row">
                                        <div class="title col-xs-12 color-dark-blue border bold">
                                            Contracted hours
                                        </div>
                                        <div class="content col-xs-12">
                                            <input type="text" class="hour" ng-model="StaffDetail.Hours" name="Hours" required ng-pattern="/^\d+$/">
                                            <span>hours per</span>
                                            <select name="" id="" class="hour-type">
                                                <option value="">Week</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="error col-xs-12">
                                    <span ng-show="StaffForm.$submitted && StaffForm.Hours.$error.required">Please enter Hour</span>
                                    <span ng-show="StaffForm.$submitted && StaffForm.Hours.$error.pattern">Hour must be number</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="security-access col-xs-8">
                                    <div class="row">
                                        <div class="title col-xs-12 color-dark-blue bold">
                                            Security access
                                        </div>
                                        <div class="content col-xs-12">
                                            <div class="row user">
                                                <div class="col-xs-9">
                                                    <p>User</p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="radio" ng-model="StaffDetail.Security" name="Security" value="1">
                                                </div>
                                            </div>
                                            <div class="row manager">
                                                <div class="col-xs-9">
                                                    <p>Manager</p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="radio" ng-model="StaffDetail.Security" name="Security" value="2">
                                                </div>
                                            </div>
                                            <div class="row super-user">
                                                <div class="col-xs-9">
                                                    <p>Super User</p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="radio" ng-model="StaffDetail.Security" name="Security" value="3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="system-assigned-contract col-xs-12">
                    <div class="row">
                        <div class="system-assigned col-xs-9">
                            <div class="row">
                                <div class="system-role col-xs-4">
                                    <div class="title col-xs-8 color-dark-blue border bold">
                                        System Role list
                                    </div>
                                    <div class="content clear-fix background-light-yellow color-blue">
                                        <p ng-repeat="item in AssignedRole" ng-click="selectItem(item, 'selected')" ng-bind="item.Role" ng-class="{'selected': item.selected}">
                                        </p>
                                    </div>
                                </div>
                                <div class="system-button col-xs-1">
                                    <div class="row">
                                        <div class="add col-xs-12 no-padding">
                                            <button type="button" ng-click="AddAssignedRole(AssignedRole)">Add</button> >
                                        </div>
                                        <div class="rmv col-xs-12 no-padding">
                                            < <button type="button" ng-click="RmvAssignedRole(StaffRoles)">Rmv</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="assigned-role col-xs-4">
                                    <div class="title col-xs-8 color-dark-blue border bold">
                                        Assigned Roles
                                    </div>
                                    <div class="content clear-fix background-light-yellow color-blue">
                                        <p ng-repeat="item in StaffRoles" ng-click="selectItem(item, 'selected')" ng-bind="item.Role" ng-class="{'selected': item.selected}">
                                        </p>
                                    </div>
                                </div>
                                <div class="save-area col-xs-3" ng-hide="isStaff">
                                    <button type="submit">Save</button>
                                </div>
                                <div class="save-area col-xs-3" ng-show="isStaff">
                                    <button type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                        <div class="contract col-xs-3">
                            <div class="title col-xs-12">
                                Add Contract of Employment:
                            </div>
                            <div class="content col-xs-12">
                                <button>Drop Contract here</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="first-role-new-member col-md-9">
                    <div class="row">
                        <div class="first-role content-right col-md-9">
                            First role is primary
                        </div>
                        <div class="new-member col-md-3">
                            <button ng-click="NewMember()">New Member</button>
                        </div>
                    </div>
                </div>
                <div class="back col-md-3">
                    <button ng-click="redirectBack()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
