<div class="row" id="wo-detail">
    <div class="title-global-page">Work Order Detail</div>
    <div class="col-xs-3">
        <h1 class="title color-blue">Part No. {{WODetail.PartNumber}}</h1>
    </div>
    <div class="col-xs-3 text-center color-blue">Issue {{WODetail.Issue}}</div>
    <div class="col-xs-3 text-center view-drawing">
        <button type="button" ng-click="ViewDrawing()" class="text-center top-button">View Drawing</button>
    </div>
    <div class="col-xs-3 content-right">
        <p><strong>Drawing No:</strong>{{WODetail.DrawingNumber}}</p>
    </div>
    <div class="row machine no-margin">
        <div class="col-xs-4 col-xs-offset-1 left">
            <p class="col-xs-12 no-padding"><span class="blue col-xs-5 content-right">Machine::</span> <span class="col-xs-7">{{WODetail.Machine}}</span></p>
            <p class="col-xs-12 no-padding"><span class="blue col-xs-5 content-right">Batch No:</span> <span class="zen col-xs-3 content-right">{{WODetail.GRBID}}</span></p>
            <p class="col-xs-12 no-padding"><span class="blue col-xs-5 content-right">Customer Order:</span><span class="zen col-xs-3 content-right" ng-bind="WODetail.OrderID"></span></p>
        </div>
        <div class="col-xs-7 fo-notes-table">
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="WOFONotes">
                    <thead>
                        <tr>
                            <th>Front Office Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in WOFONotes">
                            <td ng-bind="item.Note" align="center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row work-order no-margin">
        <div class="table-title col-xs-6 no-padding content-right">
            <strong>Work Order No.: </strong>{{WorkOrderID}}
        </div>
        <div class="operation-table col-xs-6">
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="WOOpsDetail">
                    <thead>
                        <tr>
                            <th align="center">Operation</th>
                            <th align="center">Set</th>
                            <th align="center">Run</th>
                            <th align="center">Operator</th>
                            <th align="center">Bypass</th>
                            <th align="center">Subcon</th>
                            <th align="center">Comp</th>
                            <th align="center">Swap?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in WOOpsDetail" ng-click="selectOneItem(WOOpsDetail, item, 'selected'); SelectedOperation(item)" ng-class="{'tr-active': item.selected}">
                            <td align="center" ng-bind="item.Operation"></td>
                            <td align="center" ng-bind="item.ActualSetTime"></td>
                            <td align="center" ng-bind="item.ActualRunTime"></td>
                            <td align="center" ng-bind="item.Operator"></td>
                            <td align="center">
                                <input type="checkbox" ng-model="item.Bypass" ng-true-value="1" ng-false-value="0" ng-show="item.OperationTypeID == 2 || item.OperationTypeID == 3" ng-click="UpdateOperation(item)" />
                            </td>
                            <td align="center">
                                <input type="checkbox" ng-model="item.Subcon" ng-true-value="1" ng-false-value="0" ng-show="item.OperationTypeID == 2" ng-click="UpdateOperation(item)" />
                            </td>
                            <td align="center" align="center">
                                <img ng-show="item.Complete == 1" class="img-responsive" src="../../assets/images/SmallTick.png">
                            </td>
                            <td align="center">
                                <input type="checkbox" ng-model="item.Swap" ng-true-value="1" ng-false-value="0" ng-show="item.OperationTypeID == 2" ng-click="SwapOp(WOOpsDetail)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="swap-repeat col-xs-2">
            <!-- <div class="swap col-xs-12 no-padding">
                <button type="button">Swap Ops</button>
            </div> -->
            <div class="repeat col-xs-12 no-padding">
                <button type="button" ng-click="RepeatOp()">Repeat</button>
            </div>
        </div>
        <div class="table-title col-xs-4 no-padding content-right">
            <strong>&nbsp;</strong>
        </div>
        <div class="process-notes-table col-xs-4">
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="OpProcesses">
                    <thead>
                        <tr>
                            <th>Processes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OpProcesses">
                            <td ng-bind="item.ProcessNote"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 ft">
            <div class="col-xs-4 zen-left">
                <p>{{WODetail.QtyOff}} <span>off</span></p>
            </div>
            <div class="col-xs-4 zen-center">
                <p ng-show="WODetail.FastTrack == 1"><span>FT</span></p>
            </div>
            <div class="deliveries-table col-xs-4 no-padding">
                <div class="area-table float-thead-wrapper">
                    <table andy-float-thead items="WODeliveries">
                        <thead>
                            <tr>
                                <th>Deliveries</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in WODeliveries">
                                <td ng-bind="item.DispatchDate | timeFormat: 'DD/MM/YYYY'" align="center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row operator no-margin">
        <div class="operator-table col-xs-5 col-xs-offset-1">
            <div class="area-table">
                <table andy-float-thead items="OpOperatorNotes">
                    <thead>
                        <tr>
                            <th>Operator Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OpOperatorNotes">
                            <td ng-bind="item.Note" align="center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 zen-right">
            <button class="view-orig" type="button" ng-click="ViewOriginTemplate()">View Orig template</button>
            <button class="back" type="button" ng-click="redirectBack()">Back</button>
        </div>
    </div>
</div>
