<div class="goods-in-page">
    <div class="title-global-page">Goods in</div>
    <div class="page-top">
        <div class="search col-xs-2">
            <strong>Search: </strong>
            <div class="grb-no">
                <span class="grb-title">GRB No.</span>
                <input class="grb-value" type="text" ng-model="GRBNo">
            </div>
            <div class="material">
                <span class="material-title">Material</span>
                <input type="text" class="material-value" ng-model="Material" maxlength="6">
            </div>
            <div class="size">
                <span class="size-title">Size</span>
                <input type="text" class="size-value" ng-model="Size">
            </div>
        </div>
        <div class="instock-table col-xs-7">
            <div class="table-control">
                <span class="up-control" ng-click="reverse = false"></span>
                <span>sort</span>
                <span class="down-control" ng-click="reverse = true"></span>
            </div>
            <div class="table-title">in stock</div>
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="MaterialInStock">
                    <thead>
                        <tr>
                            <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in MaterialInStock | orderBy: sortBy : reverse | contain:'GRBNo':GRBNo | contain: 'Spec' : Material | contain: 'Size' : Size | unique:'GRBNo'" ng-click="selectOneItem(MaterialInStock, item); selectMaterialInStock(item)" ng-class="{'tr-active': item.selected}">
                            <td ng-bind="item.GRBNo"></td>
                            <td ng-bind="item.Spec"></td>
                            <td ng-bind="item.Size"></td>
                            <td ng-bind="item.Units"></td>
                            <td ng-bind="item.Shape"></td>
                            <td ng-bind="item.ReleaseLevel"></td>
                            <td ng-bind="item.PurchaseLength"></td>
                            <td ng-bind="item.DateIn | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.OrderQty"></td>
                            <td ng-bind="item.InStock"></td>
                            <td ng-bind="item.Location"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="issued-table col-xs-3">
            <div class="table-title">allocated</div>
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="MaterialIssues">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Part No.</th>
                            <th>Qty</th>
                            <th>WO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-model="test" ng-repeat="item in MaterialIssues" ng-click="selectOneItem(MaterialIssues, item)">
                            <td ng-bind="item.DateIssued | timeFormat: 'DD/MM/YYYY'"></td>
                            <td>
                                <a ng-click="redirectPartListpage(item.PartNumber)">
                                    <p ng-bind="item.PartNumber" class="part-number-overflow"></p>
                                </a>
                            </td>
                            <td ng-bind="item.Qty"></td>
                            <td>
                                <a ng-click="redirectWOpage(item.WONo)" ng-bind="item.WONo"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="location">
            <form name="LocationForm" ng-submit="updateLocation(LocationInfo)" novalidate>
                <span class="location-title">Location</span>
                <select ng-model="LocationInfo.Location" ng-options="option as option.StoreArea for option in StoreAreaList" ng-change="changeLocation(LocationInfo.Location); GRB.setStoreAreaID(LocationInfo.Location.StoreAreaID)" name="Location">
                </select>
                <select ng-model="LocationInfo.XLocation" ng-options="option as option.XLocation for option in XStoreLocations" ng-change="GRB.setXLocation(LocationInfo.XLocation.XLocation)" name="XLocation">
                </select>
                <select ng-model="LocationInfo.YLocation" ng-options="option as option.YLocation for option in YStoreLocations" ng-change="GRB.setYLocation(LocationInfo.YLocation.YLocation)" name="YLocation">
                </select>
                <button type="submit" class="update-button">Update Loc'n</button>
                <button class="allocated-report" type="button" ng-click="allocatedReport()">Allocated Report</button>
                <button class="refresh-button" type="button" ng-click="refreshInStock()">Refresh</button>
            </form>
        </div>
    </div>
    <div class="page-body">
        <div class="page-body-title">Receive:</div>
        <div class="page-body-content">
            <form name="GRBForm" ng-submit="AddOrUpdateGRB(GRB)" novalidate>
                <div class="gr-type-absolute">
                    <div class="gr-type-content">
                        <label for="gr-type" class="title">GR type</label>
                        <select id="gr-type" ng-model="GRType" ng-options="option as option.Type for option in MaterialTypeList" ng-change="changeGRType(GRType); GRB.setMaterialTypeID(GRType.MaterialType)" name="GRType">
                        </select>
                    </div>
                </div>
                <div class="templates" ng-switch="GRType.MaterialType">
                    <div ng-switch-when="1">
                        <div ng-include="'/frontend/js/components/department/goods-in/templates/_type1.tpl.html'"></div>
                    </div>
                    <div ng-switch-when="7">
                        <div ng-include="'/frontend/js/components/department/goods-in/templates/_type7.tpl.html'"></div>
                    </div>
                    <div ng-switch-when="8">
                        <div ng-include="'/frontend/js/components/department/goods-in/templates/_type8.tpl.html'"></div>
                    </div>
                    <div ng-switch-when="9">
                        <div ng-include="'/frontend/js/components/department/goods-in/templates/_type1.tpl.html'"></div>
                    </div>
                    <div ng-switch-default>
                        <div ng-include="'/frontend/js/components/department/goods-in/templates/_default.tpl.html'"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="location col-xs-12 no-padding">
                            <label for="" class="col-xs-2 no-padding">Location / Issued to</label>
                            <div class="location-group col-xs-4">
                                <select ng-model="GRB.Location" ng-options="option as option.StoreArea for option in StoreAreaList" ng-change="changeLocation(GRB.Location); GRB.setStoreAreaID(GRB.Location.StoreAreaID)" name="Location">
                                </select>
                                <select ng-model="XLocation" ng-options="option as option.XLocation for option in XStoreLocations" ng-change="GRB.setXLocation(XLocation.XLocation)" name="XLocation">
                                </select>
                                <select ng-model="YLocation" ng-options="option as option.YLocation for option in YStoreLocations" ng-change="GRB.setYLocation(YLocation.YLocation)" name="YLocation">
                                </select>
                                <span class="tag"> / </span>
                                <button>Direct issue</button>
                            </div>
                            <div class="approval-error col-xs-6">
                                <p ng-show="hasApprovalMismatch">Approval mismatch. Hand docs to Front Office..</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="approval-type col-xs-4 no-padding">
                        <div class="approval">
                            <label for="" class="col-xs-8 no-padding">Approval type</label>
                            <div class="approval-type-group col-xs-4">
                                <select ng-model="Approval" ng-options="option as option.Description for option in ApprovalList" ng-change="changeApproval(Approval); GRB.setApprovalTypeID(Approval.pkApprovalID)">
                                </select>
                            </div>
                        </div>
                        <div class="their-wono">
                            <label for="" class="col-xs-8 no-padding">Their WO No.</label>
                            <div class="their-wono-group col-xs-4">
                                <input type="text" ng-model="GRB.TheirWONo" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="approval-button col-xs-6 col-xs-offset-2">
                        <button class="back" type="button" ng-click="redirectBack()">Back</button>
                        <button class="due-in-report" type="button" ng-click="openBIRT('DueIn')">'Due in' Report</button>
                        <button class="view-po" type="button" ng-click="openBIRT('PurchaseOrder_v5')">View PO</button>
                        <button class="add" type="submit">{{ GRBNo !== undefined ? 'Update' : 'Add' }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>