<div id="engineering" class="client-readmore tab-center">
    <div ng-show="DeptID === '6'" class="engineering-base-container">
        <div class="row process-machine-program">
            <div class="col-xs-12 box-table space-top">
                <div class="col-xs-5">
                    <div class="area-table no-padding table-previous col-xs-12 table-operation float-thead-wrapper">
                        <table andy-float-thead items="TemplateProcesses">
                            <thead>
                                <tr>
                                    <th>Route card instruction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="ProcessNote" my-enter="AddTemplateProcess(ProcessNote)" maxlength="60">
                                    </td>
                                </tr>
                                <tr ng-repeat="item in TemplateProcesses">
                                    <td>{{item.ProcessNote}} <i ng-click="deleteNoteComment(item, TemplateProcesses)" class="icon-remove glyphicon glyphicon-remove"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <label class="title-color-blue">Designated Machine</label>
                    <select ng-model="Engineering_machine" ng-options="option as option.Machine for option in MachineList" ng-change="changeDesignMachine(Engineering_machine)">
                    </select>
                </div>
                <div class="col-xs-2">
                    <div class="area-table table-previous table-program col-xs-12 no-padding float-thead-wrapper">
                        <table andy-float-thead items="MachineOpPrograms">
                            <thead>
                                <tr>
                                    <th>Program No's</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in MachineOpPrograms">
                                    <td ng-bind="item.ProgramNumber"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="OpProgramNumber" my-enter="AddMachineOpProgram(OpProgramNumber, Engineering_machine)" maxlength="8">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row type-viewADD">
            <div class="col-xs-12 space-top">
                <div class="col-xs-offset-6 col-xs-4 no-padding">
                    <div class="area-table table-previous table-type-autoprint col-xs-12 float-thead-wrapper">
                        <table andy-float-thead items="ADDList">
                            <thead>
                                <tr>
                                    <th class="text-center col-xs-8">Type</th>
                                    <th class="text-center col-xs-4">Auto print</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ADDList" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                    <td class="text-center" ng-bind="item.DocType"></td>
                                    <td class="text-center">
                                        <input class="width-initial" type="checkbox" ng-model="item.AutoPrint" ng-checked="item.AutoPrint == 1" ng-click="UpdateADD(item)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="pull-right" ng-click="ViewADD()">View A.D.D</button>
                </div>
            </div>
        </div>
        <div class="row internal-risk">
            <div class="col-xs-8 row space-top internal-engineering-notes">
                <div class="area-table table-previous table-engineering col-xs-12 float-thead-wrapper">
                    <table andy-float-thead items="OpTmpltIntEngNotes">
                        <thead>
                            <tr>
                                <th class="text-center">Internal Engineering Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" ng-model="EngNote" my-enter="AddOpTmpltIntEngNotes(EngNote)" maxlength="80">
                                </td>
                            </tr>
                            <tr ng-repeat="item in OpTmpltIntEngNotes">
                                <td>{{item.Note}} <i ng-click="deleteNoteComment(item, OpTmpltIntEngNotes)" class="icon-remove glyphicon glyphicon-remove"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-4 row space-top risk-statement">
                <label class="title-color-blue pull-right">Risk statement</label>
                <textarea class="full-width" cols="36" rows="3" ng-bind="TemplateEngineering.RiskStatement"></textarea>
            </div>
        </div>
    </div>
    <div ng-show="DeptID !== '6'" class="engineering-container">
        <div class="col-md-11 box-table space-top">
            <div class="col-sm-7 row">
                <div class="area-table table-previous table-operation float-thead-wrapper col-md-12">
                    <table andy-float-thead items="TemplateProcesses">
                        <thead>
                            <tr>
                                <th>Processes for selected Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" ng-model="ProcessNote" my-enter="AddTemplateProcess(ProcessNote)" maxlength="60">
                                </td>
                            </tr>
                            <tr ng-repeat="item in TemplateProcesses">
                                <td>{{item.ProcessNote}} <i ng-click="deleteNoteComment(item, TemplateProcesses)" class="icon-remove glyphicon glyphicon-remove"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3 row text-center">
                <label class="title-color-blue">Designated Machine</label>
                <select class="input-full" ng-model="Engineering_machine" ng-options="option as option.Machine for option in MachineList" ng-change="changeDesignMachine(Engineering_machine)">
                </select>
            </div>
            <div class="col-sm-3 row">
                <div class="area-table table-previous table-program float-thead-wrapper col-md-12">
                    <table andy-float-thead items="MachineOpPrograms">
                        <thead>
                            <tr>
                                <th>Program No's</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in MachineOpPrograms">
                                <td ng-bind="item.ProgramNumber"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" ng-model="OpProgramNumber" my-enter="AddMachineOpProgram(OpProgramNumber, Engineering_machine)" maxlength="8">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 space-top engineering-ask">
            <button type="button" class="pull-left" ng-click="EngineeringToReview()">Engineering Review</button>
            <div class="col-md-2">
                <p>Ask purchasing Dept to Review this Template</p>
            </div>
            <button type="submit" class="pull-right" ng-click="ViewADD()">View A.D.D</button>
        </div>
        <div class="col-md-offset-8 col-md-4 risk-statement">
            <p class="title-color-blue content-right">Risk statement</p>
            <textarea cols="40" rows="3" ng-bind="TemplateEngineering.RiskStatement"></textarea>
        </div>
        <div class="col-md-9 row space-top">
            <div class="area-table table-previous table-engineering float-thead-wrapper col-md-12">
                <table andy-float-thead items="OpTmpltIntEngNotes">
                    <thead>
                        <tr>
                            <th class="text-center">Internal Engineering Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" ng-model="EngNote" my-enter="AddOpTmpltIntEngNotes(EngNote)" maxlength="80">
                            </td>
                        </tr>
                        <tr ng-repeat="item in OpTmpltIntEngNotes">
                            <td>{{item.Note}} <i ng-click="deleteNoteComment(item, OpTmpltIntEngNotes)" class="icon-remove glyphicon glyphicon-remove"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 row space-top engineering-complete">
            <div class="col-md-6 row">
                <p class="text-right"><strong>Engineering complete</strong></p>
            </div>
            <div class="col-md-6 row no-padding pull-right" ng-show="TemplateEngineering.EngComplete == 1">
                <p class="text-left"> <img src="/assets/images/SmallTick.png" alt="Small Tick"></p>
            </div>
        </div>
    </div>
</div>
