<div class="col-xs-12 docs-tab">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 user-type-table">
            <div class="area-table float-thead-wrapper">
                <table andy-float-thead items="PartDocs">
                    <thead>
                        <tr>
                            <th class="font-weight color-blue">User</th>
                            <th class="font-weight color-blue">Type</th>
                            <th class="font-weight color-blue">Auto display</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in PartDocs" ng-class="{'tr-active': item.selected}">
                            <td ng-bind="item.Uname" ng-click="selectOneItem(PartDocs, item, 'selected')"></td>
                            <td ng-bind="item.DropType"></td>
                            <td>
                                <input type="checkbox" ng-model="item.AutoPrint" ng-change="docAutoPrint()" ng-true-value="1" ng-false-value="0">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="view col-xs-1 no-padding">
            <button type="button" ng-click="ViewFileName()">View</button>
            <img class="img-responsive" ng-src="{{showImage}}">
        </div>
        <div class="approval-list col-xs-2 col-xs-offset-1">
            <div class="document-drop-type col-xs-12 no-padding">
                <select ng-model="AddPartDoc.DocumentDropType" ng-options="option as option.DropType for option in DocumentDropTypes" ng-change="changeDROP(AddPartDoc.DocumentDropType)"></select>
            </div>
            <div class="reference col-xs-12 no-padding" ng-show="AddPartDoc.DocumentDropType.pkDocumentDropTypeID == 4">
                <div class="reference-title col-xs-12 no-padding">
                    <p>Reference</p>
                </div>
                <div class="reference-content col-xs-12 no-padding">
                    <input type="text" maxlength="25" ng-model="AddPartDoc.Reference">
                </div>
            </div>
            <div class="issue col-xs-12 no-padding" ng-show="AddPartDoc.DocumentDropType.pkDocumentDropTypeID == 4">
                <div class="issue-title col-xs-6 no-padding-left">
                    <p class="content-right">Issue</p>
                </div>
                <div class="issue-content col-xs-6 no-padding">
                    <input type="text" maxlength="5" ng-model="AddPartDoc.Issue">
                </div>
            </div>
        </div>
        <div class="col-xs-2 drop-button">
            <button dropzone max-file-name="30" on-success="uploadSuccess" before-upload="beforeUpload">Drop associated Part Docs here</button>
        </div>
    </div>
    <form name="TemplateForm" ng-submit="TemplateForm.$valid && AddTemplate(TemplateInfo)" novalidate>
        <div class="row">
            <div class="part-template col-xs-3">
                <div class="part-template-title border-bottom color-blue large-font font-weight">Add a New Part Template</div>
            </div>
        </div>
        <div class="row">
            <div class="part-issue col-xs-12">
                <div class="part-no col-xs-2">
                    <p class="part-no-title">Part No.</p>
                    <input type="text" maxlength="25" ng-model="TemplateInfo.PartNumber" ng-change="changePartNo(TemplateInfo.PartNumber)" name="PartNumber" required />
                </div>
                <div class="issue col-xs-1">
                    <p class="issue-title">Issue</p>
                    <input type="text" class="border content-center font-weight" maxlength="5" ng-model="TemplateInfo.PartIssue" ng-change="changePartIssue(TemplateInfo.PartIssue)" name="PartIssue" required />
                </div>
                <div class="desc col-xs-2">
                    <p class="desc-title">Description</p>
                    <input type="text" maxlength="40" ng-model="TemplateInfo.Description">
                </div>
                <div class="std-lead-days col-xs-2">
                    <span class="std-lead-days-title">Std Lead days</span>
                    <input type="text" ng-model="TemplateInfo.LeadDays" name="LeadDays" ng-pattern="/^\d+$/" />
                </div>
                <div class="std-price col-xs-2">
                    <span class="std-price-title">Std Price</span>
                    <span class="currency-symbol currency-symbol-irish left">
                    <input class="input-credit" type="text" ng-model="TemplateInfo.Price" name="Price" ng-pattern="/^\d{0,5}(\.\d{1,2})?$/" />
                </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="drawing-assemblies col-xs-12">
                <div class="drawing-issue col-xs-3">
                    <div class="row">
                        <div class="drawing col-xs-8">
                            <p class="drawing-title">Drawing No.</p>
                            <input type="text" maxlength="25" ng-model="TemplateInfo.DrawingNumber" name="DrawingNumber" required />
                        </div>
                        <div class="issue col-xs-4">
                            <p class="issue-title content-right">Issue</p>
                            <input class="content-center" type="text" maxlength="5" ng-model="TemplateInfo.Issue" name="Issue" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="approval col-xs-12">
                            <div class="approval-title col-xs-6 no-padding content-right">Approval</div>
                            <div class="approval-content col-xs-6 no-padding">
                                <select ng-model="Approval" ng-options="option as option.Description for option in ApprovalList" name="ApprovalID" required ng-change="TemplateInfo.setApprovalID(Approval.pkApprovalID)"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-1 assemblies-qty">
                    <div class="row">
                        <div class="assemblies-title content-center border-bottom color-blue font-weight">Assemblies</div>
                    </div>
                    <div class="row">
                        <div class="qty-per col-xs-12">
                            <div class="qty col-xs-2 no-padding">
                                <p class="qty-title content-right">Qty</p>
                                <input type="text" ng-model="TemplateInfo.AssemblyQty" ng-pattern="/^\d+$/" name="AssemblyQty" />
                            </div>
                            <div class="per col-xs-2">
                                <p class="per-title">&nbsp;</p>
                                <p class="per-content font-weight">per</p>
                            </div>
                            <div class="master-part col-xs-8 no-padding">
                                <p class="master-part-title">Master Part No.</p>
                                <select ng-model="MasterPartNo" ng-options="option as option.PartNumber for option in NumberList" name="PartTemplateID" ng-change="TemplateInfo.setPartTemplateID(MasterPartNo.PartTemplateID)"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="create-new col-xs-1 col-xs-offset-2 no-padding">
                    <button type="submit">Create New</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="error col-xs-12">
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.PartNumber.$error.required">Please enter Part No.</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.PartIssue.$error.required">Please enter Part Issue</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.DrawingNumber.$error.required">Please enter Drawing No.</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.Issue.$error.required">Please enter Issue</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.LeadDays.$error.pattern">Std Lead days must be number</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.LeadDays.$error.pattern">Std Lead days must be number</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.Price.$error.pattern">Std Price must be decimal(7,2)</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.ApprovalID.$error.required">Please select Approval</p>
                <p class="col-xs-12" ng-show="TemplateForm.$submitted && TemplateForm.AssemblyQty.$error.pattern">Qty must be number</p>
            </div>
        </div>
    </form>
</div>
