<div class="order-history-page">
    <div class="page-body">
        <div class="title-global-page">Order History</div>
        <form name="OrderHistoryForm">
            <div class="col-md-5 left no-padding-left">
                <div class="area area-1">
                    <div class="area-title">
                        <label>Select by Part No. (optional)</label>
                        <select ng-model="PartNo" ng-options="option as option.PartNumber for option in PartNos" ng-change="changePartNo(PartNo)"></select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="area area-2">
                    <div class="area-title">Select an order</div>
                    <div class="area-body">
                        <div class="area-table float-thead-wrapper">
                            <table andy-float-thead items="CustomerOrderHistory">
                                <thead>
                                    <tr>
                                        <th class="col-xs-5 no-padding">Raised</th>
                                        <th class="col-xs-4 no-padding">Completed</th>
                                        <th class="col-xs-3 no-padding">CO No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in CustomerOrderHistory | unique:'CONo'" ng-click="selectOneItem(CustomerOrderHistory, item, 'selected', selectOrder(item))" ng-class="{'tr-active': item.selected}">
                                        <td class="col-xs-4 no-padding" ng-bind="item.Raised | timeFormat:'DD-MM-YYYY'"></td>
                                        <td class="col-xs-4 no-padding" ng-bind="item.Completed | timeFormat:'DD-MM-YYYY'"></td>
                                        <td class="col-xs-4 no-padding" ng-bind="item.CONo"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 right no-padding-right">
                <div class="area area-3">
                    <div class="area-body">
                        <div class="area-table float-thead-wrapper">
                            <table andy-float-thead items="WorkOrderHistory">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4 no-padding">WO No.</th>
                                        <th class="col-xs-4 no-padding">Part No.</th>
                                        <th class="col-xs-1 no-padding">Qty</th>
                                        <th class="col-xs-3 no-padding">Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in WorkOrderHistory" ng-dblclick="gotoWorkOrder(item)" ng-click="selectOneItem(WorkOrderHistory, item, 'selected'); WONoSelected(item)" ng-class="{'tr-active': item.selected}">
                                        <td class="col-xs-4 no-padding" ng-bind="item.WONo"></td>
                                        <td class="col-xs-4 no-padding" ng-bind="item.PartNo"></td>
                                        <td class="col-xs-1 no-padding" ng-bind="item.Qty"></td>
                                        <td class="col-xs-3 no-padding" ng-bind="item.Days"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="area-desc">double-click to view</div>
                    </div>
                </div>
                <div class="area area-4">
                    <div class="area-body">
                        <div class="area-table float-thead-wrapper">
                            <table andy-float-thead items="OrderNotesHistory">
                                <thead>
                                    <tr>
                                        <th class="col-xs-12 no-padding">Order notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in OrderNotesHistory">
                                        <td class="col-xs-12 no-padding" ng-bind="item.OrderNote"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="area area-5">
                    <div class="area-body">
                        <div class="area-table float-thead-wrapper">
                            <table andy-float-thead items="OrderRejectHistory">
                                <thead>
                                    <tr>
                                        <th class="col-xs-8 no-padding">External Reject Preventive action</th>
                                        <th class="col-xs-4 no-padding">Reject Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in OrderRejectHistory">
                                        <td class="col-xs-8 no-padding" ng-bind="item.RejectAction"></td>
                                        <td class="col-xs-4 no-padding" ng-bind="item.RejectReason"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="area area-6">
                    <div class="area-body">
                        <div class="col-md-2">
                            <button class="enter-feedback">Enter feedback</button>
                        </div>
                        <div class="repeat-title col-md-2">
                            <label class="text-right">Repeat order Quantity</label>
                            <input type="number" ng-model="RepeatWorkOrder">
                        </div>
                        <div class="col-md-3">
                            <button class="repeate-order" ng-click="RepeatOrder(WorkOrderHistory)">Repeat Order</button>
                        </div>
                        <div class="col-md-2">
                            <button class="cancel">Cancel</button>
                        </div>
                        <div class="col-md-2">
                            <button class="back" ng-click="redirectBack()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
