<div class="assemblies-tab col-xs-12">
    <div class="row">
        <div class="work-no col-xs-11 col-xs-offset-1 font-weight font-large" ng-bind="PartItem.PartNumber"></div>
    </div>
    <div class="row">
        <div class="assemblies col-xs-offset-1 col-xs-4">
            <div class="row">
                <div class="assemblies-title content-center color-blue border-bottom col-xs-8">Assemblies</div>
            </div>
            <div class="row">
                <div class="assemblies-content col-xs-12 no-padding">
                    <div class="qty-master col-xs-8 no-padding">
                        <div class="qty col-xs-3">
                            <div class="col-xs-12 qty-title">Qty</div>
                            <input type="text" ng-model="Qty">
                        </div>
                        <div class="per col-xs-1 no-padding">
                            <div class="per-title">&nbsp;</div>
                            <span class="font-weight">per</span>
                        </div>
                        <div class="master-partno col-xs-8">
                            <div class="master-partno-title">Master Part No.</div>
                            <select ng-model="MasterPartNo" ng-options="option as option.PartNumber for option in PartNumberList"></select>
                        </div>
                    </div>
                    <div class="update col-xs-4">
                        <button class="pull-right" ng-click="PartLinkToMaster(Qty, MasterPartNo)">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="child-partno col-xs-2 col-xs-offset-5">
            <div class="child-partno-title color-blue">Child Part No's.</div>
            <div class="area-table">
                <table ng-show="PartAssemblies | hasItem">
                    <tr ng-repeat="item in PartAssemblies">
                        <td ng-bind="item.PartNumber"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
