<div class="inspection-page">
    <div class="title-global-page">Inspection</div>
    <div class="inspection-action col-md-5">
        <div class="area-table float-thead-wrapper col-md-12">
            <table andy-float-thead items="InspectOpList">
                <thead>
                    <tr>
                        <th>Operations list</th>
                        <th>M</th>
                        <th>I</th>
                        <th>S</th>
                        <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in InspectOpList" ng-click="selectOneItem(InspectOpList, item, 'selected'); SelectedOperation(item)" ng-class="{'tr-active': item.selected}">
                        <td ng-bind="item.Operation"></td>
                        <td ng-bind="item.Made"></td>
                        <td ng-bind="item.Inspected"></td>
                        <td ng-bind="item.Scrapped"></td>
                        <td ng-bind="item.Forwarded"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inspection-control col-md-12">
            <div class="department" ng-show="OperationID">
                <select ng-model="Staff" ng-options="option as option.name for option in Staffs">
                </select>
            </div>
            <div class="control">
                <div class="begin control-element col-md-4">
                    <div class="icon" ng-click="BeginInspection()"></div>
                    <div class="title">Begin</div>
                </div>
                <div class="pause control-element col-md-4">
                    <select ng-model="PauseReason" ng-options="option as option.name for option in Reasons"></select>
                    <div class="icon" ng-click="PauseInspection()"></div>
                    <div class="title">Pause</div>
                </div>
                <div class="complete control-element col-md-4">
                    <div class="icon" ng-click="CompleteInspection()"></div>
                    <div class="title">Complete</div>
                </div>
            </div>
        </div>
        <div class="material-stock col-md-12">
            <div class="content">
                <div class="title">
                    <span>Material / stock inspection</span>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="approval-type col-md-4">
                            <div class="module-title">Approval type</div>
                            <select ng-model="InspectionDetail.ApprovalTypeID" ng-options="option as option.Description for option in ApprovalList">
                            </select>
                        </div>
                        <div class="spec col-md-4">
                            <div class="module-title">Spec.</div>
                            <input type="text" ng-model="InspectionDetail.Spec">
                        </div>
                        <div class="release-note col-md-4">
                            <div class="module-title">Release Note No.</div>
                            <input type="text" ng-model="InspectionDetail.ReleaseNoteNo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="all-ok col-md-3">
                            <div class="module-title">All OK</div>
                            <input type="radio" ng-model="InspectionDetail.AllOK" ng-value="1" ng-change="UpdateInspectionDetail(InspectionDetail, 'allok')">
                        </div>
                        <div class="rejected col-md-3">
                            <div class="module-title">Rejected</div>
                            <input type="text" ng-model="InspectionDetail.QtyRejected" my-enter="UpdateInspectionDetail(InspectionDetail, 'rejected')">
                        </div>
                        <div class="all-rejected col-md-3">
                            <div class="module-title">All Rejected</div>
                            <input type="radio" ng-model="InspectionDetail.AllOK" ng-value="2" ng-change="UpdateInspectionDetail(InspectionDetail, 'allrejected')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="batch-no col-md-5">
                            <div class="module-title">
                                <strong>Batch No.</strong>
                            </div>
                            <div class="value">
                                <strong ng-bind="GRBID"></strong>
                            </div>
                        </div>
                        <div class="reject-reason col-md-4">
                            <div class="module-title">Reject reason</div>
                            <select ng-model="InspectionDetail.RejectReasonID" ng-options="option as option.name for option in RejectReasons" ng-change="UpdateInspectionDetail(InspectionDetail, 'rejectReason')">
                            </select>
                        </div>
                        <div class="create-reject col-md-3">
                            <button type="button" ng-click="openBIRT()">Create Reject Note</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inspection-information col-md-7">
        <div class="row">
            <div class="area-table table-previous float-thead-wrapper col-md-12">
                <table andy-float-thead items="OpInspectionPISI">
                    <thead>
                        <tr>
                            <th>Previous Internal Scrap information</th>
                            <th>Scrap Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OpInspectionPISI">
                            <td ng-bind="item.PreviousScrapInfo"></td>
                            <td ng-bind="item.PreviousScrapReason"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="area-table table-external float-thead-wrapper col-md-12">
                <table andy-float-thead items="OpInspectionERPA">
                    <thead>
                        <tr>
                            <th>External Reject Preventive action</th>
                            <th>Reject Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OpInspectionERPA">
                            <td ng-bind="item.ExtRejectAction"></td>
                            <td ng-bind="item.RejectReason"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 table-equipment-box">
                <div class="area-table table-equipment float-thead-wrapper">
                    <table andy-float-thead items="OpInspectionCE">
                        <thead>
                            <tr>
                                <th>Checking equipment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OpInspectionCE">
                                <td ng-bind="item.CheckEquip"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 table-operator-box">
                <div class="area-table table-operator float-thead-wrapper">
                    <table andy-float-thead items="OpInspectionON">
                        <thead>
                            <tr>
                                <th>Operator Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OpInspectionON">
                                <td ng-bind="item.OperatorNote"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="col-xs-12 no-padding" type="text" ng-model="OperatorNote" maxlength="50"></input>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-control col-md-2">
                <button type="button" ng-click="addOperatorNote(OperatorNote)">Add note</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="area-table table-process float-thead-wrapper">
                    <table andy-float-thead items="OpInspectionProcesses">
                        <thead>
                            <tr>
                                <th>Processes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OpInspectionProcesses">
                                <td ng-bind="item.ProcessNote"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="col-xs-12 no-padding" type="text" ng-model="ProcessNote" maxlength="60"></input>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-control col-md-2">
                <button type="button" ng-click="addProcessNote(ProcessNote)">Add Process</button>
            </div>
        </div>
        <div class="row inspection-info">
            <div class="col-md-12">
                <span>Inspection info</span>
                <input type="text" maxlength="50" ng-model="OpInspectionDetail.InspectInfo" ng-model-options="{debounce: 500}" ng-change="UpdateOperationDetail(OpInspectionDetail)">
            </div>
        </div>
        <div class="row work-order">
            <div class="col-md-12">
                <div class="qty-inspected">
                    <div class="title">Qty inspected</div>
                    <input type="text" ng-model="OpInspectionDetail.QtyInspected" ng-model-options="{debounce: 500}" ng-change="UpdateOperationDetail(OpInspectionDetail)">
                </div>
                <div class="qty-scrapped">
                    <div class="title">Qty scrapped</div>
                    <input type="text" ng-model="OpInspectionDetail.QtyScrapped" ng-model-options="{debounce: 500}" ng-change="UpdateOperationDetail(OpInspectionDetail)">
                </div>
                <div class="reason">
                    <div class="title">Reason</div>
                    <select ng-model="OpInspectionDetail.ReasonID" ng-options="option as option.name for option in ScrappedReasons" ng-change="UpdateOperationDetail(OpInspectionDetail)">
                    </select>
                </div>
                <div class="work-order-part">
                    <div class="work-order-no">
                        <div class="title">Work Order No.</div>
                        <div class="value" ng-bind="WorkOrderID"></div>
                    </div>
                    <div class="part-no">
                        <div class="title">Part No.</div>
                        <div class="value" ng-bind="PartNumber"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row inspection-button">
            <div class="col-md-12">
                <strong class="po-qty">Sub-con PO Qty</strong>
                <input type="text" maxlength="8" ng-model="OpInspectionDetail.SubConQty" class="input-po-qty">
                <button class="raise-po" type="button" ng-click="RaisePO(OpInspectionDetail.SubConQty)">Raise PO</button>
                <button class="view-add" type="button" ng-click="ViewADD()">View ADD</button>
                <button class="print-coc" type="button" ng-click="printCOC()">Print COCs</button>
                <button class="back" type="button" ng-click="redirectBack()">Back</button>
            </div>
        </div>
    </div>
    <embed class="max-width-100percent" ng-src="{{showImage}}">
</div>
