<div id="tab-documents" class="tab_content">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="dcm-table float-thead-wrapper">
                <table andy-float-thead items="WODocuments">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody class="floatThead-wrapper">
                        <tr ng-repeat="item in WODocuments" ng-click="selectOneItem(WODocuments, item, 'selected')" ng-class="{'tr-active': item.selected}">
                            <td ng-bind="item.description"></td>
                            <td>
                                <input type="checkbox" ng-bind="item.Print" ng-checked="item.Print == 1" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2 dcm-select">
            Select Document Types
            <select ng-model="DocumentDropType" ng-options="option as option.DropType for option in DocumentDropTypes">
            </select>
        </div>
        <div class="col-sm-3 dcm-drop">
            <button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Documents here</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-6 col-sm-3 dcm-button">
            <span>Print selected docs</span>
            <button type="button" ng-click="printImage()" class="copy-address float-right">Print</button>
        </div>
    </div>
</div>
