<div id="invoice" class="tab-pane invoice-tab">
    <div class="col-md-12 tab-content">
        <div class="grb-area col-md-12">
            <div class="grb col-md-12">
                <div class="col-md-7">
                    <div class="area-table float-thead-wrapper">
                        <table andy-float-thead items="UnpaidPurchases">
                            <thead>
                                <tr>
                                    <th>Link</th>
                                    <th>GRB No.</th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Date in</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in UnpaidPurchases" ng-class="{'tr-active': item.selected}">
                                    <td>
                                        <input type="checkbox" ng-model="item.Link" ng-true-value="1" ng-false-value="0" ng-click="addOrRemoveGRB(item, UnpaidPurchases); calculateInvoice(UnpaidPurchases)">
                                    </td>
                                    <td>
                                        <a href="javascript:;" ng-bind="item.fkGRBID" ng-click="redirectGoodsIn(item.fkGRBID)"></a>
                                    </td>
                                    <td ng-bind="item.ItemNo"></td>
                                    <td ng-bind="item.Qty"></td>
                                    <td ng-bind="item.DateIn | timeFormat: 'DD/MM/YYYY'"></td>
                                    <td ng-bind="item.Description" ng-click="selectOneItem(UnpaidPurchases, item, 'selected'); selectedUnpaidPurchases(item); calculateInvoice(UnpaidPurchases)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="drop-invoice col-md-2 col-md-offset-3">
                    <div class="drop">
                        <button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="20">Drop Invoice here</button>
                    </div>
                    <div class="invoice-no">
                        <span>Invoice No.</span>
                        <input type="text" maxlength="25" ng-model="DropInvoice.InvoiceNo">
                    </div>
                </div>
            </div>
            <div class="invoice-total col-md-7 col-md-offset-5 no-padding">
                Estimated invoice total
                <input class="total" type="text" value="&#8356;{{InvoiceTotal}}"> actual total
                <input type="text" class="actual-total" ng-model="DropInvoice.ActualTotal"> invoice ok
                <input type="checkbox" ng-model="DropInvoice.InvoiceOK" ng-true-value="1" ng-false-value="0" ng-click="ProcInvoiceOK(DropInvoice)">
            </div>
        </div>
        <div class="invoice-table col-md-12">
            <div class="raise-adjustment col-md-7">
                <div class="col-md-5 adjustment-reject">
                    <div class="adjustment-title">Raise an adjustment / reject</div>
                    <div class="adjustment-no">
                        <input type="text" ng-model="NextRejectNo">RN
                    </div>
                </div>
                <div class="col-md-6 raise-note no-padding">
                    <div class="select-invoice">
                        <span>Select Invoice</span>
                        <select ng-model="RaiseNote.Invoice" ng-options="option as option.InvoiceRef for option in AllInvoiceList">
                        </select>
                    </div>
                    <div class="debit-amount">
                        <span>Debit amount</span>
                        <span class="currency-symbol currency-symbol-irish left">
                            <input type="text" ng-model="RaiseNote.DebitAmount">
                        </span>
                    </div>
                    <div class="reason">
                        <span>Reason</span>
                        <select ng-model="RaiseNote.Reason">
                            <option value="1">Incorrect Invoice price</option>
                            <option value="2">Credit not rcvd</option>
                            <option value="3">Goods tainted</option>
                        </select>
                    </div>
                    <div class="button">
                        <button class="btn-reject" ng-click="RaiseReject(RaiseNote)">Raise Reject note</button>
                        <button class="btn-adjustment" ng-click="RaiseAdjustment(RaiseNote)">Raise Adjustmnt</button>
                    </div>
                </div>
            </div>
            <div class="raise-table col-md-4 col-md-offset-1">
                <div class="area-table float-thead-wrapper">
                    <table andy-float-thead items="POInvoices">
                        <thead>
                            <tr>
                                <th>Invoice No.</th>
                                <th>Expected price</th>
                                <th>Actual price</th>
                                <th>Added by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in POInvoices">
                                <td ng-bind="item.InvoiceNo"></td>
                                <td>&#8356;{{item.ExpectedPrice}}</td>
                                <td>&#8356;{{item.ActualPrice}}</td>
                                <td ng-bind="item.User"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
