<div class="part-control">
    <div class="row">
        <div class="col-xs-12 page-tab">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active"><a ui-sref="department.part-control.part-list" ui-sref-opts="{location: false}">Parts List</a></li>
                <li ui-sref-active="active"><a ui-sref="department.part-control.assemblies({PTemplateID: PTemplateID})" ui-sref-opts="{location: false}">Assemblies</a></li>
                <li ui-sref-active="active"><a ui-sref="department.part-control.notes({PTemplateID: PTemplateID})" ui-sref-opts="{location: false}">Notes</a></li>
                <li ui-sref-active="active"><a ui-sref="department.part-control.review-tasks({PTemplateID: PTemplateID})" ui-sref-opts="{location: false}">Review tasks</a></li>
                <li ui-sref-active="active"><a ui-sref="department.part-control.docs-newpart({PTemplateID: PTemplateID})" ui-sref-opts="{location: false}">Docs / new Part</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div ui-view></div>
    </div>
</div>
