<div class="delivery-despatch-page">
    <div class="page-body">
        <div class="title-global-page">Delivery Despatch</div>
        <div class="col-md-6 no-padding">
            <div class="work-order-table">
                <div class="table-title">Completed Work Orders</div>
                <div class="area-table float-thead-wrapper">
                    <table andy-float-thead items="DispatchList">
                        <thead>
                            <tr>
                                <th>WO No.</th>
                                <th>Customer</th>
                                <th>Qty</th>
                                <th>GRB No.</th>
                                <th>Locn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DispatchList" ng-click="selectOneItem(DispatchList, item); GetDispatchDetail(DispatchList, undefined)" ng-class="{'tr-active': item.selected}">
                                <td ng-bind="item.WorkOrderID"></td>
                                <td ng-bind="item.Customer"></td>
                                <td ng-bind="item.Qty"></td>
                                <td ng-bind="item.GRBNo"></td>
                                <td ng-bind="item.Location"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="treatment-table">
                <div class="table-title">Parts for Treatment</div>
                <div class="area-table float-thead-wrapper">
                    <table andy-float-thead items="TreatmentDispatchList">
                        <thead>
                            <tr>
                                <th>PO No.</th>
                                <th>Supplier</th>
                                <th>GRB No.</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in TreatmentDispatchList" ng-click="selectOneItem(TreatmentDispatchList, item); GetDispatchDetail(undefined, TreatmentDispatchList)" ng-class="{'tr-active': item.selected}">
                                <td ng-bind="item.POnID"></td>
                                <td ng-bind="item.Supplier"></td>
                                <td ng-bind="item.GRBNo"></td>
                                <td ng-bind="item.Qty"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 no-padding">
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                    <div class="row">
                        <div class="description col-md-12">
                            <label for="" class="col-md-12">Description</label>
                            <div class="col-md-12 description-group">
                                <input type="text" readonly ng-model="DispatchDetail.Description">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="delivery-address col-md-12">
                            <label for="" class="col-md-12">Delivery Address</label>
                            <div class="delivery-address-group col-md-12">
                                <input type="text" readonly ng-model="DispatchDetail.Name">
                                <input type="text">
                                <input type="text" readonly ng-model="DispatchDetail.Address1">
                                <input type="text" readonly ng-model="DispatchDetail.Address2">
                                <input type="text" readonly ng-model="DispatchDetail.Address3">
                                <input type="text" readonly ng-model="DispatchDetail.Address4">
                                <input type="text" readonly ng-model="DispatchDetail.Postcode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="special-instructions col-md-12">
                            <label for="" class="col-md-12">Special instructions</label>
                            <div class="special-instructions-group col-md-12">
                                <textarea readonly rows="3" ng-model="DispatchDetail.SpecialInstruction"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="carriage-type col-md-12">
                            <label for="" class="col-md-6">Carriage type</label>
                            <select class="col-md-6" ng-model="Carriage" ng-options="option as option.name for option in CarriageList">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="courier col-md-12">
                            <label for="" class="col-md-6">Courier</label>
                            <select class="col-md-6" ng-model="Courier" ng-options="option as option.Name for option in CourierList">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 delivery-button">
                    <button class="back" ng-click="redirectBack()">Back</button>
                    <button class="despatched" ng-click="Dispatched()">Mark as Despatched</button>
                    <button class="print-docs" type="button" ng-click="printDocs()">Print Docs</button>
                    <button class="booked" ng-click="CourierBooked(Carriage, Courier)">Mark as Booked</button>
                </div>
            </div>
        </div>
    </div>
</div>
