<div class="customer-order-page">
    <div class="page-body">
        <div class="title-global-page">Customer Order</div>
        <div class="page-top">
            <div class="area area-1 col-xs-4">
                <div class="item">
                    <label for="">Customer</label>
                    <select name="customer" ng-model="customer" ng-options="customer as customer.Alias for customer in customers" ng-change="changeCustomer(customer)">
                    </select>
                </div>
                <div class="item">
                    <label for="">Customer Order Number</label>
                    <input type="text" ng-model="CustomerOrder.CustomerOrderRef" name="CustomerOrderRef" ng-model-option="{debounce : 500}" ng-change="UpdateCO(selectCO, CustomerOrder, ReleaseType, DeliveryPoint)" maxlength="25">
                </div>
                <div class="item">
                    <label for="">Select Customer Order</label>
                    <select ng-model="selectCO" ng-options="option as option.CustomerOrderRef for option in CustomerOrderList" ng-change="selectCustomerOrder(selectCO)" name="selectCO">
                    </select>
                </div>
            </div>
            <div class="area area-2 col-xs-3">
                <button class="new-order" type="button" ng-click="AddNewCO(customer, CustomerOrder, ReleaseType, DeliveryPoint)">New Order</button>
                <button class="customer-center" type="button" ng-click="redirectCustomerCenter()">Customer Center</button>
            </div>
            <div class="area area-3 col-xs-3 no-padding">
                <div class="item">
                    <label for="">Release type</label>
                    <select name="ReleaseType" ng-model="ReleaseType" ng-options="option as option.Approval for option in ReleaseTypes" name="ReleaseType">
                    </select>
                </div>
                <div class="item">
                    <label for="">Delivery point</label>
                    <select name="DeliveryPoint" ng-model="DeliveryPoint" ng-options="option as option.Address1 for option in DeliveryPoints" name="DeliveryPoint">
                    </select>
                </div>
            </div>
            <div class="area area-4 col-xs-2 no-padding-right">
                <button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Original Order here</button>
            </div>
        </div>
        <div class="page-content">
            <div class="customer-order float-thead-wrapper">
                <div class="area-table table-2 table-customer-order">
                    <table andy-float-thead items="LIWOinfo">
                        <thead>
                            <tr>
                                <td class="line-number no-padding">Line No.</td>
                                <td class="part-number">Part number // issue // Template cond.</td>
                                <td class="area-merge no-padding">
                                    <table>
                                        <tr>
                                            <td class="each no-padding" style="width: 65px;">₤ each</td>
                                            <td class="delivery-date" style="width: 124px;">Delivery date</td>
                                            <td class="no-padding reqd-build" style="width: 119px;">
                                                <p class="text-center">
                                                    <span>Reqd</span>
                                                    <span>Build</span>
                                                </p>
                                            </td>
                                            <td class="change-close-reason no-padding" style="width: 182px;">Change / Close Reason</td>
                                            <td class="fair no-padding" style="width: 60px;">FAIR?</td>
                                            <td class="wo-number" style="width: 121px;">W/O No.</td>
                                            <td class="table-button no-padding" style="width: 92px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="LIWO in LIWOinfo" ng-class="{'tr-active': LIWO.chooseLineItem}">
                                <td class="line-number no-padding" ng-click="selectOneItem(LIWOinfo, LIWO, 'chooseLineItem')">
                                    <span>Cust Ref</span>
                                    <input type="text" ng-model="LIWO[0].CustRef" maxlength="5" ng-model="{debounce: 500}" ng-change="UpdateLineItem(LIWO[0]); selectOneItem(LIWOinfo, LIWO, 'selected')">
                                </td>
                                <td class="part-number">
                                    <select ng-model="LIWO[0].PTemplateID" ng-options="option as option.DisplayData for option in TemplateLists" ng-change="UpdateLineItem(LIWO[0]); selectOneItem(LIWOinfo, LIWO, 'selected')"></select>
                                </td>
                                <td class="area-merge no-padding">
                                    <table>
                                        <tr ng-repeat="item in LIWO" ng-if="item.WONo !== null" ng-class="{'highlight': item.highlight}" ng-click="selectWO(item, LIWOinfo)">
                                            <td class="each no-padding">
                                                <input type="text" ng-model="item.PriceEach" ng-model-option="{debounce: 500}" ng-change="UpdateWO(item); changeEachPrice(LIWOinfo)" ng-disabled="!LIWO[0].PTemplateID || item.Live != 0">
                                            </td>
                                            <td class="delivery-date">
                                                <input class="width-90-percent" type="text" ng-disabled="!LIWO[0].PTemplateID || item.Live != 0" ng-model="item.DeliveryDate">
                                            </td>
                                            <td class="reqd-build no-padding">
                                                <input class="text-center pull-left width-48-percent" type="text" ng-model="item.Reqd" ng-change="UpdateWO(item); changeEachPrice(LIWOinfo)" ng-disabled="!LIWO[0].PTemplateID || item.Live != 0">
                                                <input class="text-center pull-right width-48-percent" type="text" ng-model="item.Build" ng-change="UpdateWO(item); changeEachPrice(LIWOinfo)" ng-disabled="!LIWO[0].PTemplateID || item.Live != 0">
                                            </td>
                                            <td class="change-close-reason no-padding">
                                                <input class="width-90-percent" ng-model="item.ChangeReason" maxlength="30" ng-change="selectOneItem(LIWOinfo, LIWO, 'selected')">
                                            </td>
                                            <td class="fair no-padding">
                                                <input type="checkbox" ng-model="item.FAIR" ng-true-value="1" ng-false-value="0" ng-disabled="!LIWO[0].PTemplateID || item.Live != 0" ng-click="UpdateWO(item)">
                                            </td>
                                            <td class="wo-number" ng-click="selectOneItem(LIWO, item, 'highlight')">
                                                <span class="font-large-bold" ng-bind="item.WONo"></span>
                                            </td>
                                            <td class="table-button no-padding">
                                                <button type="submit" class="button" ng-show="item.Live == 0" ng-click="LaunchWO(item)" ng-disabled="!LIWO[0].PTemplateID || LIWO[0].PTemplateID.PlanningComplete == 0" style="width: 76px;">Launch</button>
                                                <button type="submit" class="button" ng-show="item.Live == 1" ng-click="CancelWO(LIWO)" style="width: 76px;">Cancel / Close</button>
                                                <button type="button" class="button" ng-show="item.Live == 2" style="width: 76px;">Complete</button>
                                                <div ng-show="item.Live != 0 && item.Live != 1 && item.Live != 2" style="width: 76px;">&nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr my-enter="AddNewWO(NewWO)">
                                            <td class="col-xs-1 no-padding">
                                                <input type="text" ng-model="NewWO.PriceEach" ng-change="selectOneItem(LIWOinfo, LIWO, 'selected')">
                                            </td>
                                            <td class="col-xs-2">
                                                <input class="width-90-percent" type="text" ng-model="NewWO.DeliveryDate" ng-change="selectOneItem(LIWOinfo, LIWO, 'selected')">
                                            </td>
                                            <td class="col-xs-2 no-padding">
                                                <input class="pull-left width-48-percent" type="text" ng-model="NewWO.Reqd">
                                                <input class="pull-right width-48-percent" type="text" ng-model="NewWO.Build" ng-change="selectOneItem(LIWOinfo, LIWO, 'selected')">
                                            </td>
                                            <td class="col-xs-3 no-padding">
                                                <input class="width-90-percent" ng-model="NewWO.ChangeReason" maxlength="30" ng-change="selectOneItem(LIWOinfo, LIWO, 'selected')">
                                            </td>
                                            <td class="col-xs-1 no-padding">
                                                <input type="checkbox" ng-model="NewWO.FAIR" ng-true-value="1" ng-false-value="0" ng-change="selectOneItem(LIWOinfo, LIWO, 'selected')">
                                            </td>
                                            <td class="col-xs-2">
                                                <input type="text" class="full-width" ng-model="NewWO.WONo">
                                            </td>
                                            <td class="col-xs-1 no-padding"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr my-enter="addNewLineItem(NewLineItem)">
                                <td class="col-xs-1 no-padding">
                                    <span>Cust Ref</span>
                                    <input type="text" maxlength="5" ng-model="NewLineItem.CustRef">
                                </td>
                                <td class="col-xs-3">
                                    <select ng-model="NewLineItem.TemplateList" ng-options="option as option.DisplayData for option in TemplateLists"></select>
                                </td>
                                <td class="col-xs-8">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="total-order">
                <div class="area-1 col-xs-4 col-xs-offset-4">
                    <span class="total">&#8356;{{totalPrice}}</span>
                    <span class="total-title">Totals</span>
                    <span class="sum-quantity" ng-bind="totalReqd"></span>
                    <span class="sum-quantity" ng-bind="totalBuild"></span>
                </div>
                <div class="area-2 col-xs-4 no-padding">
                    <button class="view-order" ng-click="ViewWO(LIWOinfo)">View Work Order</button>
                    <button class="view-acknlgmnt" type="button" ng-click="openBIRT()">View Acknlgmnt</button>
                    <button class="cancel" type="button" ng-click="CancelLineItem(LIWOinfo)">Cancel Lineitem</button>
                </div>
                <!-- Modal -->
                <div modal-show modal-visible="showDialog" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="col-xs-8">
                                    <div class="form-group modal-title">
                                        <label for="" class="col-xs-12">Customer Order Lineitem Close / Cancel</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-5 col-xs-offset-3">
                                            Communication issue?
                                        </label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" ng-model="LineItem.IssueType" ng-true-value="1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-5 col-xs-offset-3">
                                            <strong>Stock</strong> issue?
                                        </label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" ng-model="LineItem.IssueType" ng-true-value="2">
                                        </div>
                                    </div>
                                    <div class="area-table">
                                        <table>
                                            <tr>
                                                <th>Why Cleared / Cancelled</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" ng-model="LineItem.CancelReason" maxlength="80" my-enter="ExecCancelLineItem(LineItem)">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area-customer-order">
                <div class="area-1 col-xs-8">
                    <div class="area-table float-thead-wrapper">
                        <table andy-float-thead items="CustOrderNotes">
                            <thead>
                                <tr>
                                    <th>Customer Order Notes</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in CustOrderNotes">
                                    <td ng-bind="item.Note"></td>
                                    <td ng-bind="item.NoteDate | timeFormat: 'DD/MM/YYYY'"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="CoNotes.Note" my-enter="addCoNotes(CoNotes)" maxlength="80">
                                    </td>
                                    <td ng-bind="item.NoteDate | timeFormat: 'DD/MM/YYYY'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="area-table float-thead-wrapper">
                        <table andy-float-thead items="AcknowNotes">
                            <thead>
                                <tr>
                                    <th>Acknowledgement Note</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in AcknowNotes">
                                    <td>
                                        {{ item.Note }}
                                        <i class="icon-remove glyphicon glyphicon-remove" ng-click="deleteAcknowNote(AcknowNotes, item)"></i>
                                    </td>
                                    <td ng-bind="item.NoteDate | timeFormat: 'DD/MM/YYYY'"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="ACNote.Note" my-enter="addACNote(ACNote)" maxlength="80">
                                    </td>
                                    <td ng-bind="item.NoteDate | timeFormat: 'DD/MM/YYYY'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="area-2 col-xs-4 no-padding">
                    <div class="area-commercially">
                        <div class="row">
                            <label for="" class="col-xs-5 col-xs-offset-1 no-padding">&nbsp;</label>
                            <span class="col-xs-1">Yes</span>
                            <span class="col-xs-1">No</span>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="row">
                            <label for="" class="col-xs-5 col-xs-offset-1 no-padding">Commercially viable?</label>
                            <div class="col-xs-1">
                                <input type="radio" ng-model="CustomerOrder.CommerciallyViable" ng-value="1" ng-change="NewCO.setCommerciallyViable(1); UpdateCO(selectCO, CustomerOrder, ReleaseType, DeliveryPoint)">
                            </div>
                            <div class="col-xs-1">
                                <input type="radio" ng-model="CustomerOrder.CommerciallyViable" ng-value="0" ng-change="NewCO.setCommerciallyViable(0); UpdateCO(selectCO, CustomerOrder, ReleaseType, DeliveryPoint)">
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div>
                    <div class="area-amendment">
                        <div class="row">
                            <label for="" class="col-xs-5 col-xs-offset-1 no-padding">&nbsp;</label>
                            <span class="col-xs-1">Yes</span>
                            <span class="col-xs-1">No</span>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="row">
                            <label for="" class="col-xs-5 col-xs-offset-1 no-padding">Amendment reviewed?</label>
                            <div class="col-xs-1">
                                <input type="radio" ng-model="CustomerOrder.AmendmentReviewed" ng-value="1" ng-change="NewCO.setAmendmentReviewed(1); UpdateCO(selectCO, CustomerOrder, ReleaseType, DeliveryPoint)">
                            </div>
                            <div class="col-xs-1">
                                <input type="radio" ng-model="CustomerOrder.AmendmentReviewed" ng-value="0" ng-change="NewCO.setAmendmentReviewed(0); UpdateCO(selectCO, CustomerOrder, ReleaseType, DeliveryPoint)">
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div>
                    <div class="area-button">
                        <button class="back" type="button" ng-click="redirectBack()">Back</button>
                        <button class="part-control" type="button" ng-click="redirectPartControl(LIWOinfo)">Part Control</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>