<div id="material-search" class="tab-pane material-tab">
    <div class="col-md-12 tab-content">
        <div class="tab-search">
            <div class="tab-title">
                <span>Enter spec</span>
                <typeahead source="SearchMaterialSpec" key="MaterialSpec" select-callback="MaterialSelected"></typeahead>
            </div>
            <div class="tab-button">
                <button ng-click="SearchMaterial()">Search</button>
            </div>
        </div>
        <div class="tab-body">
            <div class="main-table">
                <div class="area-table float-thead-wrapper">
                    <table andy-float-thead items="MatchingSpecPOs">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>PO number</th>
                                <th>Supplier</th>
                                <th>Qty</th>
                                <th>UOM</th>
                                <th>Price paid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in MatchingSpecPOs">
                                <td ng-bind="item.OrderDate | timeFormat: 'DD/MM/YYYY'"></td>
                                <td ng-bind="item.PONo"></td>
                                <td ng-bind="item.SupplierName"></td>
                                <td ng-bind="item.Qty"></td>
                                <td ng-bind="item.UOM"></td>
                                <td ng-bind="item.Price"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
