<div class="page-wrapper">
    <div class="page-content">
        <div class="title-global-page">Home</div>
        <div class="welcome">Welcome, <span ng-bind="user.getUsername()"></span></div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="human-resource col-md-4 no-padding">
                        <div class="title col-md-12 no-padding">Human Resources</div>
                        <div class="action col-md-3 no-padding">
                            <small>Book your Holiday & sick periods from here</small>
                            <button class="hr">H.R.</button>
                        </div>
                        <div class="image col-md-5">
                            <img src="../../../../../assets/images/Human_Resources.png" alt="Human Resource" />
                        </div>
                    </div>
                    <div class="system-help col-md-8 no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="system-overview col-md-6">
                                    <div class="title col-md-12 no-padding">System overview</div>
                                    <div class="image col-md-5">
                                        <img src="../../../../../assets/images/overview.jpg" alt="System overview">
                                    </div>
                                    <div class="action col-md-3 no-padding">
                                        <small>Learn about the functions</small>
                                        <button class="overview" ng-click="openHTML('system.html')">System overview</button>
                                    </div>
                                </div>
                                <div class="help col-md-6">
                                    <div class="image col-md-5">
                                        <img src="../../../../../assets/images/help.jpg" alt="Help">
                                    </div>
                                    <div class="content col-md-7 no-padding">
                                        <div class="title col-md-12">Get Help</div>
                                        <div class="action col-md-12">
                                            <button ng-click="openHTML('help.html')">Help</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search">
                                    <div class="input-search col-md-6">
                                        <input type="text">
                                    </div>
                                    <div class="title col-md-6">
                                        System wide search
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="exit-blackbird col-md-4 no-padding">
                        <div class="title col-md-12 no-padding">Exit Blackbird</div>
                        <div class="action col-md-3 no-padding">
                            <button class="exit" ng-click="logout()">Exit</button>
                        </div>
                        <div class="image col-md-5">
                            <img src="../../../../../assets/images/human_exit.jpg" alt="Exit">
                        </div>
                    </div>
                    <div class="task-table col-md-8">
                        <div class="table-control col-md-1">
                            <span class="up-control" ng-click="reverse = false"></span>
                            <span>sort</span>
                            <span class="down-control" ng-click="reverse = true"></span>
                        </div>
                        <div class="table-content col-md-11">
                            <div class="table-title">Tasks requiring your attention:</div>
                            <div class="area-table float-thead-wrapper">
                                <table andy-float-thead items="TodoList">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}" class="{{item.class}}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in TodoList | orderBy : sortBy : reverse" ng-click="selectOneItem(TodoList, item, 'selected')" ng-dblclick="redirectPage(item)" ng-class="{'tr-active': item.selected}">
                                            <td ng-bind="item.Age"></td>
                                            <td>
                                                <a class="hasTooltip">{{item.ActionType}}
                                                    <span>{{item.Description}}</span>
                                                </a>
                                            </td>
                                            <td ng-bind="item.CustomerName"></td>
                                            <td ng-bind="item.Qty"></td>
                                            <td ng-bind="item.WONo"></td>
                                            <td ng-bind="item.PartNo"></td>
                                            <td align="center">
                                                <input type="radio" ng-click="CompleteTodo(item)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
