<div class="row" id="engineering-template">
    <div class="container first-container">
        <div class="col-md-3 box-sidebar row no-padding operation-area">
            <h1 class="color-blue">Part No. {{TemplateDetail.PartNumber}}</h1>
            <h2>Issue {{TemplateDetail.IssueNumber}}</h2>
            <h2 ng-show="WorkOrderID">WO {{WorkOrderID}}</h2>
            <div class="col-md-12 button-view">
                <button type="submit" class="text-center pull-right unco">Overview</button>
            </div>
            <div class="area-table table-previous col-md-12 float-thead-wrapper">
                <table class="table-operation" andy-float-thead items="ListTemplateOps">
                    <thead>
                        <tr>
                            <th class="text-center no-padding">Operation</th>
                            <th class="text-center no-padding">Set</th>
                            <th class="text-center no-padding">Run</th>
                            <th class="text-center no-padding">L</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListTemplateOps" ng-click="selectOneItem(ListTemplateOps, item, 'selected'); selectOperation(item)" ng-class="{'tr-active': item.selected}">
                            <td class="text-center blue-bg-black-cl no-padding" ng-bind="item.Operation"></td>
                            <td class="text-center blue-bg-black-cl no-padding" ng-bind="item.EstimatedSetTime"></td>
                            <td class="text-center blue-bg-black-cl no-padding" ng-bind="item.EstimatedRunTime"></td>
                            <td class="text-center blue-bg-black-cl no-padding">
                                <input type="radio" ng-model="item.Linked" ng-value="1" disabled ng-show="item.OpTypeID == 2">
                            </td>
                        </tr>
                        <tr ng-show="AreaIcon">
                            <td colspan="4">
                                <img class="material-icon" ng-click="showIcon('material')">
                                <img class="machine-icon" ng-click="showIcon('machine')">
                                <img class="subcon-icon" ng-click="showIcon('subcon')">
                            </td>
                        </tr>
                        <tr ng-show="MaterialDropDown">
                            <td class="text-center">
                                <span>Material issue</span>
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="text" ng-model="TemplateOp.SetTime" maxlength="9">
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="text" ng-model="TemplateOp.RunTime" maxlength="9">
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="radio" ng-model="TemplateOp.Linked" ng-value="1">
                            </td>
                        </tr>
                        <tr ng-show="MachineDropDown">
                            <td class="text-center">
                                <select class="input-full" ng-model="TemplateOp.MachiningID" ng-options="option as option.Description for option in MachiningList"></select>
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="text" ng-model="TemplateOp.SetTime" maxlength="9">
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="text" ng-model="TemplateOp.RunTime" maxlength="9">
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="radio" ng-model="TemplateOp.Linked" ng-value="1">
                            </td>
                        </tr>
                        <tr ng-show="SubconDropDown">
                            <td class="text-center">
                                <select class="input-full" ng-model="TemplateOp.TreatmentID" ng-options="option as option.Description for option in SubconList"></select>
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="text" ng-model="TemplateOp.SetTime" maxlength="9">
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="text" ng-model="TemplateOp.RunTime" maxlength="9">
                            </td>
                            <td class="text-center">
                                <input class="text-center" type="radio" ng-model="TemplateOp.Linked" ng-value="1">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-partTotal">
                    <tbody>
                        <tr class="total">
                            <td class="text-center no-padding">Part Total:</td>
                            <td class="text-center no-padding" ng-bind="PartTotalSet"></td>
                            <td class="text-center no-padding" ng-bind="PartTotalRun"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-end">
                    <button type="button" class="text-center pull-right" ng-click="RmvTemplateOp(ListTemplateOps)">Rmv Op</button>
                    <button type="button" class="text-center pull-right" ng-click="AddTemplateOp(TemplateOp)">Insert</button>
                </div>
            </div>
        </div>
        <div class="col-md-9 tab-area">
            <div id="box-content">
                <div class="list-tabs">
                    <ul class="tabs">
                        <li><a ui-sref-active="active" ui-sref="department.engineering-template.material" ui-sref-opts="{location: false}">Material Requirement</a></li>
                        <!-- <li><a ui-sref-active="active" ui-sref="department.engineering-template.pering" ui-sref-opts="{location: false}">P/E Engineering</a></li> -->
                        <li><a ui-sref-active="active" ui-sref="department.engineering-template.engineering" ui-sref-opts="{location: false}">Engineering</a></li>
                        <li><a ui-sref-active="active" ui-sref="department.engineering-template.subcon" ui-sref-opts="{location: false}">Sub-con</a></li>
                        <li><a ui-sref-active="active" ui-sref="department.engineering-template.review" ui-sref-opts="{location: false}">Review</a></li>
                        <li><a ui-sref-active="active" ui-sref="department.engineering-template.overview" ui-sref-opts="{location: false}">Overview</a></li>
                    </ul>
                </div>
                <div class="containerr">
                    <!-- Box-material-requirement -->
                    <div ui-view></div>
                </div>
                <div class="row box-end col-xs-12 no-padding">
                    <div class="col-md-4">
                        <p>Engineering Issue: {{TemplateDetail.EngIssue}}</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Planning complete </strong>
                            <input type="radio" ng-model="TemplateDetail.PlanningComplete" ng-value="1" ng-click="UpdateTemplateDetail(TemplateDetail.PlanningComplete)">
                        </p>
                    </div>
                    <div class="col-md-4 no-padding">
                        <button type="button" ng-click="redirectBack()" class="text-center pull-right">Back</button>
                        <button type="button" ng-click="viewRouteCard()" class="view-route-card text-center pull-right">View Route Card</button>
                    </div>
                </div>
                <img class="img-responsive" ng-src="{{showImage}}">
            </div>
        </div>
    </div>
</div>
